Repository QuivrHQ/quivr, pull requests merged in 2023-12, with the labels that each got.

#1777 feat(supabase): local installation made easy
  backend/main.py
  docker-compose.supabase.yml
  docs/docs/Developers/selfHosted/run_fully_local.md
Labels: area: backend, size:XL

#1780 feat(install): it now takes 30 seconds to install Quivr
  .backend_env.example
  .env.example
  .frontend_env.example
  .gitignore
  .migration_info
  README.md
  docker-compose.local.yml
  docker-compose.supabase.yml
  docker-compose.yml
  docs/docs/Developers/contribution/env.md
  docs/docs/Developers/contribution/llm/private-llm.md
  docs/docs/Developers/selfHosted/run_fully_local.md
  frontend/Dockerfile
  install_helper.sh
  scripts/tables.sql
  volumes/api/kong.yml
  volumes/db/init/data.sql
  volumes/db/jwt.sql
  volumes/db/logs.sql
  volumes/db/realtime.sql
  volumes/db/roles.sql
  volumes/db/webhooks.sql
  volumes/functions/hello/index.ts
  volumes/functions/main/index.ts
  volumes/logs/vector.yml
Labels: area: backend, size:XXL

#1800 docs: fix typo in name of docker compose dev file
  README.md
Labels: area: docs, size:S

#1765 chore(main): release 0.0.126
  CHANGELOG.md
Labels: autorelease: pending, size:S

#1802 feat(api-keys): added customization
  backend/modules/api_key/controller/api_key_routes.py
  backend/modules/api_key/entity/api_key.py
  backend/modules/api_key/repository/api_key_interface.py
  backend/modules/api_key/repository/api_keys.py
  scripts/20231203173900_new_api_key_format.sql
  scripts/pg_tables.sql
  scripts/tables-ollama.sql
  scripts/tables.sql
Labels: area: backend, size:L

#1807 feat(embedding): now 100 times faster ⚡️🔥
  backend/celery_task.py
  backend/packages/embeddings/vectors.py
  backend/packages/files/parsers/common.py
Labels: area: backend, size:M

#1810 feat: track response source usage
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/SourcesButton.tsx
Labels: area: frontend, lgtm, size:M

#1813 doc: add VirtioFS instruction for MacOS users
  README.md
Labels: area: docs, lgtm, size:XS

#1812 refactor: chat for multibrains
  backend/chat_service.py
  backend/llm/api_brain_qa.py
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
  backend/llm/utils/call_brain_api.py
  backend/llm/utils/format_chat_history.py
  backend/main.py
  backend/models/__init__.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/supabase.py
  backend/models/settings.py
  backend/modules/brain/repository/brains.py
  backend/modules/brain/repository/external_api_secrets.py
  backend/modules/brain/repository/interfaces/brains_interface.py
  backend/modules/brain/repository/interfaces/external_api_secrets_interface.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/__init__.py
  backend/modules/chat/controller/__init__.py
  backend/modules/chat/controller/chat/__init_.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat/brainless_chat.py
  backend/modules/chat/controller/chat/factory.py
  backend/modules/chat/controller/chat/interface.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/dto/chats.py
  backend/modules/chat/dto/inputs.py
  backend/modules/chat/dto/outputs.py
  backend/modules/chat/entity/chat.py
  backend/modules/chat/repository/chats.py
  backend/modules/chat/repository/chats_interface.py
  backend/modules/chat/service/chat_service.py
  backend/modules/chat/service/utils.py
  backend/repository/brain/delete_brain_secrets.py
  backend/repository/brain/get_question_context_from_brain.py
  backend/repository/chat/__init__.py
  backend/repository/chat/add_question_and_answer.py
  backend/repository/chat/create_chat.py
  backend/repository/chat/get_chat_by_id.py
  backend/repository/chat/get_chat_history.py
  backend/repository/chat/get_user_chats.py
  backend/repository/chat/update_chat.py
  backend/repository/chat/update_chat_history.py
  backend/repository/chat/update_message_by_id.py
  backend/repository/external_api_secret/__init__.py
  backend/repository/external_api_secret/create_secret.py
  backend/repository/external_api_secret/read_secret.py
  backend/repository/external_api_secret/update_secret_value.py
  backend/repository/external_api_secret/utils.py
  backend/routes/brain_routes.py
  backend/routes/subscription_routes.py
Labels: area: backend, lgtm, size:XL

#1815 feat(prebuilt): prebuild backend image for faster compilation
  .github/workflows/aws-preview.yml
  docker-compose.yml
Labels: size:S

#1804 fix: text not clear in dark mode
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent.tsx
Labels: area: frontend, size:XS

#1811 chore(main): release 0.0.128
  CHANGELOG.md
Labels: autorelease: pending, lgtm, size:S

#1819 feat(requirements): update aws version
  backend/requirements.txt
Labels: area: backend, size:XS

#1823 feat: add brain creation step 2
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/AddBrainSteps.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/BrainParamsStep.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/hooks/useBrainParamsStep.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/hooks/useBrainStatusOptions.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/hooks/usePublicAccessConfirmationModal.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainTypeSelectionStep/BrainTypeSelectionStep.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainTypeSelectionStep/hooks/useBrainTypeSelectionStep.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/Stepper/Stepper.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/Stepper/components/Step.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/hooks/useBrainCreationSteps.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/types.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/zh-cn/translation.json
Labels: area: frontend, lgtm, size:L

#1825 feat: finalise steps based brain creation
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/hooks/useFeedBrainHandler.ts
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/AddBrainModalSelector.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/AddBrainSteps.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/BrainKnowledgeStep.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/components/KnowledgeToFeedInput.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/hooks/useBrainCreationApi.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/hooks/useBrainCreationHandler.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/hooks/useBrainKnowledgeStep.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/BrainParamsStep.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/components/PublicAccessConfirmationModal.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/hooks/useBrainCreationSteps.ts
  frontend/lib/components/AddBrainModal/index.ts
  frontend/lib/components/AddBrainModalOld/AddBrainModal.tsx
  frontend/lib/components/AddBrainModalOld/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/components/AddBrainModalOld/components/AddBrainConfig/hooks/useAddBrainConfig.ts
  frontend/lib/components/AddBrainModalOld/components/AddBrainConfig/hooks/useAddBrainConfigLabels.ts
  frontend/lib/components/AddBrainModalOld/components/AddBrainConfig/index.ts
  frontend/lib/components/AddBrainModalOld/components/AddBrainConfig/types.ts
  frontend/lib/components/AddBrainModalOld/components/index.ts
  frontend/lib/components/AddBrainModalOld/index.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinitionDefaultValues.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinitionDefaultValues.ts
  frontend/lib/components/KnowledgeToFeedInput/hooks/useKnowledgeToFeedInput.ts.ts
  frontend/lib/components/ui/TextArea.tsx
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/hooks/useKnowledgeToFeed.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend, lgtm, size:XL

#1820 chore(main): release 0.0.129
  CHANGELOG.md
Labels: autorelease: pending, area: backend, lgtm, size:S

#1833 chore(main): release 0.0.130
  CHANGELOG.md
Labels: autorelease: pending, area: docs, size:XS

#1834 feat: update onboarding questions answer
  .vscode/settings.json
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/hooks/useOnboardingQuestion.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/styles.css
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend, lgtm, size:L

#1837 feat: composite brains get
  backend/llm/__init__.py
  backend/llm/api_brain_qa.py
  backend/llm/knowledge_brain_qa.py
  backend/modules/brain/repository/composite_brains_connections.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat_routes.py
Labels: area: backend, lgtm, size:S

#1836 feat: add Agent creation frontend
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/BrainKnowledgeStep.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/components/CompositeBrainConnections/Components/ConnectableBrain/ConnectableBrain.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/components/CompositeBrainConnections/Components/ConnectableBrain/hooks/useConnectableBrain.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/components/CompositeBrainConnections/CompositeBrainConnections.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/hooks/useBrainCreationApi.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainKnowledgeStep/hooks/useBrainKnowledgeStep.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainTypeSelectionStep/hooks/useKnowledgeSourceLabel.ts
  frontend/lib/components/ui/Checkbox.tsx
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/types/brainConfig.ts
  frontend/package.json
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
  frontend/yarn.lock
Labels: area: backend, area: frontend, lgtm, size:L

#1840 feat: keep sidebar opened on non mobile devices
  frontend/lib/hooks/useDevice.ts
Labels: area: frontend, lgtm, size:XS

#1842 feat: add brains list overflow indicator
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/MentionsList.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/hooks/useSuggestionsOverflowHandler.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useMentionConfig.ts
Labels: area: frontend, lgtm, size:M

#1847 feat: add generate_answer function to support non streamed response for api brain
  backend/llm/api_brain_qa.py
  backend/requirements.txt
Labels: area: backend, lgtm, size:M

#1853 fix(ollama): - update supabase-db postgres docker image version
  docker-compose-ollama.yml
Labels: area: backend, lgtm, size:XS

#1848 chore(main): release 0.0.132
  CHANGELOG.md
Labels: autorelease: pending, area: backend, lgtm, size:S

#1857 chore(main): release 0.0.133
  CHANGELOG.md
Labels: autorelease: pending, size:XS

#1858 feat: add custom rag first abstraction layer
  backend/llm/api_brain_qa.py
  backend/llm/knowledge_brain_qa.py
  backend/llm/qa_headless.py
  backend/llm/qa_interface.py
  backend/llm/rags/quivr_rag.py
  backend/llm/rags/rag_interface.py
Labels: area: backend, lgtm, size:L

#1860 feat(payment): added modal of right size
  docker-compose-dev-saas-supabase.yml
  frontend/lib/components/ShareBrain/ShareBrain.tsx
  frontend/lib/components/Stripe/PricingModal/StripePricingModal.tsx
  frontend/lib/components/ui/ModalPayment.tsx
Labels: area: frontend, size:L

#1862 chore(main): release 0.0.135
  CHANGELOG.md
Labels: autorelease: pending, area: docs, size:XS

#1869 feat: Add @tailwindcss/forms plugin and update
  Makefile
  docker-compose-no-frontend.dev.yml
  frontend/package.json
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: area: frontend, size:XL

#1872 feat: Refactor get_question_context_for_brain endpoint
  backend/modules/brain/controller/brain_routes.py
  backend/repository/brain/get_question_context_from_brain.py
  backend/vectorstore/supabase.py
  frontend/lib/api/brain/brain.ts
  frontend/lib/api/brain/useBrainApi.ts
Labels: area: backend, area: frontend, size:M

#1874 feat: Add file URL to DocumentAnswer objects
  backend/repository/brain/get_question_context_from_brain.py
  backend/repository/files/generate_file_signed_url.py
Labels: area: backend, size:S

#1875 Update .gitignore and add .gitmodules
  .gitignore
  .gitmodules
Labels: size:XS

#1870 feat: add new actions modal
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/Button.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/ConfigModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/hooks/useConfigModal.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/layout.tsx
  frontend/app/user/components/LanguageDropDown/LanguageDropDown.tsx
  frontend/app/user/components/LanguageDropDown/index.ts
  frontend/app/user/components/LanguageSelect/LanguageSelect.tsx
  frontend/app/user/components/LanguageSelect/__tests__/LanguageSelect.test.tsx
  frontend/app/user/components/LanguageSelect/hooks/useLanguageHook.ts
  frontend/app/user/page.tsx
  frontend/lib/components/UserToInvite.tsx
  frontend/lib/components/ui/Button.tsx
  frontend/lib/components/ui/Popover.tsx
  frontend/lib/components/ui/Select.tsx
  frontend/tailwind.config.js
Labels: area: frontend, size:L

#1873 feat: add selected brain tag and new discussion button to actions modal
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/ConfigModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/NewDiscussionButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/SelectedBrainTag.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
  frontend/tailwind.config.js
Labels: area: frontend, size:M

#1867 chore(main): release 0.0.136
  CHANGELOG.md
Labels: autorelease: pending, size:S

#1877 feat: add chat history to Actions modal
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/ChatHistoryButton.tsx
  frontend/app/chat/components/ChatsList/components/WelcomeChat/WelcomeChat.tsx
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/lib/components/ChatHistory/ChatHistory.tsx
  frontend/lib/components/ChatHistory/utils.ts
  frontend/lib/components/ChatsListItem/ChatsListItem.tsx
  frontend/lib/components/ChatsListItem/components/ChatName.tsx
  frontend/lib/components/ChatsListItem/hooks/useChatsListItem.ts
  frontend/lib/components/ChatsListItem/index.ts
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend, lgtm, size:M

#1880 feat: allow user to control left panel from Chat input
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/MenuControlButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/components/ChatsList/__tests__/ChatsList.test.tsx
  frontend/lib/components/Sidebar/Sidebar.tsx
  frontend/lib/components/Sidebar/__tests__/Sidebar.test.tsx
  frontend/lib/components/Sidebar/components/SidebarHeader.tsx
  frontend/lib/context/SidebarProvider/hooks/useSideBarContext.ts
  frontend/lib/context/SidebarProvider/sidebar-provider.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend, lgtm, size:L

#1886 chore(main): release 0.0.138
  CHANGELOG.md
Labels: autorelease: pending, area: docs, size:XS

#1882 feat: allow user to feed brain from Actions bar
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/FeedCardTrigger.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/hooks/useFeedCardTrigger.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/hooks/useFeedCardTriggerUtils.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/hooks/useActionBar.ts
  frontend/lib/helpers/getBrainIconFromBrainType.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend, lgtm, size:L

#1890 feat: Remove unused method and update file processing
  backend/models/databases/supabase/vectors.py
  backend/packages/files/parsers/common.py
Labels: area: backend, size:S

#1892 feat: add default feed button label
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/hooks/useFeedCardTrigger.ts
Labels: area: frontend, lgtm, size:S

#1887 chore(main): release 0.0.139
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#1893 feat: Update pytest command in Makefile and add new test
  .vscode/settings.json
  Makefile
  backend/conftest.py
  backend/main.py
  backend/modules/api_key/tests/test_api_key.py
  backend/modules/brain/tests/test_brains.py
  backend/modules/chat/tests/test_chats.py
  backend/modules/notification/tests/test_notification.py
  backend/modules/onboarding/tests/test_onboarding.py
  backend/modules/prompt/tests/test_prompt.py
  backend/modules/upload/tests/test_files/test.csv
  backend/modules/upload/tests/test_files/test.pdf
  backend/modules/upload/tests/test_files/test.txt
  backend/modules/upload/tests/test_upload.py
  backend/modules/user/tests/test_user_controller.py
  backend/tests/test_api_key.py
Labels: autorelease: pending, area: backend, type: dependencies, lgtm, size:L

#1896 chore: add IDE extension for i18n handling
  .vscode/extensions.json
  project.inlang/settings.json
Labels: lgtm, size:M

#1897 feat: add chat view new design
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/Button.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/__tests__/ChatsList.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/index.tsx
  frontend/app/chat/[chatId]/hooks/useChatNotificationsSync.ts
  frontend/app/chat/[chatId]/hooks/useChatsList.ts
  frontend/app/chat/[chatId]/page.tsx
  frontend/lib/components/ChatHistory/ChatHistory.tsx
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/AnimationDiv.tsx
  frontend/lib/components/Menu/hooks/useMenuWidth.ts
  frontend/lib/components/Menu/hooks/useOutsideClickListener.ts
  frontend/lib/context/ChatsProvider/chats-provider.tsx
  frontend/lib/context/ChatsProvider/hooks/useChatsContext.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
  frontend/tailwind.config.js
Labels: enhancement, area: frontend, lgtm, size:L

#1894 chore(main): release 0.0.140
  CHANGELOG.md
Labels: autorelease: pending, size:S

#1901 feat: Update Explore button label
  frontend/public/locales/en/translation.json
Labels: area: frontend, size:XS

#1883 feat: chat with compositeBrain ( with/out streaming)
  backend/llm/api_brain_qa.py
  backend/llm/composite_brain_qa.py
  backend/llm/knowledge_brain_qa.py
  backend/llm/qa_headless.py
  backend/llm/qa_interface.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/dto/outputs.py
Labels: area: backend, lgtm, size:XXL

#1903 feat: update brains library
  frontend/app/brains-management/library/page.tsx
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/layout.tsx
  frontend/app/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/library/components/PublicBrainItem/components/SecretsDefinitionFields.tsx
  frontend/app/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/app/library/components/PublicBrainItem/index.ts
  frontend/app/library/components/PublicBrainItem/utils/formatDate.ts
  frontend/app/library/components/PublicBrainItem/utils/generatePublicBrainLink.ts
  frontend/app/library/components/index.ts
  frontend/app/library/hooks/useBrainsLibrary.tsx
  frontend/app/library/layout.tsx
  frontend/app/library/page.tsx
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/BrainsManagementButton.tsx
  frontend/lib/components/Menu/components/DiscussionButton.tsx
  frontend/lib/components/Menu/components/ExplorerButton.tsx
  frontend/lib/components/Menu/components/ParametersButton.tsx
  frontend/lib/components/Menu/components/ProfileButton.tsx
  frontend/lib/components/Menu/hooks/useMenuWidth.ts
  frontend/lib/helpers/getBrainIconFromBrainType.tsx
  frontend/next.config.js
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend, size:XL

#1900 chore(main): release 0.0.141
  CHANGELOG.md
Labels: autorelease: pending, area: docs, size:S, release

#1906 feat: add new brain management page
  backend/modules/brain/entity/brain_entity.py
  backend/modules/brain/repository/brains_users.py
  frontend/app/brains-management/[brainId]/page.tsx
  frontend/app/brains-management/components/BrainsTabs/BrainsTabs.tsx
  frontend/app/brains-management/components/BrainsTabs/components/BrainItem.tsx
  frontend/app/brains-management/components/BrainsTabs/components/BrainSearchBar.tsx
  frontend/app/brains-management/components/BrainsTabs/components/BrainsList.tsx
  frontend/app/brains-management/components/BrainsTabs/components/StyledTabsTrigger.tsx
  frontend/app/brains-management/components/BrainsTabs/hooks/useBrainsTabs.ts
  frontend/app/brains-management/components/BrainsTabs/types.ts
  frontend/app/brains-management/layout.tsx
  frontend/app/brains-management/page.tsx
  frontend/lib/api/brain/utils/mapBackendMinimalBrainToMinimalBrain.ts
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/AddBrainSteps.tsx
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/ui/Tabs.tsx
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/lib/context/BrainProvider/types.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/zh-cn/brain.json
  frontend/public/locales/zh-cn/translation.json
Labels: area: frontend, lgtm, size:XL

#1910 feat: update brain details page
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.test.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/BrainAccess/BrainAccess.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/BrainAccess/components/BrainAccessRadio.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/hooks/useGeneralInformation.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainFetcher.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/BrainsList.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListDisplayToggleButton/BrainListDisplayToggleButton.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/BrainListItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/hooks/useBrainListItem.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/index.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainSearchBar/BrainSearchBar.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainSearchBar/index.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/hooks/useBrainsList.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/index.ts
  frontend/app/brains-management/[brainId]/components/index.ts
  frontend/app/brains-management/[brainId]/hooks/useBrainManagement.ts
  frontend/app/brains-management/[brainId]/page.tsx
  frontend/app/brains-management/components/BrainsTabs/BrainsTabs.tsx
  frontend/app/brains-management/components/StyledTabsTrigger.tsx
  frontend/lib/components/ui/Button.tsx
  frontend/lib/components/ui/Divider.tsx
  frontend/lib/components/ui/Field.tsx
  frontend/lib/components/ui/TextArea.tsx
  frontend/lib/hooks/useBrainIdFromUrl.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/config.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/fr/config.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend, lgtm, size:XL

#1907 chore(main): release 0.0.142
  CHANGELOG.md
Labels: autorelease: pending, area: frontend, size:XS

#1919 feat(docs): added homepage
  docs/developers/contribution/architecture.mdx
  docs/developers/selfHosting/run_fully_local.mdx
  docs/developers/useQuivr/chat.mdx
  docs/images/answer_schema.png
  docs/images/api-brain-params.png
  docs/images/api-brain-search-params.png
  docs/images/api-brain-secrets.png
  docs/images/architectural-high-level.png
  docs/images/docusaurus-social-card.jpg
  docs/images/docusaurus.png
  docs/images/homepage.png
  docs/images/logo.png
  docs/images/logo.svg
  docs/images/north-star-quivr.png
  docs/images/quivr-logo.ico
  docs/images/undraw_docusaurus_mountain.svg
  docs/images/undraw_docusaurus_react.svg
  docs/images/undraw_docusaurus_tree.svg
  docs/intro.mdx
  docs/mint.json
  docs/roadmap.mdx
  docs/userGuide/api-based-brains.mdx
  docs/userGuide/what-is-a-brain.mdx
Labels: area: docs, type: dependencies, size:L

#1918 chore(main): release 0.0.143
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: docs, size:S

#1923 feat: 🎸 pricing
  frontend/app/(home)/components/HomeHeader/hooks/useHomeHeader.tsx
  frontend/app/pricing/page.tsx
  frontend/public/locales/en/contact.json
  frontend/public/locales/en/home.json
  frontend/public/locales/es/contact.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/contact.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/contact.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/contact.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/contact.json
  frontend/public/locales/zh-cn/home.json
Labels: area: frontend, size:L

#1925 feat(pricing): added testimonials and else
  frontend/app/pricing/page.tsx
Labels: area: frontend, size:S

#1924 chore(main): release 0.0.144
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1927 feat: 🎸 posthog
  docs/home/faq/privacy.mdx
  frontend/app/App.tsx
  frontend/next.config.js
  frontend/package.json
  frontend/services/analytics/june/useEventTracking.ts
  frontend/services/analytics/june/useJune.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: area: frontend, type: dependencies, size:M

#1928 chore(main): release 0.0.145
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1929 feat: 🎸 posthog
  frontend/next.config.js
Labels: area: frontend, type: dependencies, size:XS

#1930 chore(main): release 0.0.146
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1931 feat: 🎸 posthog
  frontend/app/App.tsx
Labels: area: frontend, size:XS

#1932 chore(main): release 0.0.147
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1933 chore(main): release 0.0.148
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1935 feat: 🎸 pricing
  frontend/app/pricing/page.tsx
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/PricingTable.tsx
Labels: area: frontend, size:M

#1934 chore(main): release 0.0.149
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1936 feat: 🎸 posthog
  frontend/app/App.tsx
  frontend/services/analytics/june/useEventTracking.ts
Labels: area: frontend, size:S

#1937 chore(main): release 0.0.150
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1938 feat: 🎸 posthog
  frontend/app/App.tsx
Labels: area: frontend, size:XS

#1939 chore(main): release 0.0.151
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS
