Repository QuivrHQ/quivr, pull requests merged in 2023-09, with the labels that each got.

#1102 chore(main): release 0.0.67
  CHANGELOG.md
Labels: autorelease: pending

#1113 chore(main): release 0.0.68
  CHANGELOG.md
Labels: autorelease: pending

#1126 chore(main): release 0.0.69
  CHANGELOG.md
Labels: autorelease: pending

#1156 chore(main): release 0.0.70
  CHANGELOG.md
Labels: autorelease: pending

#1162 chore(main): release 0.0.71
  CHANGELOG.md
Labels: autorelease: pending

#1169 chore(main): release 0.0.72
  CHANGELOG.md
Labels: autorelease: pending

#1171 chore(main): release 0.0.73
  CHANGELOG.md
Labels: autorelease: pending

#1172 chore(main): release 0.0.74
  CHANGELOG.md
Labels: autorelease: pending

#1175 chore(main): release 0.0.75
  CHANGELOG.md
Labels: autorelease: pending

#1196 chore(main): release 0.0.76
  CHANGELOG.md
Labels: autorelease: pending

#1215 chore(main): release 0.0.77
  CHANGELOG.md
Labels: autorelease: pending

#1217 chore(main): release 0.0.78
  CHANGELOG.md
Labels: autorelease: pending

#1240 chore(main): release 0.0.80
  CHANGELOG.md
Labels: autorelease: pending

#1241 feat: activate public brain subscription
  backend/celery_worker.py
  backend/models/brain_entity.py
  backend/models/databases/supabase/brains.py
  backend/repository/brain/update_brain.py
  backend/repository/brain/update_brain_last_update_time.py
  backend/routes/authorizations/brain_authorization.py
  backend/routes/subscription_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/utils/isUserBrainOwner.ts
  frontend/app/brains-management/library/components/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/app/brains-management/library/components/PublicBrainItem/index.ts
  frontend/app/brains-management/library/components/PublicBrainItem/utils/formatDate.ts
  frontend/app/brains-management/library/components/index.ts
  frontend/app/brains-management/library/hooks/useBrainsLibrary.tsx
  frontend/app/brains-management/library/page.tsx
  frontend/lib/api/subscription/subscription.ts
  frontend/lib/api/subscription/useSubscriptionApi.ts
  frontend/lib/context/BrainProvider/types.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
  scripts/20230921160000_add_last_update_field_to_brain.sql
  scripts/tables.sql
Labels: area: backend

#1246 feat(publicBrain): disable subscribe button when already subscribed and refetch brains list
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/utils/getBrainPermissions.ts
  frontend/app/brains-management/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend

#1247 fix(preview): fixed a few bugs unchecked
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/useKnowledgeItem.ts
Labels: area: frontend

#1252 feat: add last_update field to brain table
  scripts/tables.sql
Labels: area: scripts

#1253 fix: urls to avoid 307
  backend/routes/knowledge_routes.py
Labels: area: backend

#1254 feat: allow user to unsubscribe from a brain
  backend/models/brains.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/brains.py
  backend/repository/brain/delete_brain_user.py
  backend/routes/subscription_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/ConfirmationDeleteModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/DeleteOrUnsubscribeConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/__tests__/DeleteOrUnsubscribeConfirmationModal.test.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainFetcher.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainManagementTabs.ts
  frontend/app/brains-management/[brainId]/page.tsx
  frontend/lib/api/subscription/subscription.ts
  frontend/lib/api/subscription/useSubscriptionApi.ts
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/public/locales/en/deleteBrain.json
  frontend/public/locales/en/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/es/deleteBrain.json
  frontend/public/locales/es/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/fr/deleteBrain.json
  frontend/public/locales/fr/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/pt-br/deleteBrain.json
  frontend/public/locales/pt-br/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/ru/deleteBrain.json
  frontend/public/locales/ru/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/zh-cn/deleteBrain.json
  frontend/public/locales/zh-cn/deleteOrUnsubscribeFromBrain.json
Labels: area: backend

#1256 feat(user): 🚚 Move language and theme buttons to the User page
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/__tests__/DocumentData.test.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/NavBar/components/NavItems/index.tsx
Labels: enhancement, good first issue, frontend, area: frontend

#1251 Update next.config.js
  frontend/next.config.js
Labels: area: frontend

#1258 feat: allow setting public brain status to private
  backend/models/databases/supabase/brains.py
  backend/repository/brain/delete_brain_users.py
  backend/routes/authorizations/brain_authorization.py
  backend/routes/brain_routes.py
  backend/routes/chat_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/PrivateAccessConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/hooks/usePrivateAccessConfirmationModal.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useBrainFormState.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/hooks/useHandleStream.ts
  frontend/app/chat/[chatId]/hooks/useQuestion.ts
  frontend/lib/components/AddBrainModal/hooks/useAddBrainModal.ts
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/lib/hooks/useUserData.ts
  frontend/lib/types/brainConfig.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: backend

#1242 chore(main): release 0.0.81
  CHANGELOG.md
Labels: autorelease: pending

#1264 fix(RBAC): skip validation for unplug
  backend/routes/chat_routes.py
Labels: area: backend

#1265 chore(main): release 0.0.82
  CHANGELOG.md
Labels: autorelease: pending

#1262 feat(nav): 🚚 Move Brain and User buttons to the sidebar in the chat
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/__tests__/DeleteOrUnsubscribeConfirmationModal.test.tsx
  frontend/app/chat/components/ChatsList/__tests__/ChatsList.test.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/BrainManagementButton.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/MiniFooter.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/SidebarActions.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/UserButton.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/styles/SidebarLinkStyle.tsx
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/app/user/components/DarkModeToggle.tsx
  frontend/app/user/components/LanguageDropDown/LanguageDropDown.tsx
  frontend/app/user/components/LanguageDropDown/hooks/useLanguageHook.ts
  frontend/app/user/components/LanguageDropDown/index.ts
  frontend/app/user/page.tsx
  frontend/lib/components/NavBar/components/NavItems/components/BrainManagementButton.tsx
  frontend/lib/components/NavBar/components/NavItems/index.tsx
  frontend/lib/components/NavBar/index.tsx
Labels: enhancement, frontend, area: frontend

#1259 style: improve upload ux
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FeedItems/FeedItems.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FileUploader/index.tsx
  frontend/pnpm-lock.yaml
  frontend/public/locales/en/upload.json
Labels: area: frontend

#1263 style: improve ui
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/DeleteOrUnsubscribeConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/PrivateAccessConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/BrainsList.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListDisplayToggleButton/BrainListDisplayToggleButton.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/BrainListItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/hooks/useBrainListItem.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/index.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainSearchBar/BrainSearchBar.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainSearchBar/index.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/hooks/useBrainsList.ts
  frontend/app/brains-management/[brainId]/components/BrainsList/index.ts
  frontend/app/brains-management/[brainId]/components/index.ts
  frontend/app/brains-management/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/app/brains-management/library/page.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FeedItems/FeedItems.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FileUploader/index.tsx
  frontend/lib/components/AddBrainModal/components/PublicAccessConfirmationModal.tsx
  frontend/lib/components/ui/Button.tsx
  frontend/lib/components/ui/Modal.tsx
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend

#1267 chore(main): release 0.0.83
  CHANGELOG.md
Labels: autorelease: pending, area: frontend

#1268 feat: 👤 Implement gravatar
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/UserButton.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/hooks/useGravatar.ts
  frontend/next.config.js
Labels: enhancement, frontend, area: frontend

#1274 feat: improve knowledge feed process ux
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/Modals/DeleteOrUnsubscribeConfirmationModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/FeedBrainInput.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/BrainSelector.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/components/BrainSuggestion.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/components/BrainSuggestionsContainer.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/components/SuggestionRow.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/hooks/helpers/MentionPlugin.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/hooks/helpers/MentionState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/hooks/useBrainSelector.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/BrainSelector/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/hooks/useFeedBrainInput.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/FeedBrainInput/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/utils/formatMinimalBrainsToSelectComponentInput.ts
  frontend/app/chat/[chatId]/components/ActionsBar/hooks/useActionBar.ts
  frontend/app/chat/[chatId]/hooks/useSelectedChatPage.ts
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/components/ChatsList/hooks/useChatNotificationsSync.ts
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/lib/components/KnowledgeToFeedInput/KnowledgeToFeedInput.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/helpers/isValidUrl.ts
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/hooks/useCrawler.ts
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/index.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/FeedItems.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/CrawlFeedItem.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FeedTitleDisplayer/FeedTitleDisplayer.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FeedTitleDisplayer/index.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FeedTitleDisplayer/utils/enhanceUrlDisplay.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FeedTitleDisplayer/utils/removeFileExtension.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FileFeedItem/FileFeedItem.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/FileFeedItem/index.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/components/index.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/index.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/styles/StyledFeedItemDiv.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FileUploader/hooks/useFileUploader.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FileUploader/index.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/index.ts
  frontend/lib/components/KnowledgeToFeedInput/hooks/useKnowledgeToFeedInput.ts.ts
  frontend/lib/components/KnowledgeToFeedInput/index.ts
  frontend/lib/components/ui/Select.tsx
  frontend/public/locales/en/upload.json
  frontend/public/locales/es/upload.json
  frontend/public/locales/fr/upload.json
  frontend/public/locales/pt-br/upload.json
  frontend/public/locales/ru/upload.json
  frontend/public/locales/zh-cn/upload.json
Labels: area: frontend

#1273 fix: 🔒️ add gravatar.com to the content security policy
  frontend/next.config.js
Labels: area: frontend

#1275 feat(chatPage): update ui add new feed component
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/hooks/useSelectedChatPage.ts
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/components/ChatsList/hooks/useChatNotificationsSync.ts
  frontend/app/chat/layout.tsx
  frontend/lib/components/KnowledgeToFeedInput/KnowledgeToFeedInput.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/hooks/useCrawler.ts
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/index.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/FeedItems.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/FileUploader/hooks/useFileUploader.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FileUploader/index.tsx
  frontend/lib/components/KnowledgeToFeedInput/hooks/useKnowledgeToFeedInput.ts.ts
  frontend/lib/components/ui/Select.tsx
  frontend/lib/context/KnowledgeProvider/hooks/useKnowledgeContext.tsx
  frontend/lib/context/KnowledgeProvider/knowledge-provider.tsx
  frontend/lib/helpers/acceptedFormats.ts
  frontend/lib/hooks/useDropzone.ts
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/zh-cn/translation.json
Labels: area: frontend

#1277 feat: knowledge tab add button
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/AddKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/DeleteKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/useKnowledgeItem.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useFeedBrain.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useKnowledgeTab.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/index.tsx
  frontend/app/brains-management/layout.tsx
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/hooks/useFeedBrainInChat.ts
  frontend/app/chat/[chatId]/hooks/useSelectedChatPage.ts
  frontend/app/chat/layout.tsx
  frontend/lib/components/KnowledgeToFeedInput/KnowledgeToFeedInput.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/hooks/useCrawler.ts
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/FeedItems.tsx
  frontend/lib/components/KnowledgeToFeedInput/hooks/useKnowledgeToFeedInput.ts.ts
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/lib/context/KnowledgeProvider/index.ts
  frontend/lib/context/KnowledgeToFeedProvider/hooks/useKnowledgeToFeedContext.tsx
  frontend/lib/context/KnowledgeToFeedProvider/index.ts
  frontend/lib/context/KnowledgeToFeedProvider/knowledgeToFeed-provider.tsx
  frontend/lib/context/index.tsx
  frontend/lib/hooks/useDropzone.ts
  frontend/public/locales/en/knowledge.json
  frontend/public/locales/es/knowledge.json
  frontend/public/locales/fr/knowledge.json
  frontend/public/locales/pt-br/knowledge.json
  frontend/public/locales/ru/knowledge.json
  frontend/public/locales/zh-cn/knowledge.json
Labels: area: frontend

#1272 fix(brains): get brains on local
  backend/models/databases/supabase/brains.py
Labels: area: backend

#1271 chore(main): release 0.0.84
  CHANGELOG.md
Labels: autorelease: pending, area: backend

#1282 🚑 return to old CSP syntax
  frontend/next.config.js
Labels: area: frontend

#1284 fix(script): added percent before list of emails
  scripts/quivr_team_only/theodo_gpt4.sql
Labels: area: scripts

#1288 test: add e2e for crawling
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/BrainManagementButton.tsx
  frontend/e2e/index.ts
  frontend/e2e/tests/createBrain.ts
  frontend/e2e/tests/upload.ts
  frontend/e2e/utils/login.ts
  frontend/lib/components/KnowledgeToFeedInput/KnowledgeToFeedInput.tsx
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/index.tsx
  frontend/lib/components/NavBar/components/Logo.tsx
  frontend/playwright.config.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend
