Repository QuivrHQ/quivr, pull requests merged in 2023-11, with the labels that each got.

#1533 chore(main): release 0.0.102
  CHANGELOG.md
Labels: autorelease: pending, area: docs

#1541 feat: allow to share a public brain link
  frontend/app/brains-management/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/app/brains-management/library/components/PublicBrainItem/utils/generatePublicBrainLink.ts
Labels: area: frontend

#1543 fix: prompt update in brains management settings tab
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
Labels: area: frontend

#1546 refactor: extract prompt from settings
  backend/routes/brain_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/Prompt/Prompt.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/usePrompt.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/utils/checkBrainName.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/utils/checkOpenAiKey.ts
Labels: area: frontend

#1555 feat: 🎸 telegram
  backend/loaders/__init__.py
  backend/loaders/telegram.py
  backend/parsers/telegram.py
  backend/repository/brain/get_question_context_from_brain.py
  backend/utils/processors.py
  backend/utils/vectors.py
  backend/vectorstore/supabase.py
  frontend/lib/helpers/acceptedFormats.ts
  frontend/lib/helpers/getFileIcon.tsx
  frontend/lib/types/SupportedFileExtensions.ts
Labels: area: backend

#1559 feat: 🎸 telegram
  README.md
  connectors/telegram_bot/.env.example
  connectors/telegram_bot/main.py
  docs/docs/Developers/connectors/_category_.json
  docs/docs/Developers/connectors/telegram.md
  docs/docs/Developers/run_fully_local.md
Labels: area: backend

#1556 docs: update run_fully_local.md
  docs/docs/Developers/run_fully_local.md
Labels: area: docs

#1536 docs: grammatical errors in README.md
  README.md
Labels: area: docs

#1558 fix: missing or inaccurate zh-cn translations
  frontend/public/locales/zh-cn/brain.json
  frontend/public/locales/zh-cn/chat.json
  frontend/public/locales/zh-cn/config.json
  frontend/public/locales/zh-cn/contact.json
  frontend/public/locales/zh-cn/deleteOrUnsubscribeFromBrain.json
  frontend/public/locales/zh-cn/explore.json
  frontend/public/locales/zh-cn/home.json
  frontend/public/locales/zh-cn/invitation.json
  frontend/public/locales/zh-cn/login.json
  frontend/public/locales/zh-cn/logout.json
  frontend/public/locales/zh-cn/translation.json
  frontend/public/locales/zh-cn/upload.json
  frontend/public/locales/zh-cn/user.json
Labels: area: frontend

#1542 chore(main): release 0.0.103
  CHANGELOG.md
Labels: autorelease: pending

#1561 feat: 🎸 docs
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
  frontend/lib/types/SupportedFileExtensions.ts
Labels: area: docs

#1563 style(prompts): update public prompts dropdown styling
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PublicPrompts/components/PublicPromptsList/PublicPromptsList.tsx
Labels: area: frontend

#1564 fix: fix button bad children error
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/lib/components/ui/Button.tsx
Labels: area: frontend

#1577 style: fix hidden contents
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/library/page.tsx
  frontend/app/chat/[chatId]/page.tsx
Labels: area: frontend

#1562 chore(main): release 0.0.104
  CHANGELOG.md
Labels: autorelease: pending, area: docs

#1579 feat: make auth mode configurable
  .frontend_env.example
  frontend/app/(auth)/login/components/EmailLogin/components/EmailInput.tsx
  frontend/app/(auth)/login/components/EmailLogin/components/MagicLinkLogin/MaginLinkLogin.tsx
  frontend/app/(auth)/login/components/EmailLogin/components/MagicLinkLogin/hooks/useMagicLinkLogin.ts
  frontend/app/(auth)/login/components/EmailLogin/components/PasswordLogin/PasswordLogin.tsx
  frontend/app/(auth)/login/components/EmailLogin/components/PasswordLogin/hooks/usePasswordLogin.ts
  frontend/app/(auth)/login/components/EmailLogin/index.tsx
  frontend/app/(auth)/login/components/MagicLinkLogin/hooks/__tests__/useMagicLinkLogin.test.ts
  frontend/app/(auth)/login/components/MagicLinkLogin/index.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/login/types.ts
  frontend/lib/hooks/useAuthModes.ts
  frontend/public/locales/en/login.json
  frontend/public/locales/es/login.json
  frontend/public/locales/fr/login.json
  frontend/public/locales/pt-br/login.json
  frontend/public/locales/ru/login.json
  frontend/public/locales/zh-cn/login.json
Labels: area: frontend

#1585 Fix #1290 issue running migrations
  migration.sh
Labels: area: scripts

#1586 Use 'unless-stopped' instead of 'always' for development
  docker-compose.dev.yml
Labels: area: backend

#1587 feat: 🎸 vps
  .gitignore
  docker-compose.local.yml
  docs/docs/Developers/vps_install.md
Labels: area: docs

#1589 Update vps_install.md for subdomain
  docs/docs/Developers/vps_install.md
Labels: area: docs

#1581 chore(main): release 0.0.105
  CHANGELOG.md
Labels: autorelease: pending

#1591 feat: 🎸 sources
  backend/llm/qa_base.py
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/SourcesButton.tsx
Labels: area: frontend

#1592 chore(main): release 0.0.106
  CHANGELOG.md
Labels: autorelease: pending

#1590 fix: allow to change model bro brain settings tab
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/lib/context/BrainProvider/types.ts
Labels: area: frontend

#1593 fix: fix notification banner display when too much items in chat list
  frontend/app/chat/layout.tsx
Labels: area: frontend

#1595 docs: add auth modes config
  docs/docs/Developers/contribution/_category_.json
  docs/docs/Developers/contribution/install.md
  docs/docs/Developers/selfHosted/Authentication.md
  docs/docs/Developers/selfHosted/_category_.json
  docs/docs/Developers/selfHosted/run_fully_local.md
  docs/docs/Developers/selfHosted/vps_install.md
Labels: area: docs

#1596 fix: allow users to delete brains
  backend/models/databases/repository.py
  backend/models/databases/supabase/knowledge.py
  backend/repository/knowledge/remove_brain_all_knowledge.py
  backend/routes/knowledge_routes.py
  backend/routes/subscription_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/usePrompt.ts
Labels: area: backend

#1598 feat: 🎸 source documents
  backend/llm/qa_base.py
Labels: area: backend

#1601 feat: add api_brain_definition table
  backend/models/ApiBrainDefinition.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/api_brain_definition.py
  backend/models/databases/supabase/onboarding.py
  backend/models/databases/supabase/supabase.py
  backend/repository/api_brain_definition/__init__.py
  backend/repository/api_brain_definition/add_api_brain_definition.py
  backend/repository/api_brain_definition/delete_api_brain_definition.py
  backend/repository/api_brain_definition/get_api_brain_definition.py
  scripts/2023110607100000_add_api_brain_definition_table.sql
  scripts/tables.sql
Labels: area: backend

#1603 feat: add brain_type column to brain table
  backend/models/brain_entity.py
  backend/models/databases/supabase/brains.py
  scripts/20231106110000_add_field_brain_type_to_brain_table.sql
  scripts/tables.sql
Labels: area: backend

#1605 feat: supabase vault
  backend/repository/external_api_secret/__init__.py
  backend/repository/external_api_secret/create_secret.py
  backend/repository/external_api_secret/delete_secret.py
  backend/repository/external_api_secret/read_secret.py
  backend/repository/external_api_secret/utils.py
  scripts/20231107104700_setup_vault.sql
  scripts/old_migrations/migrations_06_2023/20230606131110_add_uuid_user_id.sql
  scripts/old_migrations/migrations_06_2023/20230620170840_add_vectors_brains.sql
  scripts/old_migrations/migrations_06_2023/20230620183620_use_supabase_user_id.sql
  scripts/old_migrations/migrations_06_2023/20230627151100_update_match_vectors.sql
  scripts/old_migrations/migrations_06_2023/20230629143400_add_file_sha1_brains_vectors.sql
  scripts/old_migrations/migrations_07_2023/20230701180101_add_prompts_table.sql
  scripts/old_migrations/migrations_07_2023/202307111517030_add_subscription_invitations_table.sql
  scripts/old_migrations/migrations_07_2023/202307111517031_change_vectors_id_type.sql
  scripts/old_migrations/migrations_07_2023/20230717164900_add_get_user_email_by_user_id.sql
  scripts/old_migrations/migrations_07_2023/20230717173000_add_get_user_id_by_user_email.sql
  scripts/old_migrations/migrations_07_2023/202307241530031_add_fields_to_brain.sql
  scripts/old_migrations/migrations_07_2023/20230731172400_add_user_identity_table.sql
  scripts/old_migrations/migrations_08_2023/20230802120700_add_prompt_id_to_brain.sql
  scripts/old_migrations/migrations_08_2023/20230809154300_add_prompt_id_brain_id_to_chat_history_table.sql
  scripts/old_migrations/migrations_08_2023/202308181004030_rename_users_table.sql
  scripts/old_migrations/migrations_08_2023/202308217004800_add_public_prompts_examples.sql
  scripts/old_migrations/migrations_09_2023/20230906151400_add_notifications_table.sql
  scripts/old_migrations/migrations_09_2023/202309127004032_add_user_limits.sql
  scripts/old_migrations/migrations_09_2023/20230913110420_add_storage_bucket.sql
  scripts/old_migrations/migrations_09_2023/202309151054032_add_knowledge_tables.sql
  scripts/old_migrations/migrations_09_2023/202309157004032_add_sha1_column.sql
  scripts/old_migrations/migrations_09_2023/20230921160000_add_last_update_field_to_brain.sql
  scripts/old_migrations/migrations_09_2023/202309307004032_change_user_settings.sql
  scripts/old_migrations/migrations_10_2023/20231004150000_add_onboarding_table.sql
  scripts/old_migrations/migrations_10_2023/20231005170000_add_onboarding_a_to_onboarding_table.sql
  scripts/old_migrations/migrations_10_2023/20231010120000_add_create_user_onboarding_function.sql
  scripts/old_migrations/migrations_10_2023/20231012150000_add_creation_time_to_onboardings_table.sql
  scripts/old_migrations/migrations_10_2023/20231023140000_add_stripe_wrapper.sql
  scripts/old_migrations/migrations_10_2023/20231023160000_copy_auth_users_to_public_users.sql
  scripts/pg_tables.sql
  scripts/tables.sql
Labels: area: backend

#1604 chore(main): release 0.0.108
  CHANGELOG.md
Labels: autorelease: pending, area: backend

#1606 feat: add APIBrainQA
  backend/llm/api_brain_qa.py
  backend/llm/utils/call_brain_api.py
  backend/llm/utils/extract_brain_api_params_values_from_llm_output.py
  backend/llm/utils/get_api_brain_definition_as_json_schema.py
  backend/llm/utils/make_api_request.py
  backend/models/ApiBrainDefinition.py
  backend/repository/external_api_secret/create_secret.py
  backend/repository/external_api_secret/delete_secret.py
  backend/repository/external_api_secret/read_secret.py
  backend/routes/chat/brainful_chat.py
  backend/routes/chat/brainless_chat.py
  backend/routes/chat_routes.py
Labels: area: backend

#1612 feat: allow users to chat with apis
  backend/llm/api_brain_qa.py
  backend/llm/utils/call_brain_api.py
  backend/llm/utils/extract_api_brain_definition_values_from_llm_output.py
  backend/llm/utils/extract_api_definition.py
  backend/llm/utils/extract_brain_api_params_values_from_llm_output.py
  backend/llm/utils/get_api_brain_definition_as_json_schema.py
  backend/llm/utils/make_api_request.py
  backend/llm/utils/sanitize_function_name.py
  backend/models/ApiBrainDefinition.py
  backend/models/databases/supabase/api_brain_definition.py
  backend/models/databases/supabase/brains.py
  backend/repository/api_brain_definition/add_api_brain_definition.py
  backend/repository/brain/create_brain.py
  backend/requirements.txt
  backend/routes/brain_routes.py
  backend/routes/chat/brainful_chat.py
  backend/routes/chat/interface.py
  backend/routes/chat_routes.py
Labels: area: backend

#1614 feat(docker): use multi-stage Docker builds for smaller images
  backend/Dockerfile
  frontend/Dockerfile
Labels: area: backend

#1609 chore(main): release 0.0.109
  CHANGELOG.md
Labels: autorelease: pending

#1616 fix: add user id while creating default brain
  backend/repository/brain/get_default_user_brain_or_create_new.py
Labels: area: backend

#1617 chore(main): release 0.0.110
  CHANGELOG.md
Labels: autorelease: pending, area: backend

#1615 ci: 🎡 tests
  .github/workflows/backend-tests.yml
  .github/workflows/code-review-gpt.yml
  .gitignore
  Makefile
  backend/requirements.txt
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_brains.py
  backend/tests/test_upload.py
Labels: area: backend

#1619 fix: update delete brain logic
  backend/models/databases/supabase/knowledge.py
Labels: area: backend

#1622 test(added): misc prompt onboarding
  backend/models/databases/supabase/onboarding.py
  backend/repository/onboarding/create_user_onboarding.py
  backend/tests/test_misc.py
  backend/tests/test_onboarding.py
  backend/tests/test_prompt.py
Labels: area: backend

#1621 feat: remove api brain secrets and schemas on delete
  backend/models/brain_entity.py
  backend/models/brains.py
  backend/models/databases/supabase/brains.py
  backend/repository/brain/delete_brain.py
  backend/repository/brain/delete_brain_secrets.py
  backend/repository/brain/delete_brain_user.py
  backend/repository/brain/get_brain_users.py
  backend/repository/external_api_secret/delete_secret.py
  backend/routes/subscription_routes.py
Labels: area: backend

#1624 test(all): added
  backend/parsers/common.py
  backend/requirements.txt
  backend/tests/test_brains.py
  backend/tests/test_chats.py
  backend/tests/test_notification.py
  backend/tests/test_user.py
Labels: area: backend

#1626 refactor: create "files" package
  backend/celery_worker.py
  backend/models/files.py
  backend/packages/files/__init__.py
  backend/packages/files/file.py
  backend/packages/files/parsers/__init__.py
  backend/packages/files/parsers/audio.py
  backend/packages/files/parsers/code_python.py
  backend/packages/files/parsers/common.py
  backend/packages/files/parsers/csv.py
  backend/packages/files/parsers/docx.py
  backend/packages/files/parsers/epub.py
  backend/packages/files/parsers/github.py
  backend/packages/files/parsers/html.py
  backend/packages/files/parsers/markdown.py
  backend/packages/files/parsers/notebook.py
  backend/packages/files/parsers/odt.py
  backend/packages/files/parsers/pdf.py
  backend/packages/files/parsers/powerpoint.py
  backend/packages/files/parsers/telegram.py
  backend/packages/files/parsers/txt.py
  backend/packages/files/parsers/xlsx.py
  backend/packages/files/processors.py
  backend/routes/crawl_routes.py
  backend/routes/upload_routes.py
Labels: area: backend

#1613 feat: api definition in brain creation modal
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/ApiRequestDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/hooks/useApiDefinitionTabs.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/index.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/HeadersDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/ParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/SearchParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/PublicAccessConfirmationModal.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/hooks/useAddBrainConfig.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/hooks/useAddBrainConfigLabels.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/index.ts
  frontend/lib/components/AddBrainModal/components/index.ts
  frontend/lib/components/AddBrainModal/styles.css
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/types/brainConfig.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/external_api_definition.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/es/external_api_definition.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/fr/external_api_definition.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/pt-br/external_api_definition.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/ru/external_api_definition.json
  frontend/public/locales/zh-cn/brain.json
  frontend/public/locales/zh-cn/external_api_definition.json
Labels: area: frontend

#1618 chore(main): release 0.0.111
  CHANGELOG.md
Labels: autorelease: pending

#1629 chore(main): release 0.0.112
  CHANGELOG.md
Labels: autorelease: pending

#1628 refactor: packages folder be 2
  backend/celery_task.py
  backend/celery_worker.py
  backend/chat_service.py
  backend/crawl_service.py
  backend/main.py
  backend/middlewares/auth/__init__.py
  backend/middlewares/auth/api_key_handler.py
  backend/middlewares/auth/auth_bearer.py
  backend/middlewares/auth/jwt_token_handler.py
  backend/models/brains.py
  backend/models/databases/supabase/vectors.py
  backend/packages/emails/send_email.py
  backend/packages/embeddings/vectors.py
  backend/packages/files/crawl/__init__.py
  backend/packages/files/crawl/crawler.py
  backend/packages/files/loaders/__init__.py
  backend/packages/files/loaders/telegram.py
  backend/packages/files/parsers/github.py
  backend/packages/files/parsers/telegram.py
  backend/packages/utils/__init__.py
  backend/packages/utils/handle_request_validation_error.py
  backend/packages/utils/parse_message_time.py
  backend/repository/brain_subscription/resend_invitation_email.py
  backend/repository/chat/get_chat_history_with_notifications.py
  backend/routes/api_key_routes.py
  backend/routes/authorizations/brain_authorization.py
  backend/routes/brain_routes.py
  backend/routes/chat_routes.py
  backend/routes/contact_routes.py
  backend/routes/crawl_routes.py
  backend/routes/explore_routes.py
  backend/routes/knowledge_routes.py
  backend/routes/notification_routes.py
  backend/routes/onboarding_routes.py
  backend/routes/prompt_routes.py
  backend/routes/subscription_routes.py
  backend/routes/upload_routes.py
  backend/routes/user_routes.py
  backend/upload_service.py
Labels: area: backend

#1630 chore(main): release 0.0.113
  CHANGELOG.md
Labels: autorelease: pending

#1631 feat: add api brain creation frontend
  backend/models/ApiBrainDefinition.py
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/ApiRequestDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/BrainDefinitionTabTrigger.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/ParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/components/ParamDefinitionRow.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/config.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/utils/mapApiBrainDefinitionSchemaToParameterDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/utils/mapParameterDefinitionToApiBrainDefinitionSchema.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/SecretsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/components/SecretDefinitionRow.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/config.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/utils/mapSecretDefinitionToApiBrainSecretDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/utils/mapSecretsDefinitionsAndValuesToSecretDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/styles.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/hooks/useApiRequestDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/styles.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/HeadersDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/ParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/tabs/SearchParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/hooks/useAddBrainConfig.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/types.ts
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/lib/helpers/defineMaxTokens.ts
  frontend/lib/types/brainConfig.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/external_api_definition.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/es/external_api_definition.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/fr/external_api_definition.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/pt-br/external_api_definition.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/ru/external_api_definition.json
  frontend/public/locales/zh-cn/brain.json
  frontend/public/locales/zh-cn/external_api_definition.json
Labels: area: frontend

#1633 refactor: add modules folder
  backend/main.py
  backend/middlewares/auth/api_key_handler.py
  backend/middlewares/auth/auth_bearer.py
  backend/middlewares/auth/jwt_token_handler.py
  backend/models/__init__.py
  backend/models/user_usage.py
  backend/modules/__init__.py
  backend/modules/user/controller/__init__.py
  backend/modules/user/controller/user_controller.py
  backend/modules/user/entity/user_identity.py
  backend/modules/user/repository/__init__.py
  backend/modules/user/repository/create_user_identity.py
  backend/modules/user/repository/get_user_id_by_user_email.py
  backend/modules/user/repository/get_user_identity.py
  backend/modules/user/repository/update_user_properties.py
  backend/modules/user/service/__init__.py
  backend/modules/user/service/get_user_id_by_email.py
  backend/packages/utils/__init__.py
  backend/repository/brain/get_default_user_brain_or_create_new.py
  backend/repository/brain_subscription/subscription_invitation_service.py
  backend/repository/user/__init__.py
  backend/repository/user/get_user_email_by_user_id.py
  backend/routes/api_key_routes.py
  backend/routes/authorizations/brain_authorization.py
  backend/routes/brain_routes.py
  backend/routes/chat/brainless_chat.py
  backend/routes/chat/utils.py
  backend/routes/chat_routes.py
  backend/routes/crawl_routes.py
  backend/routes/explore_routes.py
  backend/routes/knowledge_routes.py
  backend/routes/onboarding_routes.py
  backend/routes/subscription_routes.py
  backend/routes/upload_routes.py
  backend/tests/test_user_controller.py
  scripts/20231106071000_add_api_brain_definition_table.sql
  scripts/20231114162700_drop_get_user_email_by_user_id.sql
  scripts/tables.sql
Labels: area: backend

#1635 feat: update settings tab add api brain definition
  backend/models/brain_entity.py
  backend/repository/brain/get_brain_details.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.test.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/ApiBrainDefinition.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/hooks/useGeneralInformation.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/context/BrainProvider/types.ts
  frontend/lib/hooks/useBrainIdFromUrl.ts
  frontend/lib/types/brainConfig.ts
Labels: area: frontend

#1638 fix: delete brain on users click in brains management
  backend/modules/user/repository/__init__.py
  backend/modules/user/repository/get_user_email_by_user_id.py
  backend/modules/user/repository/get_user_identity.py
  backend/modules/user/service/__init__.py
  backend/routes/subscription_routes.py
  frontend/public/locales/en/chat.json
  scripts/20231116102600_add_get_user_email_by_user_id.sql
  scripts/tables.sql
Labels: area: backend

#1634 chore(main): release 0.0.114
  CHANGELOG.md
Labels: autorelease: pending, area: frontend

#1642 fix(apiBrain): fix default type selection
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/components/ParamDefinitionRow.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinition.ts
Labels: area: frontend

#1646 fix: allow user to set a brain as public after creation
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.test.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/AccessConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/hooks/useAccessConfirmationModal.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useBrainFormState.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/usePrompt.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainFetcher.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/hooks/useAddBrainConfig.ts
  frontend/lib/components/ui/Radio.tsx
Labels: area: frontend

#1656 feat: 🎸 docker
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/next.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend

#1658 feat: 🎸 openai
  .backend_env.example
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
  backend/models/__init__.py
  backend/models/settings.py
  backend/modules/user/repository/create_user_identity.py
  backend/modules/user/repository/get_user_identity.py
  backend/modules/user/repository/update_user_properties.py
  backend/routes/chat/brainful_chat.py
  backend/routes/chat/brainless_chat.py
  backend/routes/chat/interface.py
  backend/routes/chat_routes.py
  backend/routes/crawl_routes.py
  backend/routes/upload_routes.py
  frontend/lib/api/user/user.ts
  frontend/public/locales/en/home.json
  renovate.json
Labels: area: backend

#1645 chore(main): release 0.0.115
  CHANGELOG.md
Labels: autorelease: pending, area: backend, lgtm

#1668 feat: update brain modal in chat input
  backend/repository/external_api_secret/update_secret.py
  backend/routes/brain_routes.py
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/utils/getKnowledgeCardIconFromBrainType.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/hooks/useActionBar.ts
  frontend/app/layout.tsx
  frontend/lib/api/brain/__tests__/useBrainApi.test.ts
  frontend/lib/api/brain/brain.ts
  frontend/lib/api/brain/useBrainApi.ts
  frontend/lib/components/ApiBrainSecretsInputs/ApiBrainSecretsInputs.tsx
  frontend/lib/components/ApiBrainSecretsInputs/hooks/useApiBrainSecretsInputs.tsx
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend, lgtm

#1669 feat(apiBrain): add api brain secrets field in knowledge tab
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/AddKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/hooks/useAddKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/hooks/useFeedBrain.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/hooks/useFeedBrainHandler.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddKnowledge/hooks/useKnowledgeToFeed.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddedKnowledge/AddedKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/AddedKnowledge/hooks/useAddedKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/KnowledgeTable.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/components/KnowledgeItem/components/CrawledKnowledgeItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/components/KnowledgeItem/components/DeleteKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/components/KnowledgeItem/components/DownloadUploadedKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/components/KnowledgeItem/hooks/useKnowledgeItem.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/components/KnowledgeTable/components/KnowledgeItem/index.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/hooks/useKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeOrSecretsTab/index.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/types.ts
  frontend/lib/components/ApiBrainSecretsInputs/ApiBrainSecretsInputs.tsx
  frontend/lib/components/ApiBrainSecretsInputs/hooks/useApiBrainSecretsInputs.tsx
  frontend/lib/components/ApiBrainSecretsInputs/utils/getNonEmptyValuesFromDict.ts
Labels: area: frontend, lgtm

#1672 feat(apiBrain): improve ux
  backend/models/brain_entity.py
  backend/models/databases/supabase/brains.py
  frontend/app/brains-management/[brainId]/components/BrainsList/components/BrainListItem/BrainListItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/components/SecretsDefinitionFields.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/utils/getKnowledgeCardIconFromBrainType.tsx
  frontend/lib/api/brain/utils/mapBackendMinimalBrainToMinimalBrain.ts
  frontend/lib/context/BrainProvider/types.ts
  frontend/lib/helpers/getBrainIconFromBrainType.tsx
Labels: area: frontend, lgtm

#1674 feat(feedBrain): add manage button
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
Labels: area: frontend, lgtm

#1673 chore(main): release 0.0.116
  CHANGELOG.md
Labels: autorelease: pending, lgtm, size:S

#1676 fix: 🐛 api
  backend/llm/api_brain_qa.py
  backend/llm/utils/make_api_request.py
Labels: area: backend, lgtm, size:S

#1680 fix: persist api brain creation data on tab change
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/ApiRequestDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/ParamsDefinition.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinitionDefaultValues.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/components/SecretDefinitionRow.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/config.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinition.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinitionDefaultValues.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/components/SecretsDefinition/utils/mapSecretsDefinitionsAndValuesToSecretDefinition.ts
Labels: area: frontend, lgtm, size:L

#1678 feat: 🎸 tokens
  backend/llm/api_brain_qa.py
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/helpers/defineMaxTokens.ts
  frontend/lib/types/brainConfig.ts
Labels: area: frontend, size:S

#1682 feat: allow updating api brain definition
  backend/models/databases/supabase/api_brain_definition.py
  backend/models/databases/supabase/brains.py
  backend/repository/api_brain_definition/update_api_brain_definition.py
  backend/repository/brain/delete_brain.py
  backend/repository/brain/delete_brain_secrets.py
  backend/repository/brain/update_brain.py
  backend/repository/external_api_secret/update_secret_value.py
  backend/routes/brain_routes.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/ApiBrainDefinition.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useBrainFormState.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/usePermissionsController.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ConfigModal/hooks/useConfigModal.ts
  frontend/lib/api/brain/__tests__/useBrainApi.test.ts
  frontend/lib/api/brain/brain.ts
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/AddBrainConfig.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/components/ApiRequestDefinition/types.ts
  frontend/lib/components/ApiRequestDefinition/ApiRequestDefinition.tsx
  frontend/lib/components/ApiRequestDefinition/components/BrainDefinitionTabTrigger.tsx
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/ParamsDefinition.tsx
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/components/ParamDefinitionRow.tsx
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/config.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinition.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/hooks/useParamsDefinitionDefaultValues.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/types.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/utils/mapApiBrainDefinitionSchemaToParameterDefinition.ts
  frontend/lib/components/ApiRequestDefinition/components/ParamsDefinition/utils/mapParameterDefinitionToApiBrainDefinitionSchema.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/SecretsDefinition.tsx
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/components/SecretDefinitionRow.tsx
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/config.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinition.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/hooks/useSecretsDefinitionDefaultValues.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/types.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/utils/mapSecretDefinitionToApiBrainSecretDefinition.ts
  frontend/lib/components/ApiRequestDefinition/components/SecretsDefinition/utils/mapSecretsDefinitionsAndValuesToSecretDefinition.ts
  frontend/lib/components/ApiRequestDefinition/components/styles.ts
  frontend/lib/components/ApiRequestDefinition/hooks/useApiRequestDefinition.tsx
  frontend/lib/components/ApiRequestDefinition/index.ts
  frontend/lib/components/ApiRequestDefinition/styles.ts
  frontend/lib/components/ApiRequestDefinition/types.ts
  frontend/lib/config/defaultBrainConfig.ts
  frontend/lib/hooks/useAxios.ts
  frontend/lib/hooks/useBrainIdFromUrl.ts
  frontend/lib/hooks/useFetch.ts
  frontend/lib/types/brainConfig.ts
Labels: area: backend, lgtm, size:L

#1684 feat: make brain description required
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/utils/isBrainDescriptionValid.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/utils/isBrainNameValid.ts
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/components/AddBrainConfig/hooks/useAddBrainConfig.ts
  frontend/public/locales/en/config.json
  frontend/public/locales/es/config.json
  frontend/public/locales/fr/config.json
  frontend/public/locales/pt-br/config.json
  frontend/public/locales/ru/config.json
  frontend/public/locales/zh-cn/config.json
Labels: area: backend, lgtm, size:M

#1685 docs: add api based brains
  docs/docs/User_Guide/api-based-brains.md
  docs/static/img/api-brain-params.png
  docs/static/img/api-brain-search-params.png
  docs/static/img/api-brain-secrets.png
  docs/static/video/api-brain-demo.mp4
Labels: area: docs, lgtm, size:M

#1648 Adds pytesseract, tesseract and poopler-utils
  backend/Dockerfile
  backend/requirements.txt
Labels: area: backend, size:XS

#1687 chore(main): release 0.0.118
  CHANGELOG.md
Labels: autorelease: pending, area: docs, lgtm, size:S

#1691 Fixes string formatting when logging knowledge table
  backend/routes/knowledge_routes.py
Labels: area: backend, size:XS

#1694 fix: update max token overwrite logic
  backend/llm/api_brain_qa.py
  backend/routes/chat_routes.py
Labels: area: backend, lgtm, size:M

#1695 fix: remove diacritics from filenames
  frontend/lib/helpers/cloneFileWithSanitizedName.ts
  frontend/lib/hooks/useDropzone.ts
Labels: area: backend, lgtm, size:S

#1702 refactor: onboarding module
  backend/celery_worker.py
  backend/main.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/supabase.py
  backend/modules/onboarding/__init__.py
  backend/modules/onboarding/controller/__init__.py
  backend/modules/onboarding/controller/onboarding_routes.py
  backend/modules/onboarding/dto/__init__.py
  backend/modules/onboarding/dto/inputs.py
  backend/modules/onboarding/entity/__init__.py
  backend/modules/onboarding/entity/onboarding.py
  backend/modules/onboarding/repository/__init__.py
  backend/modules/onboarding/repository/onboardings.py
  backend/modules/onboarding/repository/onboardings_interface.py
  backend/modules/onboarding/service/__init__.py
  backend/modules/onboarding/service/onboarding_service.py
  backend/repository/onboarding/create_user_onboarding.py
  backend/repository/onboarding/get_user_onboarding.py
  backend/repository/onboarding/remove_onboarding_more_than_x_days.py
  backend/repository/onboarding/update_user_onboarding.py
  backend/tests/test_onboarding.py
Labels: area: backend, lgtm, size:L

#1704 feat: display notification when file size is too big
  backend/celery_worker.py
  backend/routes/upload_routes.py
Labels: area: backend, lgtm, size:M

#1705 feat: add api brain steps log (backend)
  backend/llm/api_brain_qa.py
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
Labels: area: backend, size:S

#1693 chore(main): release 0.0.119
  CHANGELOG.md
Labels: autorelease: pending, size:S

#1718 chore(main): release 0.0.120
  CHANGELOG.md
Labels: autorelease: pending, size:XS

#1725 fix: update max token logic
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
Labels: area: backend, lgtm, size:M

#1727 fix: update public brain subscription logic
  frontend/app/brains-management/library/components/PublicBrainItem/components/SecretsDefinitionFields.tsx
  frontend/app/brains-management/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
Labels: area: frontend, lgtm, size:S

#1733 feat: improve delete knowledge performance
  backend/models/databases/supabase/brains.py
  backend/routes/knowledge_routes.py
Labels: area: backend, size:M

#1735 fix: 🐛 crawler
  backend/celery_worker.py
  backend/packages/files/parsers/common.py
  backend/packages/files/processors.py
  backend/routes/upload_routes.py
  scripts/quivr_team_only/theodo_gpt4.sql
Labels: area: backend, size:L

#1736 feat: 🎸 local user
  scripts/tables.sql
Labels: area: scripts, size:XS

#1726 chore(main): release 0.0.121
  CHANGELOG.md
Labels: autorelease: pending, lgtm, size:S

#1740 refactor: Notification module
  backend/celery_worker.py
  backend/main.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/supabase.py
  backend/modules/notification/__init__.py
  backend/modules/notification/controller/__init__.py
  backend/modules/notification/controller/notification_routes.py
  backend/modules/notification/dto/__init__.py
  backend/modules/notification/dto/inputs.py
  backend/modules/notification/dto/outputs.py
  backend/modules/notification/entity/__init__.py
  backend/modules/notification/entity/notification.py
  backend/modules/notification/repository/__init__.py
  backend/modules/notification/repository/notifications.py
  backend/modules/notification/repository/notifications_interface.py
  backend/modules/notification/service/__init__.py
  backend/modules/notification/service/notification_service.py
  backend/modules/onboarding/repository/onboardings.py
  backend/modules/onboarding/service/onboarding_service.py
  backend/repository/chat/get_chat_history_with_notifications.py
  backend/repository/notification/add_notification.py
  backend/repository/notification/get_chat_notifications.py
  backend/repository/notification/remove_chat_notifications.py
  backend/repository/notification/update_notification.py
  backend/routes/chat_routes.py
  backend/routes/crawl_routes.py
  backend/routes/upload_routes.py
Labels: area: backend, lgtm, size:L

#1741 refactor: remove explore route from back & front
  backend/main.py
  backend/routes/explore_routes.py
  backend/tests/test_explore.py
  frontend/lib/api/brain/__tests__/useBrainApi.test.ts
  frontend/lib/api/brain/brain.ts
  frontend/lib/api/brain/useBrainApi.ts
Labels: area: backend, lgtm, size:L

#1745 feat: implement local llms
  .backend_env.example
  backend/llm/api_brain_qa.py
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
  backend/models/settings.py
  backend/requirements.txt
  docs/docs/Developers/selfHosted/run_fully_local.md
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Labels: area: backend, size:L

#1743 refactor: knowledge module
  .vscode/settings.json
  backend/main.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/supabase.py
  backend/modules/knowledge/__init__.py
  backend/modules/knowledge/controller/__init__.py
  backend/modules/knowledge/controller/knowledge_routes.py
  backend/modules/knowledge/dto/__init__.py
  backend/modules/knowledge/dto/inputs.py
  backend/modules/knowledge/dto/outputs.py
  backend/modules/knowledge/entity/__init__.py
  backend/modules/knowledge/entity/knowledge.py
  backend/modules/knowledge/repository/__init__.py
  backend/modules/knowledge/repository/knowledge_interface.py
  backend/modules/knowledge/repository/knowledges.py
  backend/modules/knowledge/service/__init__.py
  backend/modules/knowledge/service/knowledge_service.py
  backend/packages/files/parsers/github.py
  backend/repository/brain/delete_brain.py
  backend/repository/knowledge/add_knowledge.py
  backend/repository/knowledge/get_all_knowledge.py
  backend/repository/knowledge/get_knowledge.py
  backend/repository/knowledge/remove_brain_all_knowledge.py
  backend/repository/knowledge/remove_knowledge.py
  backend/routes/crawl_routes.py
  backend/routes/upload_routes.py
Labels: area: backend, lgtm, size:L

#1744 refactor: Quivr Api Key
  backend/main.py
  backend/middlewares/auth/api_key_handler.py
  backend/middlewares/auth/auth_bearer.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/supabase.py
  backend/modules/api_key/__init__.py
  backend/modules/api_key/controller/__init__.py
  backend/modules/api_key/controller/api_key_routes.py
  backend/modules/api_key/dto/__init__.py
  backend/modules/api_key/dto/outputs.py
  backend/modules/api_key/entity/__init__.py
  backend/modules/api_key/entity/api_key.py
  backend/modules/api_key/repository/__init__.py
  backend/modules/api_key/repository/api_key_interface.py
  backend/modules/api_key/repository/api_keys.py
  backend/modules/api_key/service/__init__.py
  backend/modules/api_key/service/api_key_service.py
  scripts/20231128173900_remove_openai_api_key.sql
  scripts/tables.sql
Labels: area: backend, lgtm, size:XL

#1742 chore(main): release 0.0.122
  CHANGELOG.md
Labels: autorelease: pending, lgtm, size:S

#1748 chore: downgrade versions
  backend/requirements.txt
Labels: area: backend, lgtm, size:XS

#1749 fix: revert implement local llms
  .backend_env.example
  backend/llm/api_brain_qa.py
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
  backend/models/settings.py
  backend/requirements.txt
  docs/docs/Developers/selfHosted/run_fully_local.md
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Labels: area: backend, size:L

#1750 chore(main): release 0.0.123
  CHANGELOG.md
Labels: autorelease: pending, lgtm, size:XS

#1752 feat(chatInput): use tiptap editor
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/ChatBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/MentionInput.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/AddNewPromptButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/BrainSuggestion.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/BrainSuggestionsContainer.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/PromptSuggestion.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/PromptSuggestionsContainer.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/SuggestionRow.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/hooks/helpers/MentionPlugin.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/hooks/helpers/MentionState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/hooks/helpers/getEditorMentions.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/hooks/helpers/getEditorText.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/hooks/useMentionInput.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/utils/isMention.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/utils/mapMinimalBrainToMentionData.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionInput/utils/mapPromptToMentionData.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/ChatEditor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/MentionsList.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/AddNewPromptButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/MentionItem/hooks/useMentionItemIcon.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/hooks/useMentionList.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useBrainMention.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useChatStateUpdater.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useEditor.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useEditorStateUpdater.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useMentionConfig.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/usePromptSuggestionsConfig.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/styles.css
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/utils/getChatInputAttributesFromEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/utils/removeExistingMentionFromEditor.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/hooks/useChatInput.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/lib/components/MentionInput/index.ts
  frontend/lib/components/MentionInput/utils/getEditorMentions.ts
  frontend/lib/components/MentionInput/utils/getEditorText.ts
  frontend/lib/components/MentionInput/utils/index.ts
  frontend/lib/components/MentionInput/utils/isMention.ts
  frontend/lib/components/MentionInput/utils/mapMinimalBrainToMentionData.ts
  frontend/lib/components/MentionInput/utils/mapPromptToMentionData.ts
  frontend/lib/components/ui/Ellipsis.tsx
  frontend/lib/components/ui/Modal.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, lgtm, size:XXL

#1755 docs: update guidelines.md
  docs/docs/Developers/contribution/guidelines.md
Labels: area: docs, size:XS

#1758 Feat/local llm bug fix
  .backend_env.example
  backend/llm/api_brain_qa.py
  backend/llm/qa_base.py
  backend/llm/qa_headless.py
  backend/models/settings.py
  backend/requirements.txt
  docs/docs/Developers/selfHosted/run_fully_local.md
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Labels: area: backend, size:L

#1756 chore(main): release 0.0.124
  CHANGELOG.md
Labels: autorelease: pending, size:S

#1759 fix(api): fixed issue with name function and ilmproved promtp
  backend/llm/api_brain_qa.py
  backend/llm/utils/make_api_request.py
Labels: area: backend, size:M

#1763 fix: update mention suggestion filtering logic
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useMentionConfig.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
Labels: area: frontend, lgtm, size:S

#1760 chore(main): release 0.0.125
  CHANGELOG.md
Labels: autorelease: pending, area: backend, lgtm, size:XS

#1767 feat: update models logic
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ConfigModal/ConfigModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ConfigModal/hooks/useConfigModal.ts
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/[chatId]/hooks/useLocalStorageChatConfig.ts
  frontend/lib/api/chat/chat.local.ts
Labels: area: frontend, lgtm, size:L
