Repository QuivrHQ/quivr, pull requests merged in 2023-10, with the labels that each got.

#1293 fix: prevent fetch when user is not logged in
  frontend/app/App.tsx
Labels: area: frontend

#1292 fix(Select): fix JSX typo
  frontend/lib/components/ui/Select.tsx
Labels: area: frontend

#1279 feat: ✨ responsive sidebar
  frontend/app/brains-management/[brainId]/components/BrainsList/BrainsList.tsx
  frontend/app/brains-management/[brainId]/components/BrainsList/hooks/useBrainsList.ts
  frontend/app/chat/components/ChatsList/__tests__/ChatsList.test.tsx
  frontend/app/chat/components/ChatsList/components/ChatHistory.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/components/SidebarActions.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/styles/SidebarLinkStyle.tsx
  frontend/app/chat/components/ChatsList/hooks/useChatsList.ts
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/lib/components/Sidebar/Sidebar.tsx
  frontend/lib/components/Sidebar/__tests__/Sidebar.test.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/SidebarFooter.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/BrainManagementButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UserButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/styles/SidebarLinkStyle.tsx
  frontend/lib/components/Sidebar/components/SidebarHeader.tsx
  frontend/lib/hooks/useDevice.ts
  frontend/lib/hooks/useGravatar.ts
  frontend/package.json
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
  frontend/yarn.lock
Labels: area: frontend

#1298 fix: 🐛 Sidebar content should not hide the sidebar footer
  frontend/lib/components/Sidebar/Sidebar.tsx
Labels: bug, area: frontend

#1300 feat: allow users to turn private brain to public
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/AccessConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/PrivateAccessConfirmationModal.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/hooks/useAccessConfirmationModal.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/hooks/usePrivateAccessConfirmationModal.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/PrivateAccessConfirmationModal/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useBrainFormState.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
Labels: area: frontend

#1303 feat: add onboarding first step
  frontend/app/chat/[chatId]/components/ChatDialogueArea/ChatDialogue.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/hooks/useStreamText.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/CopyButton.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/hooks/useMessageRow.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/index.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/styles/index.ts
  frontend/public/documents/doc.pdf
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend

#1305 feat: update chat list on new chat first message
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionBrain.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionPrompt.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/hooks/useMessageRow.ts
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/components/ChatsList/hooks/useChatsList.ts
  frontend/lib/api/chat/config.ts
  frontend/tailwind.config.js
Labels: area: frontend

#1301 feat: ↕️ Maximise chat window
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ChatHeader.tsx
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/layout.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend

#1285 chore(main): release 0.0.86
  CHANGELOG.md
Labels: autorelease: pending, area: scripts

#1312 refactor: ♻️ ContentSecurityPolicy as an object
  frontend/next.config.js
Labels: area: frontend

#1313 fix: replace next/image's layout deprecated attribute
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UserButton.tsx
Labels: area: frontend

#1316 fix: remove undesired outlines around divs
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/globals.css
Labels: area: frontend

#1314 feat(onboarding): add step 2
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/components/Step1.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/components/Step2.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/components/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/helpers/checkIfShouldDisplayStep.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/hooks/useStreamText.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/styles/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/types.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/types/index.ts
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend

#1318 feat(onboarding): add questions suggestions layout
  frontend/app/chat/[chatId]/components/ActionsBar/ActionsBar.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/OnboardingQuestions.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestions.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend

#1310 chore(main): release 0.0.87
  CHANGELOG.md
Labels: autorelease: pending

#1321 fix: wrap parsing with try catch statements
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatNotification/components/NotificationDisplayer/NotificationDisplayer.tsx
Labels: area: frontend

#1323 fix: 🐛 ↕️ 📱height now matches mobile height
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/globals.css
  frontend/globals.css
  frontend/lib/components/Sidebar/Sidebar.tsx
Labels: area: frontend

#1327 feat: add onboarding table
  backend/models/databases/repository.py
  backend/models/databases/supabase/__init__.py
  backend/models/databases/supabase/onboarding.py
  backend/models/databases/supabase/supabase.py
  backend/models/onboarding.py
  backend/repository/onboarding/get_user_onboarding.py
  backend/repository/onboarding/udpate_user_onboarding.py
  backend/routes/onboarding_routes.py
  scripts/20231004150000_add_onboarding_table.sql
  scripts/tables.sql
Labels: area: backend

#1333 feat: update onboarding controller and fix typo
  backend/main.py
  backend/models/databases/supabase/onboarding.py
  backend/models/onboarding.py
  backend/repository/onboarding/get_user_onboarding.py
  backend/repository/onboarding/udpate_user_onboarding.py
  backend/routes/onboarding_routes.py
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: backend

#1322 chore(main): release 0.0.88
  CHANGELOG.md
Labels: autorelease: pending

#1334 feat: enable CSP in all environments (local/preview/prod)
  frontend/next.config.js
Labels: area: frontend

#1319 feat: enhance user page UI
  frontend/app/user/components/ApiKeyConfig/ApiKeyConfig.tsx
  frontend/app/user/components/ApiKeyConfig/__tests__/ApiKeyConfig.test.tsx
  frontend/app/user/components/ApiKeyConfig/hooks/useApiKeyConfig.ts
  frontend/app/user/components/DarkModeToggle.tsx
  frontend/app/user/components/Graphs/BrainSpaceChart.tsx
  frontend/app/user/components/Graphs/RequestsPerDayChart.tsx
  frontend/app/user/components/LanguageDropDown/LanguageDropDown.tsx
  frontend/app/user/components/LanguageDropDown/LanguageSelect.tsx
  frontend/app/user/components/LanguageDropDown/__tests__/LanguageSelect.test.tsx
  frontend/app/user/components/LanguageDropDown/hooks/useLanguageHook.ts
  frontend/app/user/components/ThemeSelect/DarkModeToggle.tsx
  frontend/app/user/components/ThemeSelect/ThemeSelect.tsx
  frontend/app/user/components/ThemeSelect/__tests__/ThemeSelect.test.tsx
  frontend/app/user/components/ThemeSelect/hooks/useTheme.ts
  frontend/app/user/components/UserStatistics.tsx
  frontend/app/user/components/__tests__/UserStatistics.test.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/ui/Card.tsx
  frontend/lib/helpers/copyToClipboard.ts
  frontend/public/locales/en/config.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/en/user.json
  frontend/public/locales/es/config.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/es/user.json
  frontend/public/locales/fr/config.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/fr/user.json
  frontend/public/locales/pt-br/config.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/pt-br/user.json
  frontend/public/locales/ru/config.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/ru/user.json
  frontend/public/locales/zh-cn/config.json
  frontend/public/locales/zh-cn/translation.json
  frontend/public/locales/zh-cn/user.json
Labels: area: frontend

#1340 feat: add onboarding_a column to onboarding table
  backend/models/databases/supabase/onboarding.py
  backend/models/onboarding.py
  backend/repository/onboarding/get_user_onboarding.py
  backend/repository/onboarding/udpate_user_onboarding.py
  backend/routes/onboarding_routes.py
  scripts/20231004150000_add_onboarding_table.sql
  scripts/20231005170000_add_onboarding_a_to_onboarding_table.sql
  scripts/tables.sql
Labels: area: backend

#1349 fix(question): fixed with user_settings
  backend/routes/chat_routes.py
Labels: area: backend

#1348 FIX tables.sql - missing ; breaks SQL queries.
  scripts/tables.sql
Labels: area: scripts

#1345 feat: ⚙️🐞 configure debugger for the backend
  .backend_env.example
  .vscode/launch.json
  backend/.vscode/launch.json
  backend/Dockerfile
  backend/main.py
  docker-compose.dev.yml
  docs/docs/Reference/Tests.md
Labels: area: backend

#1344 test: add chat e2e tests
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatBar/components/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/ChatsListItem.tsx
  frontend/e2e/index.ts
  frontend/e2e/tests/chat.ts
  frontend/e2e/tests/chat/chat.ts
  frontend/e2e/tests/chat/index.ts
  frontend/e2e/tests/chat/utils/getEditor.ts
  frontend/e2e/tests/chat/utils/testChat.ts
  frontend/e2e/tests/chat/utils/testDeleteChats.ts
  frontend/e2e/tests/chat/utils/testSelectBrain.ts
  frontend/e2e/tests/chat/utils/testUnplugChat.ts
  frontend/e2e/tests/crawl.ts
Labels: area: frontend

#1364 feat: configure CSP for self-hosting and multiple ports in dev mode
  .frontend_env.example
  frontend/next.config.js
Labels: enhancement, area: frontend

#1339 chore(main): release 0.0.89
  CHANGELOG.md
Labels: autorelease: pending

#1365 feat: add Welcome chat
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/__tests__/ChatDialogue.test.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/index.tsx
  frontend/app/chat/components/ChatsList/components/ChatsListItem/ChatsListItem.tsx
  frontend/app/chat/components/ChatsList/components/WelcomeChat.tsx
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/lib/api/onboarding/__test__/useOnboarding.test.ts
  frontend/lib/api/onboarding/config.ts
  frontend/lib/api/onboarding/onboarding.ts
  frontend/lib/api/onboarding/useOnboardingApi.ts
  frontend/lib/hooks/useOnboarding.ts
  frontend/lib/types/Onboarding.ts
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend

#1369 refactor: Enable linting on login+signup page and hooks
  frontend/app/(auth)/login/components/GoogleLogin/hooks/useGoogleLogin.ts
  frontend/app/(auth)/login/components/GoogleLogin/index.tsx
  frontend/app/(auth)/login/components/MagicLinkLogin/hooks/useMagicLinkLogin.ts
  frontend/app/(auth)/login/components/MagicLinkLogin/index.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/signup/page.tsx
  frontend/lib/components/NavBar/components/NavItems/components/AuthButtons.tsx
Labels: area: frontend

#1373 feat: finish onboarding step on first upload or crawl
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useFeedBrain.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useKnowledgeToFeed.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/hooks/useFeedBrainInChat.ts
Labels: area: frontend

#1383 feat: add create_user_onboarding_function
  scripts/20231010120000_add_create_user_onboarding_function.sql
  scripts/tables.sql
Labels: area: scripts

#1387 feat: remove user onboarding on complete
  backend/models/databases/repository.py
  backend/models/databases/supabase/onboarding.py
  backend/repository/onboarding/update_user_onboarding.py
  backend/routes/onboarding_routes.py
  frontend/lib/hooks/useOnboarding.ts
Labels: area: backend

#1371 chore(main): release 0.0.90
  CHANGELOG.md
Labels: autorelease: pending

#1388 feat: track onboarding events
  backend/repository/onboarding/update_user_onboarding.py
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useFeedBrain.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/hooks/useFeedBrainHandler.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/hooks/useOnboardingQuestion.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/components/ChatsList/components/WelcomeChat.tsx
  frontend/app/chat/components/ChatsList/components/WelcomeChat/WelcomeChat.tsx
  frontend/app/chat/components/ChatsList/components/WelcomeChat/hooks/useWelcomeChat.ts
  frontend/app/chat/components/ChatsList/components/WelcomeChat/index.ts
  frontend/lib/components/KnowledgeToFeedInput/components/Crawler/hooks/useCrawler.ts
  frontend/lib/hooks/useDropzone.ts
  frontend/lib/hooks/useOnboarding.ts
  frontend/lib/hooks/useOnboardingTracker.ts
  frontend/public/documents/quivr_documentation.pdf
Labels: area: frontend

#1351 fix(user identity): User identity dict has no attribute user_id and open_api_key
  backend/repository/user_identity/create_user_identity.py
Labels: area: backend

#1382 feat: new homepage header
  frontend/app/(home)/components/HomeHeader.tsx
  frontend/app/(home)/components/QuivrLogo.tsx
  frontend/app/(home)/components/index.ts
  frontend/app/(home)/page.tsx
  frontend/app/layout.tsx
  frontend/lib/components/Footer/index.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
  frontend/public/logo-primary.svg
  frontend/public/logo-white.svg
  frontend/tailwind.config.js
Labels: area: frontend

#1390 feat(onboarding): add suggested questions answer
  backend/models/databases/repository.py
  backend/models/databases/supabase/chats.py
  backend/repository/chat/add_question_and_answer.py
  backend/routes/chat_routes.py
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/OnboardingQuestion.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/hooks/useOnboardingQuestion.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/utils.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/lib/api/chat/__tests__/useChatApi.test.ts
  frontend/lib/api/chat/addQuestionAndAnswer.ts
  frontend/lib/api/chat/useChatApi.ts
  frontend/lib/helpers/getChatNameFromQuestion.ts
  frontend/lib/hooks/useStreamText.ts
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
  frontend/tailwind.config.js
Labels: area: frontend

#1397 feat: add a cron to remove onboarding more than 7 days
  backend/celery_worker.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/onboarding.py
  backend/repository/onboarding/remove_onboarding_more_than_x_days.py
  docker-compose.yml
  scripts/20231012150000_add_creation_time_to_onboardings_table.sql
  scripts/tables.sql
Labels: area: backend

#1395 feat: 🖼️ new homepage background
  frontend/app/(home)/components/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/HomeHeader.module.css
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/components/HomeHeaderBackground.tsx
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/app/(home)/components/HomeHeader/components/QuivrLogo.tsx
  frontend/app/(home)/components/HomeSection/HomeSection.module.css
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
  frontend/app/(home)/components/Sections/DemoSection.tsx
  frontend/app/(home)/components/Sections/ExampleSection.tsx
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/components/Sections/SecuritySection.tsx
  frontend/app/(home)/components/Sections/TestimonialsSection.tsx
  frontend/app/(home)/components/Sections/index.ts
  frontend/app/(home)/components/index.ts
  frontend/app/(home)/page.tsx
Labels: area: frontend

#1406 chore(main): release 0.0.92
  CHANGELOG.md
Labels: autorelease: pending

#1415 feat: add use cases to homepage
  .gitignore
  frontend/app/(home)/components/UseCases/UseCases.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/UseCasesListing.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/components/UseCaseComponent.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/data/cases.ts
  frontend/app/(home)/components/UseCases/components/UseCasesListing/index.ts
  frontend/app/(home)/components/UseCases/components/UseCasesListing/types.ts
  frontend/app/(home)/components/UseCases/components/index.ts
  frontend/app/(home)/page.tsx
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
Labels: area: frontend

#1414 feat: Homepage screen 1 content
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/components/HomeHeaderBackground.tsx
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/page.tsx
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
  frontend/tailwind.config.js
Labels: area: frontend

#1417 chore(main): release 0.0.93
  CHANGELOG.md
Labels: autorelease: pending

#1420 feat: Homepage demo section
  frontend/app/(home)/components/Sections/DemoSection.tsx
  frontend/app/(home)/components/Sections/DemoSection/DemoSection.tsx
  frontend/app/(home)/components/Sections/DemoSection/components/VideoPlayer.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/components/Sections/index.ts
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
Labels: area: frontend

#1423 feat: add security section
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
  frontend/app/(home)/components/Sections/ExampleSection.tsx
  frontend/app/(home)/components/Sections/SecuritySection.tsx
  frontend/app/(home)/components/Sections/index.ts
  frontend/app/(home)/components/SecuritySection/SecuritySection.tsx
  frontend/app/(home)/components/SecuritySection/data/securityQuestions.ts
  frontend/app/(home)/components/SecuritySection/index.ts
  frontend/app/(home)/components/SecuritySection/types.ts
  frontend/app/(home)/components/UseCases/UseCases.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/UseCasesListing.tsx
  frontend/app/(home)/components/index.ts
  frontend/app/(home)/page.tsx
  frontend/lib/components/ui/Accordion.tsx
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
  frontend/yarn.lock
Labels: area: frontend

#1425 feat: HomePage new footer
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/page.tsx
  frontend/lib/config/CONSTANTS.ts
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
  frontend/yarn.lock
Labels: area: frontend

#1427 feat: add testimonials section
  frontend/app/(home)/components/Sections/TestimonialsSection.tsx
  frontend/app/(home)/components/Sections/index.ts
  frontend/app/(home)/components/TestimonialsSection/TestimonialsSection.tsx
  frontend/app/(home)/components/TestimonialsSection/components/TestimonialCard.tsx
  frontend/app/(home)/components/TestimonialsSection/data/testimonialsExamples.ts
  frontend/app/(home)/components/TestimonialsSection/index.ts
  frontend/app/(home)/components/TestimonialsSection/types.ts
  frontend/app/(home)/components/TestimonialsSection/utils/socialMediaToIcon.tsx
  frontend/app/(home)/components/index.ts
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UserButton.tsx
  frontend/lib/components/ui/Avatar.tsx
  frontend/next.config.js
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
Labels: area: frontend

#1432 refactor(backend): cleaning dead and unused code
  backend/llm/__init__.py
  backend/llm/base.py
  backend/llm/models/FunctionCall.py
  backend/llm/models/OpenAiAnswer.py
  backend/llm/openai.py
  backend/llm/prompts/LANGUAGE_PROMPT.py
  backend/llm/qa_base.py
  backend/repository/brain/__init__.py
  backend/routes/brain_routes.py
  backend/routes/chat_routes.py
Labels: area: backend

#1421 chore(main): release 0.0.94
  CHANGELOG.md
Labels: autorelease: pending

#1439 feat: homepage first section
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/public/Homepage/laptop-demo.png
  frontend/public/Homepage/smartphone-demo.png
Labels: area: frontend

#1440 fix: show a flat gradient in the UseCase section
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
  frontend/app/(home)/page.tsx
Labels: area: frontend

#1441 style: update testimonials display
  frontend/app/(home)/components/TestimonialsSection/TestimonialsSection.tsx
Labels: area: frontend

#1451 feat: contact sales page (front layout)
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/page.tsx
  frontend/app/contact/page.tsx
  frontend/lib/components/Footer/index.tsx
  frontend/lib/components/NavBar/index.tsx
Labels: area: frontend

#1456 Fix: Improved Text Visibility in Dark Mode in OnboardingQuestion Component
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/OnboardingQuestions/components/OnboardingQuestion/OnboardingQuestion.tsx
  frontend/public/Web capture_22-10-2023_19154_www.quivr.app.jpeg
  frontend/public/Web capture_22-10-2023_19416_www.quivr.app.jpeg
Labels: area: frontend

#1459 feat(cms): added single video demo
  cms/quivr/src/api/demo-video/content-types/demo-video/schema.json
  cms/quivr/src/api/demo-video/controllers/demo-video.js
  cms/quivr/src/api/demo-video/routes/demo-video.js
  cms/quivr/src/api/demo-video/services/demo-video.js
  cms/quivr/types/generated/components.d.ts
  cms/quivr/types/generated/contentTypes.d.ts
Labels: area: cms

#1453 feat: Contact form component
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
  frontend/app/contact/components/ContactForm.tsx
  frontend/app/contact/components/index.ts
  frontend/app/contact/page.tsx
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/public/locales/en/contact.json
  frontend/public/locales/es/contact.json
  frontend/public/locales/fr/contact.json
  frontend/public/locales/pt-br/contact.json
  frontend/public/locales/ru/contact.json
  frontend/public/locales/zh-cn/contact.json
Labels: area: frontend

#1442 chore(main): release 0.0.95
  CHANGELOG.md
Labels: autorelease: pending

#1463 feat: validate email and required question with react-hook-form
  frontend/app/contact/components/ContactForm.tsx
  frontend/app/contact/page.tsx
Labels: area: frontend

#1466 feat: POST on /contact to contact quivr team by email
  .backend_env.example
  .gitignore
  backend/main.py
  backend/models/__init__.py
  backend/models/settings.py
  backend/repository/brain_subscription/resend_invitation_email.py
  backend/routes/contact_routes.py
  backend/utils/send_email.py
Labels: area: backend

#1472 feat: add sponsor and blog links
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/types.ts
  frontend/public/locales/en/home.json
  frontend/public/locales/es/home.json
  frontend/public/locales/fr/home.json
  frontend/public/locales/pt-br/home.json
  frontend/public/locales/ru/home.json
  frontend/public/locales/zh-cn/home.json
Labels: area: frontend

#1473 feat: contact sales submission
  frontend/app/contact/components/ContactForm.tsx
  frontend/app/contact/hooks/usePostContactSales.ts
  frontend/public/locales/en/contact.json
  frontend/public/locales/es/contact.json
  frontend/public/locales/fr/contact.json
  frontend/public/locales/pt-br/contact.json
  frontend/public/locales/ru/contact.json
  frontend/public/locales/zh-cn/contact.json
Labels: area: frontend

#1474 feat(homepage): add analytics
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/hooks/useHomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/styles.ts
  frontend/app/(home)/components/Sections/DemoSection/DemoSection.tsx
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/components/SecuritySection/SecuritySection.tsx
  frontend/app/(home)/components/UseCases/UseCases.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/UseCasesListing.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/components/UseCaseComponent.tsx
  frontend/app/(home)/hooks/useHomepageTracking.ts
Labels: area: frontend

#1475 fix: make use cases clickable
  frontend/app/(home)/components/UseCases/components/UseCasesListing/UseCasesListing.tsx
Labels: area: frontend

#1476 fix: update blog link position
  frontend/app/(home)/components/HomeHeader/hooks/useHomeHeader.tsx
Labels: area: frontend

#1465 chore(main): release 0.0.96
  CHANGELOG.md
Labels: autorelease: pending, area: frontend

#1477 feat(cms): update content type
  cms/quivr/src/api/security-question/content-types/security-question/schema.json
  cms/quivr/types/generated/contentTypes.d.ts
  scripts/new.sql
Labels: area: cms

#1482 feat: upgrade to plus button
  .frontend_env.example
  frontend/app/brains-management/[brainId]/components/BrainsList/BrainsList.tsx
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/SidebarFooter.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UpgradeToPlus.tsx
  frontend/lib/components/Stripe/PricingModal/StripePricingModal.tsx
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/PricingTable.tsx
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/Types/types.d.ts
  frontend/lib/components/Stripe/index.ts
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/next.config.js
  frontend/public/locales/en/monetization.json
  frontend/public/locales/es/monetization.json
  frontend/public/locales/fr/monetization.json
  frontend/public/locales/pt-br/monetization.json
  frontend/public/locales/ru/monetization.json
  frontend/public/locales/zh-cn/monetization.json
Labels: area: frontend

#1483 feat: 🎸 sitemap
  .gitignore
  frontend/next-sitemap.config.js
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend

#1478 chore(main): release 0.0.97
  CHANGELOG.md
Labels: autorelease: pending, area: cms

#1484 feat: upgrade button in user settings
  frontend/app/brains-management/[brainId]/components/BrainsList/BrainsList.tsx
  frontend/app/chat/components/ChatsList/index.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/SidebarFooter.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/BrainManagementButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/SidebarFooterButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UpgradeToPlus.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UserButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/styles/SidebarLinkStyle.tsx
  frontend/lib/components/ui/Avatar.tsx
Labels: area: frontend

#1487 fix: failing build (removed avatar alt prop)
  frontend/app/(home)/components/TestimonialsSection/components/TestimonialCard.tsx
Labels: area: frontend

#1486 Fixed license link in intro.md
  docs/docs/get_started/intro.md
Labels: area: docs

#1488 feat: manage plan
  .frontend_env.example
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/app/user/components/index.ts
  frontend/app/user/page.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/SidebarFooterButton.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UpgradeToPlus.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UserButton.tsx
  frontend/public/locales/en/monetization.json
  frontend/public/locales/es/monetization.json
  frontend/public/locales/fr/monetization.json
  frontend/public/locales/pt-br/monetization.json
  frontend/public/locales/ru/monetization.json
  frontend/public/locales/zh-cn/monetization.json
Labels: area: frontend

#1493 feat: remove feature flags for homepage
  frontend/app/(home)/Features.tsx
  frontend/app/(home)/Hero.tsx
  frontend/app/(home)/__tests__/Home.test.tsx
  frontend/app/(home)/page.tsx
  frontend/app/contact/page.tsx
  frontend/lib/components/Footer/index.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/zh-cn/translation.json
Labels: area: frontend

#1492 feat: add new signin/login page
  frontend/app/(auth)/login/__tests__/page.test.tsx
  frontend/app/(auth)/login/components/GoogleLogin/index.tsx
  frontend/app/(auth)/login/components/MagicLinkLogin/hooks/useMagicLinkLogin.ts
  frontend/app/(auth)/login/components/MagicLinkLogin/index.tsx
  frontend/app/(auth)/login/components/PasswordForgotten/hooks/__tests__/usePassword.test.ts
  frontend/app/(auth)/login/components/PasswordForgotten/hooks/usePasswordForgotten.ts
  frontend/app/(auth)/login/components/PasswordForgotten/index.tsx
  frontend/app/(auth)/login/hooks/__tests__/useLogin.test.ts
  frontend/app/(auth)/login/hooks/useLogin.ts
  frontend/app/(auth)/login/page.tsx
  frontend/app/(auth)/recover-password/__tests__/page.test.tsx
  frontend/app/(auth)/recover-password/page.tsx
  frontend/app/(auth)/signup/__tests__/page.test.tsx
  frontend/app/(auth)/signup/hooks/useSignUp.ts
  frontend/app/(auth)/signup/page.tsx
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/app/(home)/components/HomeHeader/hooks/useHomeHeader.tsx
  frontend/app/(home)/components/Sections/DemoSection/DemoSection.tsx
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/components/SecuritySection/SecuritySection.tsx
  frontend/app/(home)/components/UseCases/UseCases.tsx
  frontend/lib/assets/QuivrLogo.tsx
  frontend/lib/components/Footer/index.tsx
  frontend/lib/components/NavBar/components/NavItems/components/AuthButtons.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/lib/config/LocaleConfig/resources.ts
  frontend/public/locales/en/login.json
  frontend/public/locales/en/signUp.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/en/updatePassword.json
  frontend/public/locales/es/login.json
  frontend/public/locales/es/signUp.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/es/updatePassword.json
  frontend/public/locales/fr/login.json
  frontend/public/locales/fr/signUp.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/fr/updatePassword.json
  frontend/public/locales/pt-br/login.json
  frontend/public/locales/pt-br/signUp.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/pt-br/updatePassword.json
  frontend/public/locales/ru/login.json
  frontend/public/locales/ru/signUp.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/ru/updatePassword.json
  frontend/public/locales/zh-cn/login.json
  frontend/public/locales/zh-cn/signUp.json
  frontend/public/locales/zh-cn/translation.json
  frontend/public/locales/zh-cn/updatePassword.json
  frontend/tailwind.config.js
Labels: area: frontend

#1489 chore(main): release 0.0.98
  CHANGELOG.md
Labels: autorelease: pending

#1499 fix: minor fixes
  cms/quivr/.env.example
  cms/quivr/package.json
  frontend/lib/components/Sidebar/components/SidebarFooter/SidebarFooter.tsx
Labels: area: cms

#1501 feat: remove onboarding's feature flag
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/ChatDialogue.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/lib/hooks/useOnboarding.ts
Labels: area: frontend

#1502 feat: update form content on magic link auth request
  frontend/app/(auth)/login/components/MagicLinkLogin/hooks/__tests__/useMagicLinkLogin.test.ts
  frontend/app/(auth)/login/components/MagicLinkLogin/hooks/useMagicLinkLogin.ts
  frontend/app/(auth)/login/components/MagicLinkLogin/index.tsx
  frontend/app/(auth)/login/hooks/useLogin.ts
  frontend/app/(auth)/login/page.tsx
  frontend/app/contact/components/ContactForm.tsx
  frontend/lib/config/patterns.ts
  frontend/public/locales/en/login.json
  frontend/public/locales/es/login.json
  frontend/public/locales/fr/login.json
  frontend/public/locales/pt-br/login.json
  frontend/public/locales/ru/login.json
  frontend/public/locales/zh-cn/login.json
Labels: area: frontend

#1509 feat: remove legacy header and footer
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/Footer/index.tsx
  frontend/lib/components/Logo/Logo.tsx
  frontend/lib/components/NavBar/components/Header/hooks/useHeader.ts
  frontend/lib/components/NavBar/components/Header/index.tsx
  frontend/lib/components/NavBar/components/MobileMenu.tsx
  frontend/lib/components/NavBar/components/NavItems/components/AuthButtons.tsx
  frontend/lib/components/NavBar/components/NavItems/components/NavLink.tsx
  frontend/lib/components/NavBar/components/NavItems/index.tsx
  frontend/lib/components/NavBar/index.tsx
  frontend/lib/components/Sidebar/components/SidebarHeader.tsx
  frontend/public/locales/en/translation.json
  frontend/public/locales/es/translation.json
  frontend/public/locales/fr/translation.json
  frontend/public/locales/pt-br/translation.json
  frontend/public/locales/ru/translation.json
  frontend/public/locales/zh-cn/translation.json
Labels: area: frontend

#1510 fix: black horizontal line sometimes appearing below section
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
Labels: bug, area: frontend

#1511 Improve readme.md
  README.md
Labels: area: docs

#1335 refactor(settings tab): extract components
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.test.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/ModelSelection/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/Prompt/Prompt.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/Prompt/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/index.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/index.ts
  frontend/package.json
Labels: area: frontend

#1514 fix: hidden video playing automatically on iphone
  frontend/app/(home)/components/Sections/DemoSection/components/VideoPlayer.tsx
Labels: bug, area: frontend

#1500 chore(main): release 0.0.99
  CHANGELOG.md
Labels: autorelease: pending

#1399 refactor: fix bad smells
  backend/auth/api_key_handler.py
  backend/chat_service.py
  backend/crawl_service.py
  backend/main.py
  backend/upload_service.py
  backend/utils/__init__.py
  backend/utils/handle_request_validation_error.py
Labels: area: backend

#1512 refactor: chat_routes
  backend/routes/chat/__init_.py
  backend/routes/chat/brainful_chat.py
  backend/routes/chat/brainless_chat.py
  backend/routes/chat/factory.py
  backend/routes/chat/interface.py
  backend/routes/chat/utils.py
  backend/routes/chat_routes.py
Labels: area: backend

#1522 feat: improve ux
  frontend/app/(auth)/logout/__tests__/page.test.tsx
  frontend/app/(auth)/logout/page.tsx
  frontend/app/brains-management/library/hooks/useBrainsLibrary.tsx
  frontend/app/brains-management/library/page.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/user/components/LogoutCard/LogoutModal.tsx
  frontend/app/user/components/LogoutCard/hooks/__tests__/useLogoutModal.ts
  frontend/app/user/components/LogoutCard/hooks/useLogoutModal.ts
  frontend/app/user/page.tsx
  frontend/lib/components/ui/Spinner.tsx
  frontend/public/locales/en/logout.json
  frontend/public/locales/es/logout.json
  frontend/public/locales/fr/logout.json
  frontend/public/locales/pt-br/logout.json
  frontend/public/locales/ru/logout.json
  frontend/public/locales/zh-cn/logout.json
Labels: area: frontend

#1523 feat(docs): reworked the website
  docs/docs/Developers/_category_.json
  docs/docs/Developers/backend/_category_.json
  docs/docs/Developers/backend/api/_category_.json
  docs/docs/Developers/backend/api/chat.md
  docs/docs/Developers/backend/api/error_handling.md
  docs/docs/Developers/backend/api/getting_started.md
  docs/docs/Developers/backend/brains/_category_.json
  docs/docs/Developers/backend/brains/brains.md
  docs/docs/Developers/backend/chains/_category_.json
  docs/docs/Developers/backend/chains/open_ai_functions_tree.jpg
  docs/docs/Developers/backend/chains/qa.md
  docs/docs/Developers/backend/intro.md
  docs/docs/Developers/frontend/_category_.json
  docs/docs/Developers/frontend/img/docsVersionDropdown.png
  docs/docs/Developers/frontend/img/localeDropdown.png
  docs/docs/Developers/frontend/manage-docs-versions.md
  docs/docs/Developers/llm/_category_.json
  docs/docs/Developers/llm/private-llm.md
  docs/docs/Reference/_category_.json
  docs/docs/User_Guide/_category_.json
  docs/docs/User_Guide/run_fully_local.md
  docs/docs/backend/llm/private-llm.md
  docs/docs/contributions.md
  docs/docs/get_started/intro.md
  docs/docs/intro.md
  docs/docs/privacy_policy.md
  docs/docs/roadmap.md
  docs/docusaurus.config.js
  docs/src/pages/index.js
  docs/static/img/north-star-quivr.png
Labels: area: docs

#1525 Feat/docs rework
  docs/docs/Developers/run_fully_local.md
  docs/docs/User_Guide/what-is-a-brain.md
  docs/docs/intro.md
  docs/static/img/homepage.png
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: docs

#1521 chore(main): release 0.0.100
  CHANGELOG.md
Labels: autorelease: pending

#1528 chore: update tanstack query dep
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend

#1529 chore(main): release 0.0.101
  CHANGELOG.md
Labels: autorelease: pending

#1531 docs: update Quivr doc
  docs/docs/Developers/backend/_category_.json
  docs/docs/Developers/backend/api/_category_.json
  docs/docs/Developers/backend/brains/_category_.json
  docs/docs/Developers/backend/brains/brains.md
  docs/docs/Developers/contribution/_category_.json
  docs/docs/Developers/contribution/architecture.md
  docs/docs/Developers/contribution/chains/_category_.json
  docs/docs/Developers/contribution/chains/open_ai_functions_tree.jpg
  docs/docs/Developers/contribution/chains/qa.md
  docs/docs/Developers/contribution/frontend/_category_.json
  docs/docs/Developers/contribution/frontend/img/docsVersionDropdown.png
  docs/docs/Developers/contribution/frontend/img/localeDropdown.png
  docs/docs/Developers/contribution/frontend/manage-docs-versions.md
  docs/docs/Developers/contribution/guidelines.md
  docs/docs/Developers/contribution/install.md
  docs/docs/Developers/contribution/llm/_category_.json
  docs/docs/Developers/contribution/llm/private-llm.md
  docs/docs/Developers/contribution/test.md
  docs/docs/Developers/run_fully_local.md
  docs/docs/Developers/useQuivr/_category_.json
  docs/docs/Developers/useQuivr/brain/_category_.json
  docs/docs/Developers/useQuivr/brain/create_a_brain.md
  docs/docs/Developers/useQuivr/brain/retrieve_brain_attributes.md
  docs/docs/Developers/useQuivr/brain/set_defaut_brain.md
  docs/docs/Developers/useQuivr/brain/update_a_brain.md
  docs/docs/Developers/useQuivr/chat.md
  docs/docs/Developers/useQuivr/error_handling.md
  docs/docs/Developers/useQuivr/get_your_api_key.md
  docs/docs/Developers/useQuivr/getting_started.md
  docs/docs/Reference/_category_.json
  docs/docs/User_Guide/_category_.json
  docs/docs/User_Guide/intro.md
  docs/docs/User_Guide/run_fully_local.md
  docs/docs/User_Guide/what-is-a-brain.md
Labels: area: docs

#1535 docs: ✏️ search
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Labels: area: docs

#1534 feat(brainSettings): rework knowledge tab
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/AddKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/CrawledKnowledgeItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/UploadedKnowledgeItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeItem/index.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddKnowledge/AddKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddKnowledge/hooks/useAddKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddKnowledge/hooks/useFeedBrain.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddKnowledge/hooks/useFeedBrainHandler.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddKnowledge/hooks/useKnowledgeToFeed.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddedKnowledge/AddedKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/AddedKnowledge/hooks/useAddedKnowledge.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/KnowledgeTable.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/components/KnowledgeItem/components/CrawledKnowledgeItem.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/components/KnowledgeItem/components/DeleteKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/components/KnowledgeItem/components/DownloadUploadedKnowledge.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/components/KnowledgeItem/hooks/useKnowledgeItem.ts
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/components/KnowledgeTable/components/KnowledgeItem/index.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/KnowledgeTab/index.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainManagementTabs.ts
  frontend/lib/hooks/useBrainIdFromUrl.ts
Labels: area: frontend

#1537 docs: ✏️ schema
  docs/docs/Developers/contribution/architecture.md
  docs/docusaurus.config.js
  docs/static/img/architectural-high-level.png
Labels: area: docs
