Repository QuivrHQ/quivr, pull requests merged in 2024-09, with the labels that each got.

#3118 fix: Blank scrollbar on certain browsers
  frontend/app/App.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromDocuments/FromDocuments.module.scss
  frontend/app/globals.css
  frontend/app/search/BrainsList/BrainsList.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainsList.module.scss
  frontend/app/studio/layout.tsx
  frontend/app/studio/page.module.scss
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.module.scss
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.module.scss
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.module.scss
  frontend/lib/components/KnowledgeToFeedInput/components/FeedItems/FeedItems.tsx
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/Menu/components/ThreadsButton/ThreadsButton.module.scss
  frontend/lib/components/ui/Select.tsx
  frontend/lib/components/ui/SingleSelector/SingleSelector.module.scss
  frontend/lib/components/ui/Tooltip/Tooltip.module.scss
Labels: area: frontend, lgtm, size:M

#3124 fix: knowledge user
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/models/tests/conftest.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/api/quivr_api/vector/tests/test_vectors.py
  backend/supabase/migrations/20240902201241_knowledge-user.sql
Labels: area: backend, lgtm, size:L

#3125 chore(readme): increase size icon
  README.md
Labels: size:XS

#3129 chore: remove unused syncNotion function in ConnectionCards.tsx
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: area: frontend, size:XS

#3136 chore: update compatibility
  README.md
Labels: size:XS

#3140 ci(raise): only on tags
  .github/workflows/porter_stack_raise-frontend.yml
  .github/workflows/porter_stack_raise.yml
Labels: size:XS

#3130 feat: using langgraph in our RAG pipeline
  backend/api/pyproject.toml
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/core/examples/simple_question.py
  backend/core/examples/simple_question_streaming.py
  backend/core/pyproject.toml
  backend/core/quivr_core/brain/brain.py
  backend/core/quivr_core/quivr_rag_langgraph.py
  backend/core/quivr_core/utils.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
  docker-compose.dev.yml
Labels: area: backend, size:XL

#3142 fix: knowledge multiple brains
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/process/process_s3_file.py
Labels: area: backend, size:L

#3143 fix: knowledge multiple brains - update knowledge rollback
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
Labels: area: backend, size:M

#3068 chore(main): release 0.0.301
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:M

#3146 feat(anthropic): add llm
  backend/core/pyproject.toml
  backend/core/quivr_core/llm/llm_endpoint.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: area: backend, size:S

#3148 fix(chat): order of chat history was reversed
  backend/core/quivr_core/chat_llm.py
  backend/core/quivr_core/quivr_rag_langgraph.py
Labels: area: backend, size:XS

#3149 chore(main): release 0.0.303
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, size:S

#3152 feat: update Azure login button text
  frontend/public/locales/en/login.json
Labels: area: frontend, size:XS

#3145 fix: url knowledge multiple brain
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/rag_service/utils.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
Labels: area: backend, size:L

#3154 chore: update Dockerfile with PostHog environment variables
  frontend/Dockerfile
Labels: area: frontend, size:XS

#3153 chore(main): release 0.0.304
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3155 chore: update next.config.js with PostHog domains
  frontend/next.config.js
Labels: size:XS

#3156 chore(main): release 0.0.305
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3159 feat(readme): trigger deploy
  README.md
Labels: size:XS

#3158 chore(main): release 0.0.306
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3157 fix: tests pytest-asyncio
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/conftest.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/tests/__init__.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/models/__init__.py
  backend/api/quivr_api/modules/models/tests/__init__.py
  backend/api/quivr_api/modules/models/tests/conftest.py
  backend/api/quivr_api/modules/models/tests/test_models.py
  backend/api/quivr_api/modules/models/tests/test_models_service.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/tests/test_notion_service.py
  backend/api/quivr_api/modules/sync/tests/test_syncutils.py
  backend/api/quivr_api/modules/vector/__init__.py
  backend/api/quivr_api/modules/vector/entity/vector.py
  backend/api/quivr_api/modules/vector/repository/vectors_repository.py
  backend/api/quivr_api/modules/vector/service/vector_service.py
  backend/api/quivr_api/modules/vector/tests/__init__.py
  backend/api/quivr_api/modules/vector/tests/test_vectors.py
  backend/api/quivr_api/vectorstore/supabase.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/process/process_file.py
  backend/worker/quivr_worker/process/process_s3_file.py
  backend/worker/quivr_worker/process/process_url.py
  backend/worker/tests/test_process_url_task.py
Labels: area: backend, lgtm, size:XXL

#3161 chore(main): release 0.0.307
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3165 fix: remove knowledge and idle conn
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/syncs/process_active_syncs.py
  backend/worker/quivr_worker/syncs/store_notion.py
  backend/worker/quivr_worker/syncs/utils.py
Labels: area: backend, lgtm, size:L

#3166 chore(main): release 0.0.308
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3126 chore: Add initial documentation files and configuration
  .github/workflows/release-please-core.yml
  backend/core/quivr_core/chat.py
  backend/core/quivr_core/processor/implementations/megaparse_processor.py
  backend/core/quivr_core/processor/implementations/simple_txt_processor.py
  backend/core/quivr_core/processor/implementations/tika_processor.py
  backend/core/quivr_core/processor/splitter.py
  backend/core/quivr_core/quivr_rag.py
  backend/docs/.gitignore
  backend/docs/.python-version
  backend/docs/README.md
  backend/docs/docs/css/style.css
  backend/docs/docs/index.md
  backend/docs/docs/installation.md
  backend/docs/docs/parsers/index.md
  backend/docs/docs/parsers/megaparse.md
  backend/docs/docs/parsers/simple.md
  backend/docs/mkdocs.yml
  backend/docs/pyproject.toml
  backend/docs/requirements-dev.lock
  backend/docs/requirements.lock
  backend/docs/src/docs/__init__.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: size:L

#3172 chore: Add .readthedocs.yaml configuration file
  .readthedocs.yaml
Labels: size:S

#3175 fix(frontend): notion integration in front end
  frontend/.eslintrc.js
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FolderLine/FolderLine.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnectionsProvider/FromConnection-provider.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/SyncElementLine/SyncElementLine.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/app/globals.css
  frontend/lib/components/ConnectionCards/ConnectionCards.module.scss
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
Labels: area: frontend, size:L

#2945 chore(main): release core 0.0.14
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#3177 ci(rye): now core is built with rye
  .github/workflows/release-please-core.yml
  .github/workflows/rye-deploy.yml
Labels: size:M

#3180 fix(onboarding): keeps setting it at false
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
  frontend/lib/components/HelpWindow/HelpWindow.tsx
Labels: area: frontend, size:S

#3171 chore(main): release 0.0.309
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3182 feat: Add Azure OpenAI embeddings support
  backend/api/quivr_api/modules/dependencies.py
Labels: size:S

#3184 fix(frontend): status of syncs in frontend
  backend/supabase/migrations/20240910142842_policy_syncs.sql
  frontend/lib/api/sync/types.ts
  frontend/lib/components/ConnectionCards/ConnectionCards.module.scss
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionButton/ConnectionButton.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
Labels: area: backend, area: frontend, size:M

#3181 chore(main): release 0.0.310
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3183 chore(embeddings): added tests for embeddings
  backend/api/tests/settings/test_settings.py
Labels: area: backend, size:M

#3199 feat(uptime): check if connection to db works
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
Labels: area: backend, size:S

#3194 chore(main): release 0.0.311
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3201 fix: Update LLMEndpoint to include max_tokens parameter
  backend/core/quivr_core/llm/llm_endpoint.py
Labels: area: backend, size:XS

#3204 chore(main): release 0.0.312
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3202 feat: save and load brain
  backend/core/examples/save_load_brain.py
  backend/core/examples/simple_question.py
  backend/core/examples/simple_question_streaming.py
  backend/core/quivr_core/brain/brain.py
  backend/core/quivr_core/brain/info.py
  backend/core/quivr_core/brain/serialization.py
  backend/core/quivr_core/files/file.py
  backend/core/quivr_core/llm/llm_endpoint.py
  backend/core/quivr_core/processor/registry.py
  backend/core/quivr_core/quivr_rag_langgraph.py
  backend/core/quivr_core/storage/local_storage.py
  backend/core/tests/test_brain.py
Labels: area: backend, lgtm, size:L

#3205 chore(main): release 0.0.313
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3208 feat(frontend): show user that a notion connection is deleting
  frontend/lib/api/sync/types.ts
  frontend/lib/components/ConnectionCards/ConnectionCards.module.scss
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionLine/ConnectionLine.module.scss
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionLine/ConnectionLine.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.module.scss
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: backend, area: frontend, size:L

#3209 fix(frontend): sync button naming
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
Labels: area: backend, area: frontend, size:S

#3162 feat: CRUD KMS (no syncs)
  .github/workflows/backend-tests.yml
  .pre-commit-config.yaml
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/brain/service/brain_vector_service.py
  backend/api/quivr_api/modules/conftest.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/dto/outputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/repository/storage.py
  backend/api/quivr_api/modules/knowledge/repository/storage_interface.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_exceptions.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/conftest.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_controller.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_entity.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/sync/tests/test_syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/api/quivr_api/utils/partial.py
  backend/core/quivr_core/models.py
  backend/supabase/migrations/20240905153004_knowledge-folders.sql
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/process/process_s3_file.py
  backend/worker/quivr_worker/syncs/process_active_syncs.py
  backend/worker/quivr_worker/syncs/store_notion.py
  backend/worker/quivr_worker/syncs/utils.py
Labels: area: backend, lgtm, size:XXL

#3210 chore(main): release 0.0.314
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3203 chore(main): release core 0.0.15
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#3216 fix: knowledge user_id fix
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
Labels: area: backend, lgtm, size:XS

#3212 chore(main): release 0.0.315
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3217 fix(core): enforce langchain <0.3 for pydantic v1
  backend/api/pyproject.toml
  backend/core/pyproject.toml
Labels: size:XS

#3218 chore(main): release core 0.0.16
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, size:S

#3223 chore(examples): fix chainlit example
  backend/core/examples/chatbot/main.py
  backend/core/examples/simple_question.py
Labels: area: backend, size:XS

#3173 feat(integration): Notion
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/api/quivr_api/modules/rag_service/utils.py
  backend/api/quivr_api/modules/sync/controller/azure_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/dropbox_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/github_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/google_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/notion_sync_routes.py
  backend/api/quivr_api/modules/sync/dto/inputs.py
  backend/api/quivr_api/modules/sync/entity/notion_page.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/repository/sync_files.py
  backend/api/quivr_api/modules/sync/repository/sync_repository.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/service/sync_notion.py
  backend/api/quivr_api/modules/sync/service/sync_service.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/tests/test_notion_service.py
  backend/api/quivr_api/modules/sync/tests/test_syncutils.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/supabase/migrations/20240820091834_notion-sync.sql
  backend/supabase/migrations/20240910100924_add_sync_status.sql
  backend/supabase/migrations/20240910142842_policy_syncs.sql
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/syncs/process_active_syncs.py
  backend/worker/quivr_worker/syncs/store_notion.py
  frontend/lib/api/sync/types.ts
  frontend/lib/components/ConnectionCards/ConnectionCards.module.scss
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionButton/ConnectionButton.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionLine/ConnectionLine.module.scss
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionLine/ConnectionLine.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.module.scss
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: backend, size:XL

#3238 feat: remove n+1 query knowledge
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_entity.py
Labels: area: backend, lgtm, size:S

#3251 fix(frontend): sync folder for premium users
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/SyncElementLine/SyncElementLine.tsx
Labels: area: frontend, size:S

#3252 fix: correctly passing the prompt provided by the user
  backend/api/quivr_api/modules/rag_service/rag_service.py
Labels: area: backend, lgtm, size:XS

#3261 fix: add sync user id aget_files
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:M

#3268 feat: remove km kms
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/api/quivr_api/modules/rag_service/utils.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/worker/quivr_worker/process/processor.py
  backend/worker/tests/conftest.py
  backend/worker/tests/test_process_file.py
  backend/worker/tests/test_process_file_task.py
Labels: area: backend, size:L

#3269 feat: notifier kms
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/benchmarks/serialization_dto.py
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/process/README.md
  backend/worker/quivr_worker/process/processor.py
  backend/worker/quivr_worker/process/utils.py
  backend/worker/tests/conftest.py
  backend/worker/tests/test_process_file_task.py
Labels: area: backend, size:XL

#3272 feat: load test KMS
  .env.example
  .gitignore
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_controller.py
  backend/benchmarks/benchmark_kms.sh
  backend/benchmarks/load_data.py
  backend/benchmarks/locustfile.py
  backend/benchmarks/locustfile_kms.py
  backend/pyproject.toml
  backend/requirements-dev.lock
Labels: area: backend, size:XL

#3277 chore: update Dockerfile dependencies and copy files
  backend/Dockerfile
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:M

#3279 chore: add wget to Dockerfile dependencies
  backend/Dockerfile
Labels: size:XS

#3281 fix: sync status added
  backend/api/quivr_api/modules/sync/entity/sync_models.py
Labels: area: backend, size:XS

#3219 chore(main): release 0.0.316
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3284 feat: update SyncsUser status field to be optional
  backend/api/quivr_api/modules/sync/entity/sync_models.py
Labels: area: backend, size:XS

#3286 fix(frontend): onboarding modal
  frontend/lib/api/user/user.ts
Labels: area: frontend, size:XS

#3289 feat: Remove syncNotion from ConnectionCards
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: size:XS

#3285 chore(main): release 0.0.317
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3292 feat: add syncNotion from ConnectionCards
  backend/api/quivr_api/modules/sync/utils/sync.py
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: area: backend, area: frontend, size:S

#3293 chore(main): release 0.0.318
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S
