Repository QuivrHQ/quivr, pull requests merged in 2024-06, with the labels that each got.

#2625 chore(main): release 0.0.258
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2634 chore(main): release 0.0.259
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2637 fix: sync creation fixed
  Pipfile.lock
  backend/Dockerfile.dev
  backend/celery_worker.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/sharepointutils.py
  backend/modules/upload/service/upload_file.py
  backend/packages/files/parsers/powerpoint.py
  backend/requirements.txt
  docker-compose.dev.yml
Labels: area: backend, size:L

#2638 chore: Set default value for "last_synced" column in "syncs_active" table to '2024-06-01 15:30:25+00'
  backend/supabase/migrations/20240606170930_sync-reduce-time.sql
Labels: area: backend, area: scripts, size:XS

#2642 fix: integrations
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/entity/sync.py
  backend/modules/sync/repository/sync.py
  backend/modules/sync/repository/sync_files.py
  backend/modules/sync/repository/sync_interfaces.py
  backend/modules/sync/repository/sync_user.py
  backend/modules/sync/service/sync_service.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/list_files.py
  backend/modules/sync/utils/sharepointutils.py
  backend/supabase/migrations/20240608095352_supported-sync.sql
  backend/tach.yml
Labels: size:XL

#2644 fix(frontend): display bug on add knowledge
  frontend/lib/components/UploadDocumentModal/UploadDocumentModal.module.scss
Labels: area: frontend, lgtm, size:XS

#2645 fix: files_metadata
  backend/modules/sync/entity/sync.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/sharepointutils.py
Labels: size:XS

#2647 fix(google): auth is now in state
  backend/modules/sync/controller/google_sync_routes.py
Labels: area: backend, size:S

#2649 fix(frontend): add brain modal integration doestn t work
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/hooks/useBrainCreationApi.ts
Labels: area: frontend, lgtm, size:XS

#2650 fix(frontend): tooltip on folder line
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/SyncElementLine/SyncElementLine.tsx
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.tsx
  frontend/lib/components/ui/Checkbox/Checkbox.tsx
Labels: area: frontend, lgtm, size:S

#2651 feat: telemetry improved
  backend/modules/brain/controller/brain_routes.py
  backend/modules/chat/controller/chat_routes.py
  backend/packages/utils/telemetry.py
Labels: area: backend, size:M

#2652 feat: Add force_sync option to SyncsActiveUpdateInput
  backend/modules/sync/controller/sync_routes.py
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/repository/sync.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/sharepointutils.py
  backend/supabase/migrations/20240610141546_force-sync.sql
Labels: area: backend, size:M

#2653 Update license to include enterprise features
  LICENSE
  backend/modules/sync/utils/LICENSE
Labels: area: backend, size:XS

#2655 fix(frontend): onboarding bug
  frontend/app/search/page.tsx
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.module.scss
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.tsx
  frontend/lib/context/OnboardingProvider/Onboarding-provider.tsx
Labels: area: frontend, lgtm, size:M

#2656 Update README.md
  README.md
Labels: lgtm, size:XS

#2636 chore(main): release 0.0.260
  CHANGELOG.md
Labels: autorelease: pending, size:S

#2658 feat: Update Google authorization URL with prompt for consent
  backend/modules/sync/controller/google_sync_routes.py
Labels: area: backend, size:XS

#2659 chore(main): release 0.0.261
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2661 feat: Normalize file names in sync module
  backend/modules/sync/utils/list_files.py
  backend/modules/sync/utils/normalize.py
Labels: size:S

#2662 chore(main): release 0.0.262
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2663 fix: Add error handling for syncing in tasks.py
  backend/modules/sync/tasks.py
  backend/modules/sync/utils/googleutils.py
Labels: size:S

#2664 chore(main): release 0.0.263
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2665 fix: name passed in sync authorize
  backend/modules/sync/controller/azure_sync_routes.py
  backend/modules/sync/controller/google_sync_routes.py
Labels: area: backend, size:S

#2668 feat: Add premium user check in celery task
  backend/celery_worker.py
  backend/models/databases/supabase/user_usage.py
Labels: area: backend, size:L

#2666 chore(main): release 0.0.264
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2671 chore(main): release 0.0.265
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2673 fix: Add logic to filter active subscriptions in check_if_is_premium_user function
  backend/celery_worker.py
Labels: area: backend, size:S

#2674 chore(main): release 0.0.266
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#2675 fix(frontend): scroll modal payment
  frontend/lib/components/ui/Modal/Modal.module.scss
Labels: size:XS

#2679 fix(frontend): rephrase unpaid to free
  frontend/public/locales/en/login.json
Labels: area: frontend, size:S

#2680 feat(frontend): set from connections by default in knowledge to feed
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
Labels: area: frontend, size:S

#2683 feat(frontend): rephrase from Url to from Website's page
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromWebsites/FromWebsites.tsx
Labels: area: frontend, size:XS

#2687 feat(frontend): new chat interface
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/hooks/useChatInput.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Citation/Citation.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Citation/Citation.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/CitationModal/CitationModal.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/CitationModal/CitationModal.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPompt.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPrompt.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/index.ts
  frontend/app/chat/[chatId]/types/index.ts
  frontend/app/colors.css
  frontend/app/globals.css
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.module.scss
  frontend/lib/components/ui/FoldableSection/FoldableSection.module.scss
  frontend/lib/components/ui/FoldableSection/FoldableSection.tsx
  frontend/lib/components/ui/ThoughtsButton.tsx
  frontend/lib/components/ui/Tooltip/Tooltip.module.scss
  frontend/lib/components/ui/Tooltip/Tooltip.tsx
  frontend/lib/helpers/iconList.ts
  frontend/styles/_Typography.module.scss
Labels: area: frontend, size:XXL

#2688 fix(frontend): next step impossible if no knowledge when creating brain if no onboarded
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.tsx
Labels: area: frontend, size:S

#2689 fix(frontend): rephrase thoughts button title
  frontend/lib/components/ui/ThoughtsButton.tsx
Labels: area: frontend, size:XS

#2682 chore(main): release 0.0.268
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2697 feat: Add Microsoft Identity Association JSON file
  frontend/public/.well-known/microsoft-identity-association.json
Labels: area: frontend, size:XS

#2698 chore(main): release 0.0.269
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2699 fix(frontend): small rephrase
  frontend/public/locales/en/chat.json
Labels: area: frontend, size:XS

#2702 feat(frontend): table markdown
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:S

#2707 chore: Remove Porter stack deployment workflows for cherry-pick-backend and cherry-pick-frontend
  .github/workflows/porter_stack_cherry-pick-backend.yml
  .github/workflows/porter_stack_cherry-pick-frontend.yml
Labels: size:M

#2708 fix(frontend): 25 instead of 100
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/PricingTable.tsx
Labels: area: frontend, size:XS

#2704 fix(frontend): remove double scss class
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
Labels: area: frontend, size:XS

#2711 fix(frontend): documents before connections
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/KnowledgeToFeed.tsx
Labels: area: frontend, size:S

#2712 feat(frontend): brain studio interface
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/MenuControlButton/MenuControlButton.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainsList.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainsList.tsx
  frontend/lib/components/ui/OptionsModal/OptionsModal.module.scss
  frontend/lib/components/ui/OptionsModal/OptionsModal.tsx
  frontend/lib/components/ui/Toast/components/Toast.tsx
Labels: area: frontend, size:L

#2700 chore(main): release 0.0.270
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2714 fix: check user premium upsert
  backend/celery_worker.py
Labels: area: backend, lgtm, size:M

#2715 chore(main): release 0.0.271
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2717 chore(main): release 0.0.272
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2732 feat(frontend): new ui ux for knowledge
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/hooks/useKnowledgeItem.ts
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.tsx
  frontend/lib/components/ui/Checkbox/Checkbox.module.scss
  frontend/lib/components/ui/Checkbox/Checkbox.tsx
  frontend/lib/helpers/getFileIcon.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, size:L

#2734 fix(frontend): small issues with scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/CitationModal/CitationModal.module.scss
Labels: size:XS

#2733 chore(main): release 0.0.273
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2757 closes #2756
  backend/.dockerignore
  backend/poetry.lock
  backend/pyproject.toml
Labels: area: backend, size:S

#2755 fix: Update email sender parameters in backend code
  backend/backend/modules/assistant/ito/ito.py
  backend/backend/modules/brain/service/brain_subscription/resend_invitation_email.py
  backend/backend/modules/tools/email_sender.py
Labels: area: backend, size:XS

#2745 chore(main): release 0.0.274
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2758 fix(frontend): fix table in frontend
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:XS

#2762 chore: Update docker-compose files to specify platform for backend services
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.dev.yml
Labels: area: backend, size:S

#2764 fix(frontend): settings button
  frontend/lib/components/PageHeader/PageHeader.tsx
Labels: area: frontend, size:S

#2767 chore: Add ci-migration.sh to Dockerfile
  backend/Dockerfile
Labels: area: backend, size:XS

#2759 chore(main): release 0.0.275
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2768 chore: Add supabase directory to Dockerfile
  backend/Dockerfile
Labels: area: backend, size:XS

#2763 chore: Update docker-compose files to specify platform for backend services
  .github/workflows/prebuild-images.yml
Labels: size:M

#2770 Revert "chore: Update docker-compose files to specify platform for backend services"
  .github/workflows/prebuild-images.yml
Labels: size:M

#2769 chore(main): release 0.0.276
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2771 fix(frontend): UI Notification Ring and Fix Page Header Display on Mobile
  frontend/lib/components/PageHeader/Notifications/Notification/Notification.module.scss
  frontend/lib/components/PageHeader/Notifications/Notifications.module.scss
  frontend/lib/components/PageHeader/Notifications/Notifications.tsx
  frontend/lib/components/PageHeader/PageHeader.module.scss
Labels: area: frontend, size:M

#2773 feat(frontend): better UI for General Settings
  frontend/app/user/components/ApiKeyConfig/hooks/__tests__/useApiKeyConfig.test.ts
  frontend/app/user/components/LanguageSelect/LanguageSelect.tsx
  frontend/app/user/components/LanguageSelect/hooks/useLanguageHook.ts
  frontend/app/user/components/Settings/ApiKeyConfig/ApiKeyConfig.module.scss
  frontend/app/user/components/Settings/ApiKeyConfig/ApiKeyConfig.tsx
  frontend/app/user/components/Settings/ApiKeyConfig/hooks/useApiKeyConfig.ts
  frontend/app/user/components/Settings/ApiKeyConfig/index.ts
  frontend/app/user/components/Settings/InfoSection/InfoSection.module.scss
  frontend/app/user/components/Settings/InfoSection/InfoSection.tsx
  frontend/app/user/components/Settings/Settings.module.scss
  frontend/app/user/components/Settings/Settings.tsx
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/ui/CountrySelector/CountrySelector.module.scss
  frontend/lib/components/ui/CountrySelector/CountrySelector.tsx
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, size:XL

#2774 fix(frontend): new api key creation bug
  frontend/app/user/components/Settings/ApiKeyConfig/ApiKeyConfig.tsx
Labels: area: frontend, size:XS

#2772 chore(main): release 0.0.277
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2778 chore: Add GitHub Actions workflow for testing and building Docker image
  .github/workflows/test-build-image.yml
Labels: size:M

#2781 chore: Update flashrank npm dependency to version 0.2.5
  backend/Dockerfile
  backend/api/pyproject.toml
  backend/api/quivr_api/modules/brain/rags/quivr_rag.py
  backend/api/quivr_api/packages/quivr_core/quivr_rag.py
  backend/core/quivr_core/quivr_rag.py
  backend/poetry.lock
Labels: area: backend, size:M
