Repository QuivrHQ/quivr, pull requests merged in 2024-05, with the labels that each got.

#2523 feat(frontend): citations & sources
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Citation/Citation.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Citation/Citation.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/types/types.ts
  frontend/app/chat/[chatId]/components/Sources/Sources.module.scss
  frontend/app/chat/[chatId]/components/Sources/Sources.tsx
  frontend/app/chat/[chatId]/page.tsx
  frontend/lib/context/ChatProvider/ChatProvider.tsx
  frontend/lib/context/ChatProvider/mocks/ChatProviderMock.tsx
  frontend/lib/context/ChatProvider/types.ts
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/MessageMetadata.ts
Labels: area: frontend, size:XL

#2524 Fix: citation handling in ChatItem component
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Citation/Citation.tsx
Labels: area: frontend, size:S

#2518 chore(main): release 0.0.241
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2525 feat(notifications): implemented notifications with RLS and realtime
  backend/celery_worker.py
  backend/main.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/notification/controller/__init__.py
  backend/modules/notification/controller/notification_routes.py
  backend/modules/notification/dto/__init__.py
  backend/modules/notification/dto/inputs.py
  backend/modules/notification/dto/outputs.py
  backend/modules/notification/entity/__init__.py
  backend/modules/notification/entity/notification.py
  backend/modules/notification/repository/notifications.py
  backend/modules/notification/repository/notifications_interface.py
  backend/modules/notification/service/notification_service.py
  backend/modules/upload/controller/upload_routes.py
  backend/packages/files/processors.py
  backend/supabase/migrations/20240501180719_notifications.sql
Labels: area: backend, size:L

#2527 chore: packages
  Pipfile.lock
  backend/requirements.txt
Labels: size:M

#2526 chore(main): release 0.0.242
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2530 fix: Refactor chat_service.py and remove unused code
  backend/modules/chat/service/chat_service.py
  backend/modules/notification/service/notification_service.py
Labels: size:S

#2529 chore(main): release 0.0.243
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2531 fix: Update parsing instruction in common.py
  backend/packages/files/parsers/common.py
Labels: area: backend, size:XS

#2532 chore(main): release 0.0.244
  CHANGELOG.md
Labels: autorelease: pending, size:XS

#2476 feat(user): Delete User Data from frontend
  backend/modules/user/controller/user_controller.py
  backend/modules/user/repository/users.py
  backend/modules/user/repository/users_interface.py
  frontend/app/user/page.module.scss
  frontend/app/user/page.tsx
  frontend/lib/api/user/useUserApi.ts
  frontend/lib/api/user/user.ts
  frontend/lib/hooks/useLogoutModal.ts
Labels: area: backend, area: frontend, lgtm, size:L

#2534 feat(backend): Add a pre_pring on Connection polling to handle disconnection
  backend/models/settings.py
Labels: area: backend, lgtm, size:XS

#2535 feat(llama-parse): improve prompt
  .github/workflows/porter_stack_quivr-com-backend.yml
  .github/workflows/porter_stack_quivr-com.yml
  backend/packages/files/parsers/common.py
Labels: size:S

#2536 feat(brain): Add ProxyBrain integration
  backend/modules/brain/integrations/Proxy/Brain.py
  backend/modules/brain/integrations/Proxy/__init__.py
  backend/modules/chat/controller/chat/brainful_chat.py
Labels: area: backend, size:M

#2533 chore(main): release 0.0.245
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2540 Add config parameter to conversational_qa_chain
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/integrations/Proxy/Brain.py
  backend/modules/brain/knowledge_brain_qa.py
  frontend/lib/hooks/useAuthModes.ts
Labels: area: backend, area: frontend, size:S

#2542 feat(notion): update doc
  backend/modules/brain/integrations/Notion/Notion_connector.py
Labels: size:XS

#2543 chore(main): release 0.0.246
  CHANGELOG.md
Labels: autorelease: pending, size:S

#2549 feat(frontend): add notifications for document uploads
  backend/supabase/migrations/20240506150059_timestampz.sql
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.module.scss
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.tsx
  frontend/lib/components/PageHeader/Notifications/Notification/Notification.module.scss
  frontend/lib/components/PageHeader/Notifications/Notification/Notification.tsx
  frontend/lib/components/PageHeader/Notifications/Notifications.module.scss
  frontend/lib/components/PageHeader/Notifications/Notifications.tsx
  frontend/lib/components/PageHeader/Notifications/types/types.ts
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/PageHeader/PageHeader.tsx
  frontend/lib/components/ui/TextButton/TextButton.module.scss
  frontend/lib/components/ui/TextButton/TextButton.tsx
  frontend/lib/helpers/iconList.ts
  frontend/next.config.js
  frontend/styles/_Typography.module.scss
Labels: area: frontend, size:XL

#2552 Update install.mdx
  docs/install.mdx
Labels: lgtm, size:XS

#2551 fix(frontend): fix notifications issues
  frontend/lib/components/PageHeader/Notifications/Notifications.tsx
  frontend/lib/components/PageHeader/PageHeader.tsx
Labels: area: frontend, lgtm, size:M

#2553 chore(ci): Update PR title linting workflow
  .github/workflows/conventional-pr-title.yml
Labels: size:S

#2550 chore(main): release 0.0.247
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2555 fix: utf8 encoding
  backend/packages/files/parsers/common.py
Labels: area: backend, lgtm, size:XS

#2557 feat(celery): moved assistant summary to celery
  backend/celery_config.py
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
  backend/modules/assistant/ito/tasks.py
Labels: area: backend, size:L

#2558 Revert "feat(celery): moved assistant summary to celery"
  backend/celery_config.py
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
  backend/modules/assistant/ito/tasks.py
Labels: size:L

#2556 chore(main): release 0.0.248
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2562 feat(crawler): Add Playwright for web crawling
  Pipfile
  Pipfile.lock
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/celery_worker.py
  backend/modules/assistant/ito/difference.py
  backend/packages/files/crawl/crawler.py
  backend/packages/files/parsers/common.py
  backend/requirements.txt
  backend/routes/crawl_routes.py
Labels: area: backend, size:L

#2563 chore(main): release 0.0.249
  CHANGELOG.md
Labels: autorelease: pending, size:XS

#2566 feat(gpt4): Add search functionality
  .gitignore
  Pipfile
  Pipfile.lock
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/requirements.txt
Labels: area: backend, size:L

#2569 feat(gpt4): image generation
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, size:M

#2570 fix(front): Add NEXT_PUBLIC_AUTH_MODES to .env.example
  .env.example
Labels: size:XS

#2572 fix: NEXT_PUBLIC_AUTH_MODES in docker-compose.yml
  backend/modules/brain/integrations/GPT4/Brain.py
  docker-compose.yml
Labels: area: backend, size:XS

#2574 docs: Add Supabase configuration documentation
  docs/configuring/supabase-setup.mdx
  docs/mint.json
Labels: size:M

#2573 docs(gpt4): Update GPT-4 Documentation
  docs/brains/gpt4.mdx
Labels: size:S

#2575 chore: tools
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/tools/__init__.py
  backend/modules/tools/image_generator.py
Labels: area: backend, size:L

#2576 feat(brave-search): Update GPT4Brain tools and add WebSearchTool
  .env.example
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/tools/__init__.py
  backend/modules/tools/web_search.py
  backend/packages/files/crawl/crawler.py
  docs/configuring/brave-search.mdx
  docs/configuring/environment-variables.mdx
  docs/mint.json
Labels: area: backend, size:L

#2577 feat(tool): Add URLReaderTool
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/tools/__init__.py
  backend/modules/tools/url_reader.py
Labels: area: backend, size:M

#2579 feat(email): Add email sender tool and update image generator tool
  backend/modules/assistant/ito/ito.py
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/tools/__init__.py
  backend/modules/tools/email_sender.py
  backend/modules/tools/image_generator.py
  backend/modules/tools/web_search.py
Labels: size:L

#2578 chore(main): release 0.0.251
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2580 docs: Update GPT4 documentation with available tools and use cases
  backend/modules/brain/integrations/GPT4/Brain.py
  docs/brains/gpt4.mdx
Labels: area: backend, size:M

#2582 docs: Add docstrings to integration brains
  backend/modules/brain/integrations/Big/Brain.py
  backend/modules/brain/integrations/Claude/Brain.py
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/integrations/Notion/Brain.py
  backend/modules/brain/integrations/Proxy/Brain.py
Labels: area: backend, size:L

#2584 fix: Update import statements for OllamaEmbeddings
  backend/models/settings.py
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/controller/chat_routes.py
Labels: area: backend, size:S

#2589 feat: Add support for gpt-4o model
  Pipfile.lock
  backend/modules/assistant/ito/difference.py
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/qa_interface.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/requirements.txt
  backend/tests/ragas_evaluation/run_evaluation.py
  frontend/lib/helpers/defineMaxTokens.ts
  frontend/lib/types/BrainConfig.ts
Labels: size:M

#2581 chore(main): release 0.0.252
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2423 fix(frontend): Implement persistent dark mode setting and & Implement persistent dark mode setting
  frontend/app/user/components/LanguageSelect/hooks/useLanguageHook.ts
  frontend/lib/context/UserSettingsProvider/User-settings.provider.tsx
Labels: area: frontend, size:M

#2587 fix(frontend): hover effect on profile Button
  frontend/lib/components/Menu/components/MenuButton/MenuButton.tsx
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.module.scss
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.tsx
  frontend/lib/components/ui/FoldableSection/FoldableSection.module.scss
Labels: area: frontend, size:S

#2586 fix(frontend): user invite UI on Mobile
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/BrainUsers/components/UserToInvite/UserToInvite.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/BrainUsers/components/UserToInvite/UserToInvite.tsx
  frontend/lib/components/ui/TextInput/TextInput.tsx
Labels: area: frontend, lgtm, size:M

#2591 feat: Update ChatLiteLLM model and add RLS optimization for notifications
  backend/modules/assistant/ito/summary.py
  backend/supabase/migrations/20240514080520_rls_optim.sql
Labels: area: backend, size:S

#2590 chore(main): release 0.0.253
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2600 fix: sender email address in resend_invitation_email.py
  backend/modules/brain/service/brain_subscription/resend_invitation_email.py
Labels: area: backend, size:XS

#2601 chore(main): release 0.0.254
  CHANGELOG.md
Labels: autorelease: pending, size:XS

#2592 feat: Add Google Drive & Sharepoint sync in backend
  .env.example
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  backend/celery_config.py
  backend/celery_worker.py
  backend/main.py
  backend/models/settings.py
  backend/modules/brain/repository/__init__.py
  backend/modules/brain/service/brain_service.py
  backend/modules/knowledge/controller/knowledge_routes.py
  backend/modules/notification/service/notification_service.py
  backend/modules/sync/__init__.py
  backend/modules/sync/controller/__init__.py
  backend/modules/sync/controller/azure_sync_routes.py
  backend/modules/sync/controller/google_sync_routes.py
  backend/modules/sync/controller/sync_routes.py
  backend/modules/sync/dto/__init__.py
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/dto/outputs.py
  backend/modules/sync/entity/__init__.py
  backend/modules/sync/entity/sync.py
  backend/modules/sync/repository/__init__.py
  backend/modules/sync/repository/sync.py
  backend/modules/sync/repository/sync_files.py
  backend/modules/sync/repository/sync_interfaces.py
  backend/modules/sync/repository/sync_user.py
  backend/modules/sync/service/__init__.py
  backend/modules/sync/service/sync_service.py
  backend/modules/sync/task.py
  backend/modules/sync/tests/test_api_key.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/list_files.py
  backend/modules/sync/utils/sharepointutils.py
  backend/modules/sync/utils/upload.py
  backend/modules/upload/service/upload_file.py
  backend/playground/auth-azure.py
  backend/playground/auth.py
  backend/requirements.txt
  backend/supabase/migrations/20240516143634_syncs.sql
  backend/supabase/migrations/20240521144817_syncs-files.sql
Labels: area: backend, size:XXL

#2603 Revert "feat: Add Google Drive & Sharepoint sync in backend"
  .env.example
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  backend/celery_config.py
  backend/celery_worker.py
  backend/main.py
  backend/models/settings.py
  backend/modules/brain/repository/__init__.py
  backend/modules/brain/service/brain_service.py
  backend/modules/knowledge/controller/knowledge_routes.py
  backend/modules/notification/service/notification_service.py
  backend/modules/sync/__init__.py
  backend/modules/sync/controller/__init__.py
  backend/modules/sync/controller/azure_sync_routes.py
  backend/modules/sync/controller/google_sync_routes.py
  backend/modules/sync/controller/sync_routes.py
  backend/modules/sync/dto/__init__.py
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/dto/outputs.py
  backend/modules/sync/entity/__init__.py
  backend/modules/sync/entity/sync.py
  backend/modules/sync/repository/__init__.py
  backend/modules/sync/repository/sync.py
  backend/modules/sync/repository/sync_files.py
  backend/modules/sync/repository/sync_interfaces.py
  backend/modules/sync/repository/sync_user.py
  backend/modules/sync/service/__init__.py
  backend/modules/sync/service/sync_service.py
  backend/modules/sync/task.py
  backend/modules/sync/tests/test_api_key.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/list_files.py
  backend/modules/sync/utils/sharepointutils.py
  backend/modules/sync/utils/upload.py
  backend/modules/upload/service/upload_file.py
  backend/playground/auth-azure.py
  backend/playground/auth.py
  backend/requirements.txt
  backend/supabase/migrations/20240516143634_syncs.sql
  backend/supabase/migrations/20240521144817_syncs-files.sql
Labels: size:XXL

#2605 Feat/auth-playground
  .env.example
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  backend/celery_config.py
  backend/celery_worker.py
  backend/main.py
  backend/models/settings.py
  backend/modules/brain/repository/__init__.py
  backend/modules/brain/service/brain_service.py
  backend/modules/knowledge/controller/knowledge_routes.py
  backend/modules/notification/service/notification_service.py
  backend/modules/sync/__init__.py
  backend/modules/sync/controller/__init__.py
  backend/modules/sync/controller/azure_sync_routes.py
  backend/modules/sync/controller/google_sync_routes.py
  backend/modules/sync/controller/sync_routes.py
  backend/modules/sync/dto/__init__.py
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/dto/outputs.py
  backend/modules/sync/entity/__init__.py
  backend/modules/sync/entity/sync.py
  backend/modules/sync/repository/__init__.py
  backend/modules/sync/repository/sync.py
  backend/modules/sync/repository/sync_files.py
  backend/modules/sync/repository/sync_interfaces.py
  backend/modules/sync/repository/sync_user.py
  backend/modules/sync/service/__init__.py
  backend/modules/sync/service/sync_service.py
  backend/modules/sync/tasks.py
  backend/modules/sync/tests/test_api_key.py
  backend/modules/sync/utils/googleutils.py
  backend/modules/sync/utils/list_files.py
  backend/modules/sync/utils/sharepointutils.py
  backend/modules/sync/utils/upload.py
  backend/modules/upload/service/upload_file.py
  backend/playground/auth-azure.py
  backend/playground/auth.py
  backend/requirements.txt
  backend/supabase/migrations/20240516143634_syncs.sql
  backend/supabase/migrations/20240521144817_syncs-files.sql
Labels: area: backend, size:XXL

#2606 feat: add init to create packages
  backend/middlewares/__init__.py
  backend/models/databases/__init__.py
  backend/modules/analytics/repository/__init__.py
  backend/modules/brain/dto/__init__.py
  backend/modules/brain/integrations/Big/__init__.py
  backend/modules/brain/rags/__init__.py
  backend/modules/chat/dto/__init__.py
  backend/modules/chat/entity/__init__.py
  backend/modules/chat/repository/__init__.py
  backend/modules/chat/service/__init__.py
  backend/modules/contact_support/__init__.py
  backend/modules/sync/utils/__init__.py
  backend/packages/__init__.py
  backend/packages/emails/__init__.py
  backend/packages/embeddings/__init__.py
  backend/routes/__init__.py
Labels: area: backend, size:XS

#2608 Feat/celery import
  backend/celery_worker.py
Labels: area: backend, size:XS

#2610 feat: self-reflect brain
  backend/modules/brain/integrations/Self/Brain.py
  backend/modules/brain/integrations/Self/__init__.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/chat/controller/chat/brainful_chat.py
Labels: area: backend, size:L

#2611 feat: ragas improved testing
  backend/modules/brain/rags/quivr_rag.py
  backend/tests/input/monotype/COMPLETED Contoso Healthcare Pvt  Ltd  LOF 12 01 2021.pdf
  backend/tests/input/monotype/COMPLETED Contoso Laboratories Other 01 01 2022.pdf
  backend/tests/input/monotype/COMPLETED Contoso Laboratories Other 04 09 2022.pdf
  backend/tests/input/monotype/COMPLETED Contoso Laboratories Other 12 31 2023.pdf
  backend/tests/input/monotype/COMPLETED Contoso Lyon MT Fonts Enterprise License 08 04 2023.pdf
  backend/tests/ragas_evaluation/run_evaluation.py
  backend/tests/ragas_tests/experiment.json
Labels: area: backend, size:M

#2612 fix(frontend): less agressive colors
  frontend/app/colors.css
Labels: area: frontend, size:M

#2613 fix(frontend): important buttons
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.tsx
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/CreateBrainStep.tsx
  frontend/lib/components/UploadDocumentModal/UploadDocumentModal.tsx
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.tsx
  frontend/lib/types/QuivrButton.ts
Labels: area: frontend, size:M

#2614 fix(frontend): fix white colors
  frontend/app/colors.css
  frontend/app/globals.css
Labels: area: frontend, size:S

#2616 fix(frontend): using dark mode in tiptap
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
Labels: area: frontend, size:S

#2618 feat(rag): follow-up questions and thoughts with spanish fix
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, size:M

#2619 chore(main): release 0.0.256
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2620 Add Privacy & Compliance Documentation
  docs/privacy-and-compliance.mdx
Labels: size:M

#2621 docs(security): added compliance
  docs/mint.json
  docs/privacy-and-compliance.mdx
Labels: size:L

#2623 fix(frontend): upgrade button on user page
  frontend/app/user/components/StripePricingOrManageButton.tsx
Labels: area: frontend, size:S

#2624 feat(frontend): Add ThoughtsButton component for displaying thoughts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/lib/components/ui/ThoughtsButton.tsx
  frontend/lib/components/ui/Tooltip/Tooltip.module.scss
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/MessageMetadata.ts
Labels: area: frontend, size:M

#2622 chore(main): release 0.0.257
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2615 feat: Update QuivrRAG and run_evaluation.py files
  .gitignore
  Pipfile.lock
  backend/modules/brain/integrations/Multi_Contract/Brain.py
  backend/modules/brain/integrations/Multi_Contract/__init__.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/packages/files/parsers/common.py
  backend/requirements.txt
  backend/tests/ragas_evaluation/run_evaluation.py
  backend/tests/ragas_tests/experiment.json
  backend/vectorstore/supabase.py
Labels: area: backend, size:L

#2628 feat(sync): retrieve user email used for the connection
  backend/modules/sync/controller/azure_sync_routes.py
  backend/modules/sync/controller/google_sync_routes.py
  backend/modules/sync/controller/sync_routes.py
  backend/modules/sync/dto/inputs.py
  backend/modules/sync/repository/sync_user.py
  backend/modules/sync/service/sync_service.py
  backend/supabase/migrations/20240529132812_syncs-emails.sql
Labels: area: backend, size:M

#2629 fix: Refactor conversational_qa_chain initialization in KnowledgeBrainQA
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, size:S
