Repository QuivrHQ/quivr, pull requests merged in 2024-01, with the labels that each got.

#1945 feat: 🎸 posthog
  frontend/app/App.tsx
  vercel.json
Labels: area: frontend, size:S

#1946 chore(main): release 0.0.152
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1966 feat: 🎸 usage
  backend/models/databases/supabase/user_usage.py
Labels: size:S

#1951 chore(main): release 0.0.153
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, type: dependencies, size:S

#1967 feat: 🎸 models
  .gitignore
  README.md
  backend/models/databases/supabase/user_usage.py
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/chat/controller/chat_routes.py
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/lib/components/Menu/components/UpgradeToPlus.tsx
  frontend/lib/components/Sidebar/components/SidebarFooter/components/UpgradeToPlus.tsx
  supabase/migrations/20240103231656_product.sql
  supabase/migrations/20240103234423_models.sql
Labels: area: backend, size:L

#1968 chore(main): release 0.0.154
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#1969 chore(main): release 0.0.155
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#1973 fix: 🐛 models
  backend/llm/composite_brain_qa.py
  backend/modules/brain/tests/test_brains.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/tests/test_chats.py
Labels: area: backend, type: dependencies, size:M

#1974 chore(main): release 0.0.156
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#1978 feat: 🎸 posthog
  backend/models/settings.py
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  backend/renovate.json
  backend/requirements.txt
  supabase/migrations/20240103185550_upgrade.sql
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#1981 chore(main): release 0.0.158
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#1984 chore(main): release 0.0.159
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#1985 chore(main): release 0.0.160
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#1997 feat: 🎸 policies
  supabase/config.toml
  supabase/migrations/20240107231636_policies.sql
  supabase/seed.sql
Labels: autorelease: pending, area: scripts, size:XL

#1990 chore(main): release 0.0.161
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#2012 fix(frontend): remove right panel and reduce chat section width
  frontend/app/chat/[chatId]/page.tsx
Labels: autorelease: pending, area: frontend, size:M

#2013 chore(main): release 0.0.162
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2014 fix(frontend): left panel is not closing
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/AnimationDiv.tsx
  frontend/lib/components/Menu/hooks/useMenuWidth.ts
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2016 fix: csp
  backend/chat_service.py
  backend/crawl_service.py
  backend/upload_service.py
  frontend/next.config.js
Labels: autorelease: pending, area: frontend, type: dependencies, size:L

#2015 chore(main): release 0.0.163
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2017 chore(main): release 0.0.164
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2023 fix(frontend): wrong placeholder message date
  frontend/app/chat/[chatId]/utils/generatePlaceHolderMessage.ts
Labels: autorelease: pending, area: frontend, lgtm, size:S

#2024 chore(main): release 0.0.165
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2025 feat: 🎸 backend
  backend/llm/knowledge_brain_qa.py
  backend/llm/rags/quivr_rag.py
  backend/models/databases/supabase/user_usage.py
  backend/modules/brain/dto/inputs.py
  backend/modules/brain/repository/brains.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat/interface.py
  backend/modules/chat/controller/chat_routes.py
  backend/vectorstore/supabase.py
  supabase/migrations/20240119070124_search.sql
Labels: autorelease: pending, area: backend, size:L

#2027 feat: 🎸 sources
  backend/llm/knowledge_brain_qa.py
  backend/modules/chat/dto/outputs.py
  backend/modules/chat/entity/chat.py
  backend/modules/chat/service/chat_service.py
  supabase/migrations/20240119222036_metadata.sql
Labels: autorelease: pending, area: backend, size:M

#2028 fix(frontend): redirection from search
  frontend/app/(auth)/login/hooks/useLogin.ts
  frontend/app/(home)/page.tsx
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/MenuControlButton/MenuControlButton.tsx
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/layout.tsx
  frontend/lib/components/Logo/Logo.tsx
  frontend/lib/components/Menu/components/DiscussionButton.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
  frontend/lib/helpers/redirectToPreviousPageOrSearchPage.ts
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/chat.json
Labels: area: frontend, type: dependencies, lgtm, size:L

#2031 feat: adding search
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/MenuControlButton/MenuControlButton.tsx
  frontend/lib/context/ChatProvider/ChatProvider.tsx
  supabase/migrations/20240120004107_tags.sql
Labels: area: backend, type: dependencies, size:S

#2029 chore(main): release 0.0.166
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:S

#2034 fix(frontend): chat still refreshs on first request
  frontend/app/chat/layout.tsx
Labels: autorelease: pending, area: frontend, size:XS

#2035 chore(main): release 0.0.167
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2036 fix(frontend): don t load chat items on search
  frontend/app/chat/[chatId]/hooks/useChatNotificationsSync.ts
  frontend/app/chat/layout.tsx
Labels: autorelease: pending, area: frontend, size:S

#2037 chore(main): release 0.0.168
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2039 feat(brains): added now multiple brains close by
  backend/llm/knowledge_brain_qa.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/service/chat_service.py
  backend/vectorstore/supabase.py
Labels: autorelease: pending, area: backend, size:M

#2040 fix(frontend): set chat messages only if needed
  frontend/app/chat/[chatId]/hooks/useChatNotificationsSync.ts
Labels: area: frontend, type: dependencies, size:S

#2038 chore(main): release 0.0.169
  CHANGELOG.md
Labels: autorelease: pending, type: dependencies, size:XS

#2042 fix(frontend): translate configure for brains and successfully deleted for chat
  frontend/app/brains-management/components/BrainsTabs/components/BrainItem.tsx
  frontend/public/locales/en/brain.json
  frontend/public/locales/en/chat.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/es/chat.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/fr/chat.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/pt-br/chat.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/ru/chat.json
  frontend/public/locales/zh-cn/brain.json
  frontend/public/locales/zh-cn/chat.json
Labels: autorelease: pending, area: frontend, lgtm, size:XXL

#2043 fix(frontend): change search icon on menu
  frontend/lib/components/Menu/components/DiscussionButton.tsx
Labels: area: frontend, type: dependencies, lgtm, size:XS

#2045 fix: 🐛 search
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/vectorstore/supabase.py
  supabase/migrations/20240121195523_fix-public.sql
Labels: autorelease: pending, area: backend, size:M

#2044 fix(frontend): remove brain choice when search page displays
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
Labels: autorelease: pending, area: frontend, size:L

#2041 chore(main): release 0.0.170
  CHANGELOG.md
Labels: autorelease: pending, area: docs, size:S

#2047 fix(frontend): don't set default brain as current brain and remove change brain button
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChangeBrainButton.tsx
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2048 feat: 🎸 brains
  backend/modules/brain/entity/brain_entity.py
  backend/modules/brain/repository/brains.py
  backend/modules/brain/repository/brains_users.py
Labels: autorelease: pending, area: backend, size:M

#2046 chore(main): release 0.0.171
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#2049 feat(frontend): handle mentions in search bar
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useEditor.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useEditorStateUpdater.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/MenuControlButton/MenuControlButton.module.scss
  frontend/lib/components/ui/Button.tsx
  frontend/lib/components/ui/LoaderIcon/LoaderIcon.module.scss
  frontend/lib/components/ui/LoaderIcon/LoaderIcon.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
  frontend/lib/types/Icons.ts
  frontend/styles/_IconSizes.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:L

#2050 chore(main): release 0.0.172
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2052 fix(api-brains): fixed with new types of brains
  backend/llm/api_brain_qa.py
Labels: size:S

#2051 fix(frontend): font size on chat feed
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent.tsx
Labels: autorelease: pending, area: frontend, size:XS

#2053 chore(main): release 0.0.173
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#2054 fix(frontend): remove actions modal
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/ActionsModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/ChatHistoryButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/__tests__/ChatsList.test.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/components/WelcomeChat/WelcomeChat.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/components/WelcomeChat/hooks/useWelcomeChat.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/components/WelcomeChat/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ChatHistoryButton/components/ChatsList/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/ConfigModal.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/hooks/useConfigModal.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/ConfigModal/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/FeedCardTrigger.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/hooks/useFeedCardTrigger.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/hooks/useFeedCardTriggerUtils.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/FeedCardTrigger/index.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ActionsModal/components/SelectedBrainTag.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/lib/components/Menu/components/BrainsManagementButton.tsx
  frontend/lib/components/Menu/components/DiscussionButton.tsx
  frontend/lib/components/Menu/components/ExplorerButton.tsx
  frontend/lib/components/Menu/components/MenuButton.tsx
  frontend/lib/components/Menu/components/ParametersButton.tsx
  frontend/lib/components/Menu/components/ProfileButton.tsx
  frontend/lib/components/Menu/components/UpgradeToPlus.tsx
Labels: area: frontend, lgtm, size:XL

#2057 feat: 🎸 usage
  backend/models/databases/repository.py
  backend/models/databases/supabase/user_usage.py
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/user/controller/user_controller.py
  frontend/lib/types/User.ts
  supabase/migrations/20240122194117_monthly-credit.sql
Labels: autorelease: pending, area: backend, size:M

#2055 chore(main): release 0.0.174
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2058 fix: 🐛 limits
  backend/models/databases/supabase/user_usage.py
Labels: size:XS

#2059 chore(main): release 0.0.175
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:XS

#2061 chore(main): release 0.0.176
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2062 fix: 🐛 usage
  backend/models/databases/supabase/user_usage.py
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  supabase/seed.sql
Labels: size:L

#2063 chore(main): release 0.0.177
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2065 feat: 🎸 cpu
  .aws/task_definition.json
  .aws/task_definition_preview.json
  .aws/task_definition_preview_worker.json
  .aws/task_definition_prod_worker.json
  .aws/task_definition_strapi.json
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  backend/repository/files/list_files.py
  backend/vectorstore/supabase.py
Labels: autorelease: pending, area: backend, type: dependencies, size:XL

#2064 chore(main): release 0.0.178
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2066 chore(main): release 0.0.179
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2068 fix: 🐛 api
  backend/llm/api_brain_qa.py
  backend/llm/utils/make_api_request.py
Labels: autorelease: pending, area: backend, size:M

#2071 fix(frontend): uniformize case for types
  frontend/lib/types/BrainConfig.ts
  frontend/lib/types/Testimonial.ts
Labels: autorelease: pending, area: frontend, size:M

#2072 fix: 🐛 gitconfig
  frontend/lib/types/brainConfig.ts
  frontend/lib/types/testimonial.ts
Labels: area: frontend, type: dependencies, size:M

#2069 chore(main): release 0.0.180
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, type: dependencies, size:S

#2074 fix(frontend): unable multiple enter on search page
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
Labels: autorelease: pending, area: frontend, size:S

#2075 fix(frontend): force brain on search was broken
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:XS

#2073 chore(main): release 0.0.181
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2076 fix: 🐛 crawl
  backend/routes/crawl_routes.py
Labels: autorelease: pending, area: backend, size:XS

#2077 chore(main): release 0.0.182
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2081 fix: 🐛 subscription
  frontend/lib/components/UserToInvite.tsx
Labels: autorelease: pending, area: frontend, size:S

#2082 chore(main): release 0.0.183
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2088 feat(panel): added
  frontend/app/brains-management/page.tsx
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/[chatId]/page.module.scss
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/app/search/page.module.scss
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/AnimationDiv.tsx
  frontend/lib/components/ui/FoldableSection/FoldableSection.module.scss
  frontend/lib/components/ui/FoldableSection/FoldableSection.tsx
  frontend/lib/components/ui/Icon/Icon.module.scss
  frontend/lib/components/ui/Icon/Icon.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/TextButton/TextButton.module.scss
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/MessageMetadata.ts
  frontend/styles/_Colors.module.scss
Labels: autorelease: pending, area: frontend, size:XL

#2078 feat: 🎸 api
  .gitignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/llm/api_brain_qa.py
  backend/llm/composite_brain_qa.py
  backend/llm/knowledge_brain_qa.py
  backend/llm/utils/make_api_request.py
  backend/modules/brain/dto/inputs.py
  backend/modules/brain/entity/api_brain_definition_entity.py
  backend/modules/brain/entity/brain_entity.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/dto/outputs.py
  backend/requirements.txt
  frontend/lib/api/brain/types.ts
  frontend/lib/components/ApiRequestDefinition/ApiRequestDefinition.tsx
  frontend/lib/config/defaultBrainConfig.ts
  frontend/package.json
  frontend/yarn.lock
  supabase/migrations/20240125230346_raw.sql
Labels: autorelease: pending, area: backend, size:L

#2087 fix(frontend): clear message input on submit
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/Editor.tsx
Labels: autorelease: pending, area: frontend, size:XS

#2090 fix: 🐛 related
  backend/llm/api_brain_qa.py
  backend/modules/brain/dto/inputs.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/service/chat_service.py
Labels: autorelease: pending, area: backend, type: dependencies, size:M

#2080 feat: Added translation status badge from inlang
  docs/developers/contribution/guidelines.mdx
Labels: autorelease: pending, area: docs, size:XS

#2079 fix(streaming): Data Truncation Issue in useHandleStream Function
  frontend/app/chat/[chatId]/hooks/useHandleStream.ts
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2092 feat: 🎸 sources
  backend/llm/knowledge_brain_qa.py
  backend/modules/chat/dto/chats.py
  backend/modules/notification/repository/notifications.py
  backend/routes/crawl_routes.py
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
Labels: autorelease: pending, area: backend, type: dependencies, size:M

#2091 fix(frontend): clean related Brains useEffect
  frontend/.eslintrc.js
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/chat/[chatId]/page.module.scss
  frontend/app/chat/[chatId]/types/index.ts
Labels: autorelease: pending, area: frontend, size:XS

#2089 chore(main): release 0.0.184
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2096 fix: 🐛 brain
  backend/modules/chat/controller/chat/brainful_chat.py
Labels: autorelease: pending, area: backend, size:XS

#2094 feat(frontend): search modal - remove parameters and explore buttons
  frontend/app/App.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/chat/[chatId]/hooks/useHandleStream.ts
  frontend/app/library/components/PublicBrainItem/PublicBrainItem.tsx
  frontend/app/library/components/PublicBrainItem/components/SecretsDefinitionFields.tsx
  frontend/app/library/components/PublicBrainItem/hooks/usePublicBrainItem.ts
  frontend/app/library/components/PublicBrainItem/index.ts
  frontend/app/library/components/PublicBrainItem/utils/formatDate.ts
  frontend/app/library/components/PublicBrainItem/utils/generatePublicBrainLink.ts
  frontend/app/library/components/index.ts
  frontend/app/library/hooks/useBrainsLibrary.tsx
  frontend/app/library/layout.tsx
  frontend/app/library/page.tsx
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/DiscussionButton.tsx
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.module.scss
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.tsx
  frontend/lib/components/Menu/components/ExplorerButton.tsx
  frontend/lib/components/Menu/components/ParametersButton.tsx
  frontend/lib/components/SearchModal/SearchModal.module.scss
  frontend/lib/components/SearchModal/SearchModal.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
  frontend/lib/context/SearchModalProvider/hooks/useSearchModalContext.tsx
  frontend/lib/context/SearchModalProvider/search-modal-provider.tsx
  frontend/styles/_Colors.module.scss
  frontend/styles/_ZIndex.module.scss
  frontend/styles/_ZIndexes.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:XL

#2095 fix: 🐛 tests
  .gitignore
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  backend/conftest.py
  backend/modules/api_key/tests/test_api_key.py
  backend/modules/brain/tests/test_brains.py
  backend/modules/chat/tests/test_chats.py
  connectors/telegram_bot/.env.example
  connectors/telegram_bot/main.py
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#2098 fix(frontend): click on mention list on search bar in modal bug
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/MentionsList.tsx
  frontend/lib/components/SearchModal/SearchModal.module.scss
  frontend/lib/components/SearchModal/SearchModal.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:S

#2100 fix(frontend): remove dark theme
  frontend/app/user/components/ThemeSelect/DarkModeToggle.tsx
  frontend/app/user/components/ThemeSelect/ThemeSelect.tsx
  frontend/app/user/components/ThemeSelect/__tests__/ThemeSelect.test.tsx
  frontend/app/user/components/ThemeSelect/hooks/useTheme.ts
  frontend/app/user/page.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:L

#2101 fix(frontend): delete brain
  frontend/app/brains-management/[brainId]/components/BrainManagementTabs/hooks/useBrainManagementTabs.ts
Labels: area: frontend, type: dependencies, lgtm, size:XS

#2102 feat(14k): done
  .github/workflows/stale.yml
  .github/workflows/vercel-docs.yml
  .github/workflows/vitest.yml
  .vscode/settings.json
  Pipfile
  Pipfile.lock
  backend/llm/knowledge_brain_qa.py
  backend/llm/rags/quivr_rag.py
  backend/models/databases/entity.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/user_usage.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/controller/chat/brainful_chat.py
  backend/modules/chat/controller/chat/brainless_chat.py
  backend/modules/chat/controller/chat/interface.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/dto/chats.py
  backend/packages/files/parsers/audio.py
  backend/packages/files/parsers/code_python.py
  backend/packages/files/parsers/common.py
  backend/packages/files/parsers/csv.py
  backend/packages/files/parsers/docx.py
  backend/packages/files/parsers/epub.py
  backend/packages/files/parsers/github.py
  backend/packages/files/parsers/html.py
  backend/packages/files/parsers/markdown.py
  backend/packages/files/parsers/notebook.py
  backend/packages/files/parsers/odt.py
  backend/packages/files/parsers/pdf.py
  backend/packages/files/parsers/powerpoint.py
  backend/packages/files/parsers/telegram.py
  backend/packages/files/parsers/txt.py
  backend/packages/files/parsers/xlsx.py
  backend/packages/files/processors.py
  backend/repository/brain/get_question_context_from_brain.py
  backend/vectorstore/supabase.py
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#2099 chore(main): release 0.0.186
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2104 feat: 🎸 user-limits
  backend/llm/composite_brain_qa.py
  backend/modules/brain/repository/interfaces/test_brains_interface.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/controller/chat/test_utils.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/tests/test_chats.py
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#2107 fix: 🐛 brains
  backend/modules/brain/service/brain_service.py
  backend/modules/brain/service/test_brain_service.py
  backend/modules/chat/controller/chat_routes.py
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#2106 feat(frontend): chat page ui/ux design
  frontend/.eslintrc.js
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/CopyButton.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPompt.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPrompt.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/SourcesButton.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/hooks/useMessageRow.ts
  frontend/app/chat/[chatId]/utils/generatePlaceHolderMessage.ts
  frontend/app/search/page.module.scss
  frontend/lib/components/ui/Icon/Icon.module.scss
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/Colors.ts
  frontend/styles/_Colors.module.scss
  frontend/styles/_Typography.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:L

#2109 Fix typo of UI: Ressources ==> Resources
  frontend/public/locales/en/brain.json
  frontend/public/locales/fr/brain.json
Labels: autorelease: pending, area: frontend, size:XS

#2110 fix(frontend): fix li markdown on chat
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
Labels: autorelease: pending, area: frontend, size:XS

#2105 chore(main): release 0.0.187
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2112 fix: 🐛 upload
  backend/modules/notification/repository/notifications.py
  backend/modules/notification/service/notification_service.py
  backend/modules/upload/controller/upload_routes.py
  backend/repository/files/upload_file.py
Labels: size:M

#2113 feat(frontend): add sources to metadata
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/Sources/Sources.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/Sources/Sources.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/MessageMetadata.ts
Labels: autorelease: pending, area: frontend, size:L

#2111 chore(main): release 0.0.188
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2118 fix(frontend): fix z index popover on add knwoledge modal
  frontend/lib/components/ui/Popover.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:XS

#2117 chore(main): release 0.0.189
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2119 fix(frontend): Better contrast in Menu
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/AddBrainSteps.tsx
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/AnimationDiv.tsx
  frontend/lib/components/Menu/components/BrainsManagementButton/BrainsManagementButton.tsx
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.module.scss
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.tsx
  frontend/lib/components/Menu/components/HistoryButton/ChatsSection/ChatHistoryItem/ChatHistoryItem.module.scss
  frontend/lib/components/Menu/components/HistoryButton/ChatsSection/ChatHistoryItem/ChatHistoryItem.tsx
  frontend/lib/components/Menu/components/HistoryButton/ChatsSection/ChatsSection.module.scss
  frontend/lib/components/Menu/components/HistoryButton/HistoryButton.module.scss
  frontend/lib/components/Menu/components/HistoryButton/HistoryButton.tsx
  frontend/lib/components/Menu/components/HomeButton/HomeButton.tsx
  frontend/lib/components/Menu/components/MenuButton/MenuButton.module.scss
  frontend/lib/components/Menu/components/MenuButton/MenuButton.tsx
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.tsx
  frontend/lib/components/Menu/components/UpgradeToPlusButton/UpgradeToPlusButton.tsx
  frontend/lib/components/Menu/components/UploadDocumentButton/UploadDocumentButton.tsx
  frontend/lib/components/ui/FoldableSection/FoldableSection.module.scss
  frontend/lib/components/ui/FoldableSection/FoldableSection.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/helpers/iconList.ts
  frontend/public/locales/en/brain.json
  frontend/public/locales/es/brain.json
  frontend/public/locales/fr/brain.json
  frontend/public/locales/pt-br/brain.json
  frontend/public/locales/ru/brain.json
  frontend/public/locales/zh-cn/brain.json
  frontend/styles/_Colors.module.scss
Labels: autorelease: pending, area: frontend, size:L

#2121 fix(frontend): better chat color and copy icon position
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/CopyButton.tsx
  frontend/styles/_Colors.module.scss
  frontend/styles/_IconSizes.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2122 fix(frontend): better visualisation of current path on menu
  frontend/lib/components/Menu/components/MenuButton/MenuButton.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:S

#2124 feat(frontend): uniformize behaviour for metadata panel
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2130 fix(frontend): fetch chat only if session exist
  frontend/app/chat/[chatId]/hooks/useChatsList.ts
Labels: autorelease: pending, area: frontend, size:S

#2129 fix(frontend): prompt display
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPompt.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPrompt.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:S

#2131 fix(frontend): upload knwoledge in brains manegement
  frontend/lib/hooks/useDropzone.ts
Labels: autorelease: pending, area: frontend, size:XS

#2120 chore(main): release 0.0.190
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S
