Repository QuivrHQ/quivr, pull requests merged in 2024-08, with the labels that each got.

#2935 fix: quivr core fix tests
  .github/workflows/backend-core-tests.yml
  backend/core/Dockerfile.test
  backend/core/scripts/run_tests.sh
  backend/core/scripts/run_tests_buildx.sh
  backend/core/tox.ini
Labels: area: backend, area: scripts, size:M

#2930 chore(main): release core 0.0.13
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, lgtm, size:S

#2871 feat: Add GitHub sync functionality to sync router
  backend/api/quivr_api/modules/sync/controller/github_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/repository/sync_interfaces.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/tasks.py
  backend/api/quivr_api/modules/sync/utils/githubutils.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  frontend/lib/api/sync/sync.ts
  frontend/lib/api/sync/types.ts
  frontend/lib/api/sync/useSync.ts
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: area: backend, area: frontend, size:L

#2942 refactor: Remove syncGitHub function from useSync.ts
  frontend/lib/api/sync/useSync.ts
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: area: frontend, size:XS

#2933 feat: add chat with models
  .vscode/settings.json
  Makefile
  backend/api/quivr_api/main.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat/service/chat_service.py
  backend/api/quivr_api/modules/chat_llm_service/__init__.py
  backend/api/quivr_api/modules/chat_llm_service/chat_llm_service.py
  backend/api/quivr_api/modules/models/controller/__init__.py
  backend/api/quivr_api/modules/models/controller/model_routes.py
  backend/api/quivr_api/modules/models/entity/model.py
  backend/api/quivr_api/modules/models/repository/model.py
  backend/api/quivr_api/modules/models/repository/model_interface.py
  backend/api/quivr_api/modules/models/service/model_service.py
  backend/api/quivr_api/modules/models/tests/test_models.py
  backend/core/examples/chat_llm.py
  backend/core/quivr_core/__init__.py
  backend/core/quivr_core/chat.py
  backend/core/quivr_core/chat_llm.py
  backend/core/quivr_core/llm/llm_endpoint.py
  backend/core/quivr_core/llm/models.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/utils.py
  backend/core/tests/test_chat_llm.py
Labels: area: backend, size:XL

#2946 ci: precommit in CI
  .github/workflows/backend-core-tests.yml
  .pre-commit-config.yaml
Labels: area: backend, size:M

#2949 feat: Add get_model method to ModelRepository
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat_llm_service/chat_llm_service.py
  backend/api/quivr_api/modules/models/entity/model.py
  backend/api/quivr_api/modules/models/repository/model.py
  backend/api/quivr_api/modules/models/repository/model_interface.py
  backend/api/quivr_api/modules/models/service/model_service.py
  backend/core/quivr_core/chat_llm.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/utils.py
  backend/core/tests/test_chat_llm.py
  backend/supabase/migrations/20240806153621_model-description.sql
Labels: area: backend, size:L

#2951 feat: Add user email to StripePricingOrManageButton and UpgradeToPlusButton components
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/lib/components/Menu/components/UpgradeToPlusButton/UpgradeToPlusButton.tsx
  frontend/lib/components/Stripe/PricingModal/StripePricingModal.tsx
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/PricingTable.tsx
Labels: area: frontend, size:XS

#2931 chore(main): release 0.0.294
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2958 chore: Update frontend README.md with yarn dev command (#2931)
  frontend/README.md
Labels: area: frontend, size:XS

#2965 fix: notion+ frontend release
  backend/api/quivr_api/modules/sync/controller/notion_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/entity/sync.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/supabase/migrations/20240730091943_notion-sync.sql
  backend/worker/quivr_worker/celery_worker.py
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/lib/components/Menu/components/UpgradeToPlusButton/UpgradeToPlusButton.tsx
  frontend/lib/components/Stripe/PricingModal/StripePricingModal.tsx
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/PricingTable.tsx
Labels: area: backend, area: frontend, lgtm, size:L

#2968 feat: Add brain_id and brain_name to ChatLLMMetadata model
  backend/api/quivr_api/modules/brain/controller/brain_routes.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat_llm_service/chat_llm_service.py
  backend/api/quivr_api/packages/utils/uuid_generator.py
  backend/core/quivr_core/models.py
Labels: size:L

#2967 fix: tests run locally
  .github/workflows/backend-tests.yml
  .run_tests.sh
  Makefile
  backend/api/README.md
  backend/api/pyproject.toml
  backend/api/quivr_api/__init__.py
  backend/api/quivr_api/modules/sync/service/sync_notion.py
  backend/api/quivr_api/modules/sync/tests/test_sync.py
  backend/api/tests/__init__.py
  backend/api/tests/contact/conftest.py
  backend/api/tests/contact/test_contact.py
  backend/api/tests/file_process/__init__.py
  backend/api/tests/file_process/dummy.pdf
  backend/api/tests/file_process/test_pdf_process.py
  backend/api/tests/input/monotype/COMPLETED Contoso Healthcare Pvt  Ltd  LOF 12 01 2021.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 01 01 2022.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 04 09 2022.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 12 31 2023.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Lyon MT Fonts Enterprise License 08 04 2023.pdf
  backend/api/tests/ragas_tests/experiment.json
  backend/api/tests/test_brains.py
  backend/api/tests/test_misc.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/tests/test_sync.py
Labels: area: backend, size:XL

#2971 Feat/fix tests
  .github/workflows/backend-tests.yml
  .run_tests.sh
  Makefile
  backend/api/README.md
  backend/api/pyproject.toml
  backend/api/quivr_api/__init__.py
  backend/api/quivr_api/modules/sync/service/sync_notion.py
  backend/api/quivr_api/modules/sync/tests/test_sync.py
  backend/api/tests/__init__.py
  backend/api/tests/contact/conftest.py
  backend/api/tests/contact/test_contact.py
  backend/api/tests/file_process/__init__.py
  backend/api/tests/file_process/dummy.pdf
  backend/api/tests/file_process/test_pdf_process.py
  backend/api/tests/input/monotype/COMPLETED Contoso Healthcare Pvt  Ltd  LOF 12 01 2021.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 01 01 2022.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 04 09 2022.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Laboratories Other 12 31 2023.pdf
  backend/api/tests/input/monotype/COMPLETED Contoso Lyon MT Fonts Enterprise License 08 04 2023.pdf
  backend/api/tests/ragas_tests/experiment.json
  backend/api/tests/test_brains.py
  backend/api/tests/test_misc.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/tests/test_sync.py
Labels: size:XL

#2977 feat(models): add more tests on service
  .gitignore
  Makefile
  backend/api/quivr_api/modules/models/tests/conftest.py
  backend/api/quivr_api/modules/models/tests/test_models.py
  backend/api/quivr_api/modules/models/tests/test_models_service.py
Labels: area: backend, size:L

#2978 feat(tests): improve bash script with select
  .run_tests.sh
Labels: area: scripts, size:M

#2980 feat(frontend): talk with models and handle code markdown
  backend/api/quivr_api/modules/chat_llm_service/chat_llm_service.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/core/quivr_core/chat_llm.py
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useBrainMention.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/app/globals.css
  frontend/app/search/BrainButton/BrainButton.tsx
  frontend/app/search/BrainsList/BrainButton/BrainButton.module.scss
  frontend/app/search/BrainsList/BrainButton/BrainButton.tsx
  frontend/app/search/BrainsList/BrainsList.module.scss
  frontend/app/search/BrainsList/BrainsList.tsx
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/app/studio/BrainsTabs/components/Analytics/Analytics.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/ManageBrains.tsx
  frontend/app/studio/page.tsx
  frontend/lib/api/brain/brain.ts
  frontend/lib/api/brain/utils/mapBackendMinimalBrainToMinimalBrain.ts
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/lib/components/ui/SmallTabs/SmallTabs.module.scss
  frontend/lib/components/ui/SmallTabs/SmallTabs.tsx
  frontend/lib/context/BrainProvider/hooks/useBrainProvider.ts
  frontend/lib/context/BrainProvider/types.ts
  frontend/lib/types/BrainConfig.ts
  frontend/lib/types/Tab.ts
  frontend/package.json
  frontend/yarn.lock
Labels: area: backend, area: frontend, lgtm, size:XL

#2981 fix(frontend): talk with models
  frontend/app/colors.css
  frontend/app/globals.css
Labels: area: frontend, size:S

#2983 feat(models): all models by default
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/modules/brain/controller/brain_routes.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/brain/repository/brains_users.py
  backend/api/quivr_api/modules/chat/controller/chat/utils.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat_llm_service/chat_llm_service.py
  backend/api/quivr_api/modules/models/entity/model.py
  backend/api/quivr_api/modules/models/repository/model.py
  backend/api/quivr_api/modules/models/repository/model_interface.py
  backend/api/quivr_api/modules/models/service/model_service.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/user/controller/user_controller.py
  backend/supabase/migrations/20240808161957_rag-models.sql
  backend/supabase/migrations/20240808222754_new-default-value.sql
  backend/supabase/seed.sql
  docker-compose.yml
Labels: area: backend, size:L

#2986 chore(env): add deactivate stripe env variable
  .env.example
Labels: size:XS

#2990 fix(frontend): handling unimported languages in Prism js
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
Labels: area: frontend, size:M

#2992 fix(frontend): logo design of models
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/search/BrainsList/BrainButton/BrainButton.module.scss
  frontend/app/search/BrainsList/BrainButton/BrainButton.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/styles/_Variables.module.scss
Labels: area: frontend, size:M

#2959 chore(main): release 0.0.295
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2993 fix(frontend): color of copy icon for code blocks
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/lib/components/ui/Icon/Icon.module.scss
  frontend/lib/types/Colors.ts
Labels: area: frontend, size:S

#2966 fix: Knowledge
  .gitignore
  Pipfile
  backend/api/quivr_api/modules/brain/integrations/Multi_Contract/Brain.py
  backend/api/quivr_api/modules/brain/service/brain_service.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledge_interface.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/sync/repository/sync.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/core/quivr_core/models.py
  backend/supabase/migrations/20240807144533_notion-sync.sql
  backend/supabase/migrations/20240808141057_knowledge_fix.sql
  backend/supabase/seed.sql
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/syncs/process_active_syncs.py
Labels: area: backend, lgtm, size:XL

#2998 fix(frontend): search bar height
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/Editor.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
Labels: area: frontend, size:S

#2999 fix: autocommit isolation level
  backend/api/quivr_api/modules/chat/repository/chats.py
  backend/api/quivr_api/modules/dependencies.py
Labels: area: backend, size:S

#2994 chore(main): release 0.0.296
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#3001 fix(frontend): remove onboarding modal
  frontend/app/search/page.tsx
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.tsx
Labels: area: frontend, size:L

#3000 fix(frontend): max height for user message
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
Labels: area: frontend, size:M

#3004 fix: commit on try sqlalchemy
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/dependencies.py
Labels: area: backend, size:S

#3002 chore(main): release 0.0.297
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2996 fix: syncs workers + notifier
  backend/api/quivr_api/__init__.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/notification/dto/inputs.py
  backend/api/quivr_api/modules/sync/controller/google_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/repository/sync_files.py
  backend/api/quivr_api/modules/sync/repository/sync_interfaces.py
  backend/api/quivr_api/modules/sync/repository/sync_repository.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/service/sync_notion.py
  backend/api/quivr_api/modules/sync/service/sync_service.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/modules/upload/service/upload_file.py
  backend/core/quivr_core/processor/implementations/default.py
  backend/core/quivr_core/processor/processor_base.py
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/files.py
  backend/worker/quivr_worker/process/process_file.py
  backend/worker/quivr_worker/syncs/__init__.py
  backend/worker/quivr_worker/syncs/process_active_syncs.py
  backend/worker/quivr_worker/syncs/store_notion.py
  backend/worker/quivr_worker/syncs/utils.py
  backend/worker/tests/test_sync.py
  docker-compose.dev.yml
Labels: area: backend, lgtm, size:XXL

#3005 feat(azure): quivr compatible with it
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/core/quivr_core/llm/llm_endpoint.py
Labels: area: backend, size:M

#3009 feat(frontend): order models and brain by name
  frontend/lib/api/brain/brain.ts
Labels: area: frontend, size:S

#3013 fix(frontend): help window
  frontend/lib/components/HelpWindow/HelpWindow.tsx
Labels: size:XS

#3006 chore(main): release 0.0.298
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3014 fix: Update Supabase configuration
  backend/supabase/config.toml
Labels: area: backend, size:M

#3024 feat(frontend): emoji selector component
  frontend/app/globals.css
  frontend/app/search/page.tsx
  frontend/lib/components/ui/EmojiSelector/EmojiSelector.module.scss
  frontend/lib/components/ui/EmojiSelector/EmojiSelector.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:M

#3027 feat(frontend): color picker
  frontend/lib/components/ui/ColorSelector/ColorSelector.module.scss
  frontend/lib/components/ui/ColorSelector/ColorSelector.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:XS

#2988 feat: add knowledge_brain
  .env.example
  Makefile
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/analytics/repository/analytics.py
  backend/api/quivr_api/modules/api_key/repository/api_keys.py
  backend/api/quivr_api/modules/assistant/service/assistant.py
  backend/api/quivr_api/modules/brain/integrations/Multi_Contract/Brain.py
  backend/api/quivr_api/modules/brain/repository/brains.py
  backend/api/quivr_api/modules/brain/repository/brains_users.py
  backend/api/quivr_api/modules/brain/repository/brains_vectors.py
  backend/api/quivr_api/modules/brain/repository/integration_brains.py
  backend/api/quivr_api/modules/brain/service/brain_service.py
  backend/api/quivr_api/modules/brain/service/brain_subscription/subscription_invitation_service.py
  backend/api/quivr_api/modules/brain/service/get_question_context_from_brain.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat/repository/chats.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge_brain.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/repository/storage.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/models/repository/model.py
  backend/api/quivr_api/modules/notification/service/notification_service.py
  backend/api/quivr_api/modules/prompt/repository/prompts.py
  backend/api/quivr_api/modules/prompt/service/prompt_service.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/sync/repository/sync_files.py
  backend/api/quivr_api/modules/sync/repository/sync_repository.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/modules/upload/service/generate_file_signed_url.py
  backend/api/quivr_api/modules/upload/service/list_files.py
  backend/api/quivr_api/modules/upload/service/upload_file.py
  backend/api/quivr_api/modules/user/repository/users.py
  backend/api/quivr_api/modules/user/service/user_usage.py
  backend/api/quivr_api/vector/entity/vector.py
  backend/api/quivr_api/vector/repository/vectors_repository.py
  backend/api/quivr_api/vector/service/vector_service.py
  backend/api/quivr_api/vectorstore/supabase.py
  backend/core/quivr_core/models.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/supabase/migrations/20240808141057_knowledge_fix.sql
  backend/supabase/migrations/20240814091741_notion-sync.sql
  backend/worker/poetry.lock
  backend/worker/pyproject.toml
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/process/process_file.py
  backend/worker/quivr_worker/process/process_s3_file.py
  backend/worker/quivr_worker/process/process_url.py
  project.inlang/.gitignore
  project.inlang/project_id
Labels: area: backend, lgtm, size:L

#3039 fix(frontend): small stuff on mobile
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.module.scss
  frontend/app/studio/page.module.scss
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.tsx
  frontend/lib/components/ui/SmallTabs/SmallTabs.module.scss
  frontend/lib/components/ui/Tabs/Tabs.module.scss
  frontend/lib/components/ui/Tabs/Tabs.tsx
Labels: area: frontend, size:S

#3040 feat(frontend): handle LaTeX in message thread
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:S

#3041 fix(frontend): fix docker build frontend new env
  frontend/Dockerfile
Labels: area: frontend, size:XS

#3038 feat(frontend): brain snippet selector
  backend/api/quivr_api/modules/brain/dto/inputs.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/brain/repository/brains_users.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/supabase/migrations/20240820091634_brain_snippet.sql
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useBrainMention.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/types.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/app/globals.css
  frontend/app/search/BrainsList/BrainButton/BrainButton.module.scss
  frontend/app/search/BrainsList/BrainButton/BrainButton.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/hooks/useSettingsTab.ts
  frontend/app/studio/[brainId]/page.tsx
  frontend/lib/api/brain/types.ts
  frontend/lib/api/brain/utils/mapBackendMinimalBrainToMinimalBrain.ts
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/brainCreation-provider.tsx
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.module.scss
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/hooks/useBrainCreationApi.ts
  frontend/lib/components/AddBrainModal/types/types.ts
  frontend/lib/components/BrainSnippet/BrainSnippet.module.scss
  frontend/lib/components/BrainSnippet/BrainSnippet.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/PageHeader/PageHeader.tsx
  frontend/lib/components/ui/ColorSelector/ColorSelector.module.scss
  frontend/lib/components/ui/ColorSelector/ColorSelector.tsx
  frontend/lib/components/ui/EmojiSelector/EmojiSelector.module.scss
  frontend/lib/components/ui/EmojiSelector/EmojiSelector.tsx
  frontend/lib/context/BrainProvider/types.ts
  frontend/lib/helpers/iconList.ts
Labels: area: backend, area: frontend, size:XL

#3021 fix: sync folders + notion sync
  .github/workflows/backend-tests.yml
  .gitignore
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/api/pyproject.toml
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/sync/controller/dropbox_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/notion_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/entity/notion_page.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/repository/sync_repository.py
  backend/api/quivr_api/modules/sync/service/sync_notion.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/tests/page.json
  backend/api/quivr_api/modules/sync/tests/test_api_key.py
  backend/api/quivr_api/modules/sync/tests/test_notion_service.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/core/README.md
  backend/core/tests/processor/pdf/test_megaparse_pdf_processor.py
  backend/pyproject.toml
  backend/supabase/migrations/20240730091943_notion-sync.sql
  backend/worker/Dockerfile
  backend/worker/Dockerfile.dev
  backend/worker/quivr_worker/syncs/process_active_syncs.py
  backend/worker/quivr_worker/syncs/store_notion.py
  backend/worker/tests/sample.pdf
  backend/worker/tests/test_process_file.py
  backend/worker/tests/test_process_file_task.py
  backend/worker/tests/test_sync.py
Labels: area: backend, lgtm, size:XXL

#3048 feat: Add environment variable for showing tokens in frontend
  frontend/Dockerfile
Labels: area: frontend, size:XS

#3016 chore(main): release 0.0.299
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3049 feat(smtp&share): implemented smtp support and fixed share brain
  .env.example
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/packages/emails/send_email.py
  backend/api/quivr_api/routes/subscription_routes.py
  frontend/yarn.lock
Labels: area: backend, area: frontend, size:M

#3053 fix(docker): fixed docker on mac
  backend/requirements-dev.lock
  backend/requirements.lock
  backend/worker/pyproject.toml
Labels: area: backend, size:XS

#3067 feat(smtp): not enforcing tls
  backend/api/quivr_api/packages/emails/send_email.py
Labels: size:XS

#3070 feat: Add NEXT_PUBLIC_PROJECT_NAME environment variable
  .env.example
  frontend/Dockerfile
  frontend/app/search/page.tsx
Labels: area: frontend, size:S

#3071 feat: Add Azure login support
  frontend/app/(auth)/login/components/AzureLogin/hooks/useAzureLogin.ts
  frontend/app/(auth)/login/components/AzureLogin/index.tsx
  frontend/app/(auth)/login/page.tsx
  frontend/lib/hooks/useAuthModes.ts
  frontend/public/locales/en/login.json
  frontend/public/locales/es/login.json
  frontend/public/locales/fr/login.json
  frontend/public/locales/pt-br/login.json
  frontend/public/locales/ru/login.json
  frontend/public/locales/zh-cn/login.json
Labels: area: frontend, size:L

#3073 fix(frontend): only owner can access knowledge and edit brain snippet
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
Labels: area: frontend, size:M

#3051 fix: delete brain id column in knowledge
  backend/api/quivr_api/__init__.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/entity/__init__.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge_brain.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/core/quivr_core/models.py
Labels: area: backend, lgtm, size:L

#3074 fix(frontend): brain knowledge visibility
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
Labels: area: frontend, size:XS

#3075 fix: backfill migration
  backend/supabase/migrations/20240821201741_brain-knowledge.sql
Labels: area: backend, lgtm, size:XS

#3076 Revert "check presence on sha1"
  backend/api/quivr_api/modules/base_repository.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/outputs.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/modules/upload/service/upload_file.py
  backend/api/quivr_api/vector/entity/vector.py
  backend/core/quivr_core/files/file.py
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/files.py
  backend/worker/quivr_worker/process/process_s3_file.py
Labels: size:L

#3077 fix : db migrations
  backend/supabase/migrations/20240821201741_brain-knowledge.sql
Labels: size:S

#3081 fix(frontend): revamp of settings
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/Prompt/Prompt.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/Prompt/Prompt.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/hooks/usePrompt.ts
  frontend/lib/components/ui/FieldHeader/FieldHeader.module.scss
  frontend/lib/components/ui/FieldHeader/FieldHeader.tsx
  frontend/styles/_ScreenSizes.module.scss
Labels: area: frontend, size:L

#3084 fix: Update README.md
  README.md
Labels: size:XS

#3090 fix(frontend): send invitation clearer
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/PeopleTab.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, size:S

#3091 fix(frontend): spacing chats
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.module.scss
Labels: area: frontend, size:XS

#3092 fix(frontend): use click delay
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnectionsProvider/FromConnection-provider.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
Labels: area: frontend, size:S

#3094 fix(frontend): back buttons
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
Labels: area: frontend, size:XS

#3095 fix(frontend): change hover delay for tooltips
  frontend/lib/components/ui/Tooltip/Tooltip.tsx
Labels: area: frontend, size:XS

#3093 fix: sync knowledge error
  backend/api/quivr_api/modules/brain/integrations/Notion/Notion_connector.py
  backend/api/quivr_api/modules/knowledge/repository/knowledge_interface.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
Labels: area: backend, lgtm, size:M

#3097 feat: Create the NoteTaker section in menu
  frontend/app/note/page.module.scss
  frontend/app/note/page.tsx
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/NoteButton/NoteButton.module.scss
  frontend/lib/components/Menu/components/NoteButton/NoteButton.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, size:M

#3099 fix(frontend): rename search by thread
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.tsx
Labels: size:XS

#3105 feat(frontend): revamp of some basics components
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.module.scss
  frontend/lib/components/ui/MessageInfoBox/MessageInfoBox.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.tsx
  frontend/lib/components/ui/SingleSelector/SingleSelector.module.scss
  frontend/lib/components/ui/TextAreaInput/TextAreaInput.module.scss
  frontend/lib/components/ui/TextInput/TextInput.module.scss
Labels: area: frontend, size:M

#3108 fix(frontend): remove intercom on thread page of mobile
  frontend/app/layout.tsx
  frontend/lib/helpers/intercom/IntercomProvider.ts
  frontend/lib/helpers/intercom/intercom.ts
Labels: area: frontend, size:S

#3104 add test to knowledge
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
Labels: area: backend, lgtm, size:L

#3107 test: sync and syncutils
  .github/workflows/backend-core-tests.yml
  .github/workflows/backend-tests.yml
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/repository/storage.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/models/tests/test_models.py
  backend/api/quivr_api/modules/notification/entity/notification.py
  backend/api/quivr_api/modules/notification/service/notification_service.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/repository/sync_interfaces.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/service/sync_service.py
  backend/api/quivr_api/modules/sync/tests/conftest.py
  backend/api/quivr_api/modules/sync/tests/test_syncutils.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/upload/service/upload_file.py
  backend/core/README.md
  backend/core/quivr_core/processor/registry.py
  backend/core/tests/conftest.py
  backend/core/tests/processor/pdf/test_megaparse_pdf_processor.py
  backend/core/tests/processor/test_registry.py
  backend/core/tests/processor/test_txt_processor.py
  backend/worker/quivr_worker/syncs/utils.py
Labels: area: backend, lgtm, size:XXL

#3111 feat: Setup tiptap editor for notetaker
  frontend/app/note/page.module.scss
  frontend/app/note/page.tsx
  frontend/lib/components/Tiptap/Tiptap.module.scss
  frontend/lib/components/Tiptap/Tiptap.tsx
  frontend/lib/components/Tiptap/index.ts
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:L

#3113 fix(frontend): remove useless citations parsing
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/CitationModal/CitationModal.tsx
Labels: area: backend, lgtm, size:XS

#3116 fix: crawler task
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledges.py
  backend/api/quivr_api/modules/sync/tests/test_syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/supabase/migrations/20240821191057_knowledge_fix.sql
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/parsers/crawler.py
  backend/worker/quivr_worker/process/process_file.py
  backend/worker/quivr_worker/process/process_s3_file.py
  backend/worker/quivr_worker/process/process_url.py
  backend/worker/tests/test_process_url_task.py
Labels: area: backend, lgtm, size:L

#3110 add tests to Vector
  backend/api/quivr_api/vector/repository/vectors_repository.py
  backend/api/quivr_api/vector/service/vector_service.py
  backend/api/quivr_api/vector/tests/test_vectors.py
  backend/api/quivr_api/vectorstore/supabase.py
Labels: area: backend, size:L
