Repository QuivrHQ/quivr, pull requests merged in 2024-10, with the labels that each got.

#3298 feat: Add error handling for rate-limited search in fetch_notion_pages
  backend/api/quivr_api/modules/sync/service/sync_notion.py
Labels: size:S

#3300 feat: Remove syncNotion from ConnectionCards
  frontend/lib/components/ConnectionCards/ConnectionCards.tsx
Labels: size:XS

#3303 feat : sync knowledges
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/models/sqlalchemy_repository.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/dto/outputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/conftest.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_entity.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/api/quivr_api/modules/sync/entity/sync_models.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/supabase/migrations/20240920180003_knowledge-sync.sql
  backend/worker/quivr_worker/assistants/assistants.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/process/README.md
  backend/worker/quivr_worker/process/__init__.py
  backend/worker/quivr_worker/process/processor.py
  backend/worker/quivr_worker/process/utils.py
  backend/worker/quivr_worker/syncs/__init__.py
  backend/worker/quivr_worker/syncs/update_syncs.py
  backend/worker/quivr_worker/utils/services.py
  backend/worker/tests/conftest.py
  backend/worker/tests/test_process_file_task.py
  backend/worker/tests/test_update_syncs.py
Labels: area: backend, size:XXL

#3309 feat: Add debug logging for OCR results
  backend/worker/diff-assistant/quivr_diff_assistant/use_case_3/parser.py
Labels: area: backend, size:XS

#3310 feat: Update OCR image scale for better accuracy
  backend/worker/diff-assistant/quivr_diff_assistant/use_case_3/parser.py
Labels: size:XS

#3311 feat: Update PDFGenerator to include logo in header
  backend/worker/quivr_worker/utils/pdf_generator/logo.png
  backend/worker/quivr_worker/utils/pdf_generator/pdf_generator.py
Labels: size:XS

#3312 feat: structlog parseable
  .env.example
  .gitignore
  backend/api/quivr_api/logger.py
  backend/api/quivr_api/main.py
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/middlewares/logging_middleware.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
  backend/api/quivr_api/simple.py
  backend/api/quivr_api/utils/__init__.py
  backend/api/quivr_api/utils/handle_request_validation_error.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: area: backend, lgtm, size:L

#3313 Revert "feat: structlog parseable"
  .env.example
  .gitignore
  backend/api/quivr_api/logger.py
  backend/api/quivr_api/main.py
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/middlewares/logging_middleware.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
  backend/api/quivr_api/simple.py
  backend/api/quivr_api/utils/__init__.py
  backend/api/quivr_api/utils/handle_request_validation_error.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: size:L

#3314 feat: structlog parseable
  .env.example
  .gitignore
  backend/api/quivr_api/logger.py
  backend/api/quivr_api/main.py
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/middlewares/logging_middleware.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
  backend/api/quivr_api/simple.py
  backend/api/quivr_api/utils/__init__.py
  backend/api/quivr_api/utils/handle_request_validation_error.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: area: backend, size:L

#3315 Revert "feat: structlog parseable"
  .env.example
  .gitignore
  backend/api/quivr_api/logger.py
  backend/api/quivr_api/main.py
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/middlewares/logging_middleware.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
  backend/api/quivr_api/simple.py
  backend/api/quivr_api/utils/__init__.py
  backend/api/quivr_api/utils/handle_request_validation_error.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
Labels: area: backend, size:L

#3318 feat: Update PDFGenerator to include logo in header
  backend/api/quivr_api/modules/assistant/controller/assistant_routes.py
  backend/worker/diff-assistant/quivr_diff_assistant/use_case_3/parser.py
  backend/worker/quivr_worker/assistants/cdp_use_case_2.py
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
  backend/worker/quivr_worker/utils/pdf_generator/pdf_generator.py
Labels: area: backend, size:L

#3319 feat: structlog parseable
  .env.example
  .gitignore
  backend/api/quivr_api/logger.py
  backend/api/quivr_api/main.py
  backend/api/quivr_api/middlewares/auth/auth_bearer.py
  backend/api/quivr_api/middlewares/logging_middleware.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/dependencies.py
  backend/api/quivr_api/modules/misc/controller/misc_routes.py
  backend/api/quivr_api/utils/__init__.py
  backend/api/quivr_api/utils/handle_request_validation_error.py
  backend/pyproject.toml
  backend/requirements-dev.lock
  backend/requirements.lock
  backend/worker/quivr_worker/celery_monitor.py
  backend/worker/quivr_worker/celery_worker.py
Labels: area: backend, size:L

#3320 feat: Update knowledge status and send notification on task success
  backend/worker/quivr_worker/celery_monitor.py
Labels: area: backend, size:M

#3329 chore: Remove unnecessary assertion in create_modification_report function
  backend/worker/quivr_worker/assistants/cdp_use_case_3.py
Labels: area: backend, size:XS

#3330 chore: Add NEXT_PUBLIC_INTERCOM_APP_ID to Dockerfile
  frontend/Dockerfile
Labels: area: frontend, size:XS

#3331 feat: Update Content Security Policy for PostHog
  frontend/next.config.js
Labels: area: frontend, size:XS

#3332 feat: kms file size limit
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_controller.py
  backend/requirements-dev.lock
Labels: area: backend, size:M

#3327 fix(notifications): added a debouncing mechanism
  frontend/app/quality-assistant/ProcessTab/ProcessTab.tsx
  frontend/lib/components/Menu/components/NotificationsButton/NotificationsButton.tsx
  frontend/lib/context/NotificationsProvider/notifications-provider.tsx
Labels: area: frontend, size:L

#3334 fix update knowledge
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_controller.py
  backend/worker/quivr_worker/process/processor.py
Labels: area: backend, size:L

#3308 chore(main): release 0.0.320
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3337 fix: arg length logger
  backend/api/quivr_api/modules/sync/repository/sync_repository.py
Labels: size:S

#3346 feat: Add file name to knowledge properties in crawl_endpoint
  backend/api/quivr_api/routes/crawl_routes.py
  backend/supabase/migrations/20241008154800_check_file.sql
Labels: area: backend, size:XS

#3340 feat(frontend): add xlsx
  frontend/app/quality-assistant/AssistantTab/AssistantTab.tsx
Labels: area: frontend, lgtm, size:XS

#3347 chore(main): release 0.0.321
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3348 fix: sort knowledge update brain
  backend/api/quivr_api/modules/knowledge/controller/knowledge_routes.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/dto/outputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/tests/integration_test.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_controller.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_entity.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/benchmarks/locustfile_kms.py
Labels: area: backend, size:L

#3350 bench: updated benchmark with routes
  backend/benchmarks/locustfile_kms.py
Labels: area: backend, size:M

#3351 feat: Add new documentation files
  backend/docs/docs/examples/index.md
  backend/docs/docs/vectorstores/faiss.md
  backend/docs/docs/vectorstores/index.md
  backend/docs/docs/vectorstores/pgvector.md
  backend/docs/docs/workflows/examples/chat.md
  backend/docs/docs/workflows/examples/rag_with_internet.md
  backend/docs/docs/workflows/index.md
  backend/docs/mkdocs.yml
Labels: size:S

#3354 docs: chat history
  backend/core/quivr_core/chat.py
  backend/docs/docs/chat.md
  backend/docs/mkdocs.yml
Labels: area: backend, size:L

#3355 add: docs on brain
  backend/core/quivr_core/brain/brain.py
  backend/docs/docs/brain/brain.md
  backend/docs/docs/brain/index.md
  backend/docs/mkdocs.yml
Labels: area: backend, size:L

#3356 feat: adding doc for configuration
  backend/core/quivr_core/base_config.py
  backend/core/quivr_core/config.py
  backend/docs/docs/config/base_config.md
  backend/docs/docs/config/config.md
  backend/docs/docs/config/index.md
  backend/docs/mkdocs.yml
Labels: area: backend, lgtm, size:L

#3357 docs: quivr core storage
  backend/core/quivr_core/storage/__init__.py
  backend/core/quivr_core/storage/local_storage.py
  backend/core/quivr_core/storage/storage_base.py
  backend/docs/docs/brain/chat.md
  backend/docs/docs/chat.md
  backend/docs/docs/examples/custom_storage.md
  backend/docs/docs/parsers/index.md
  backend/docs/docs/storage/base.md
  backend/docs/docs/storage/index.md
  backend/docs/docs/storage/local_storage.md
  backend/docs/mkdocs.yml
Labels: area: backend, size:L

#3366 docs: quivr core storage
  backend/docs/docs/storage/local_storage.md
  backend/docs/mkdocs.yml
Labels: area: backend, size:XS

#3271 feat: url add knowledge
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/worker/quivr_worker/process/README.md
Labels: area: backend, size:M

#3349 fix: fixing pdf parsing
  backend/api/quivr_api/modules/sync/utils/normalize.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/core/MegaParse/megaparse/Converter.py
  backend/core/quivr_core/processor/implementations/megaparse_processor.py
  backend/worker/quivr_worker/celery_monitor.py
Labels: area: backend, lgtm, size:M

#3367 feat: Improve user credit calculation in get_user_credits
  backend/api/quivr_api/modules/user/repository/users.py
  backend/api/quivr_api/modules/user/service/user_usage.py
Labels: area: backend, size:M

#3371 fix unwanted parsing effect
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
Labels: area: backend, lgtm, size:XS

#3374 add fallback on llamaparse
  backend/core/MegaParse/megaparse/Converter.py
Labels: area: backend, lgtm, size:S

#3379 fix: sort brain name and knowledge list local
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/tests/conftest.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_entity.py
Labels: area: backend, size:S

#3352 chore(main): release 0.0.322
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#3381 docs(fix): fixed warnings from griffe
  .gitignore
  backend/core/quivr_core/base_config.py
  backend/core/quivr_core/brain/brain.py
  backend/core/quivr_core/chat.py
  backend/core/quivr_core/config.py
  backend/docs/pyproject.toml
Labels: area: backend, size:S

#3221 chore(main): release core 0.0.17
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#3385 chore(main): release core 0.0.18
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#3386 fix: parsing file extension
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/knowledge/tests/test_knowledge_service.py
  backend/api/quivr_api/utils/knowledge_utils.py
Labels: area: backend, size:M

#3400 chore(main): release core 0.0.19
  .release-please-manifest.json
  core/CHANGELOG.md
  core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, size:S

#3401 chore(docs): incorrect path in .readthedocs.yaml
  .readthedocs.yaml
Labels: size:XS

#3403 feat(ci): trigger
  core/README.md
Labels: size:XS

#3402 chore(main): release core 0.0.20
  .release-please-manifest.json
  core/CHANGELOG.md
  core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, size:S

#3404 fix(rye): workflow
  .github/workflows/release-please-core.yml
Labels: size:XS

#3405 chore(main): release core 0.0.21
  .release-please-manifest.json
  core/CHANGELOG.md
  core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, size:S

#3389 feat(notetaker): accept decline notetaker ai generation
  frontend/lib/components/TextEditor/TextEditor.module.scss
  frontend/lib/components/TextEditor/TextEditor.tsx
  frontend/lib/components/TextEditor/components/TextEditorSearchBar/TextEditorSearchBar.tsx
  frontend/lib/components/TextEditor/components/Toolbar/Toolbar.tsx
  frontend/lib/components/TextEditor/extensions/AIHighlight.ts
  frontend/lib/components/TextEditor/extensions/types.d.ts
  frontend/package.json
  frontend/yarn.lock
Labels: area: frontend, size:L

#3408 feat(docs): Update Quivr README.md
  README.md
Labels: size:L

#3407 fix:add docs on example
  docs/docs/quickstart.md
  docs/docs/workflows/examples/chat.md
  docs/mkdocs.yml
Labels: lgtm, size:L

#3409 feat(ask): non-streaming now calls streaming
  core/quivr_core/brain/brain.py
  core/quivr_core/config.py
  core/quivr_core/utils.py
  core/tests/rag_config.yaml
  core/tests/rag_config_workflow.yaml
  core/tests/test_config.py
  examples/chatbot/requirements-dev.lock
  examples/chatbot/requirements.lock
  examples/simple_question/requirements-dev.lock
  examples/simple_question/requirements.lock
  examples/simple_question/simple_question.py
Labels: size:M

#3410 chore(main): release core 0.0.22
  .release-please-manifest.json
  core/CHANGELOG.md
  core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, size:S

#3420 Docs on quivr-core workflows
  docs/docs/config/index.md
  docs/docs/quickstart.md
  docs/docs/workflows/examples/basic_ingestion.excalidraw.png
  docs/docs/workflows/examples/basic_ingestion.md
  docs/docs/workflows/examples/basic_rag.excalidraw.png
  docs/docs/workflows/examples/basic_rag.md
  docs/docs/workflows/examples/chat.md
  docs/docs/workflows/examples/rag_with_internet.md
  docs/docs/workflows/examples/rag_with_web_search.excalidraw.png
  docs/docs/workflows/examples/rag_with_web_search.md
  docs/docs/workflows/index.md
  docs/mkdocs.yml
  docs/requirements-dev.lock
  docs/requirements.lock
Labels: lgtm, size:XL

#3424 feat: websearch, tool use, user intent, dynamic retrieval, multiple questions
  .github/workflows/backend-core-tests.yml
  core/pyproject.toml
  core/quivr_core/brain/brain.py
  core/quivr_core/brain/brain_defaults.py
  core/quivr_core/brain/serialization.py
  core/quivr_core/config.py
  core/quivr_core/llm/llm_endpoint.py
  core/quivr_core/llm_tools/__init__.py
  core/quivr_core/llm_tools/entity.py
  core/quivr_core/llm_tools/llm_tools.py
  core/quivr_core/llm_tools/other_tools.py
  core/quivr_core/llm_tools/web_search_tools.py
  core/quivr_core/prompts.py
  core/quivr_core/quivr_rag_langgraph.py
  core/quivr_core/rag/__init__.py
  core/quivr_core/rag/entities/__init__.py
  core/quivr_core/rag/entities/chat.py
  core/quivr_core/rag/entities/config.py
  core/quivr_core/rag/entities/models.py
  core/quivr_core/rag/prompts.py
  core/quivr_core/rag/quivr_rag.py
  core/quivr_core/rag/quivr_rag_langgraph.py
  core/quivr_core/rag/utils.py
  core/quivr_core/utils.py
  core/requirements-dev.lock
  core/requirements.lock
  core/tests/conftest.py
  core/tests/fixture_chunks.py
  core/tests/rag_config.yaml
  core/tests/rag_config_workflow.yaml
  core/tests/test_brain.py
  core/tests/test_chat_history.py
  core/tests/test_config.py
  core/tests/test_llm_endpoint.py
  core/tests/test_quivr_rag.py
  core/tests/test_utils.py
  examples/pdf_document_from_yaml.py
  examples/pdf_parsing_tika.py
  examples/simple_question/pyproject.toml
  examples/simple_question/requirements-dev.lock
  examples/simple_question/requirements.lock
  examples/simple_question/simple_question.py
  examples/simple_question/simple_question_streaming.py
Labels: lgtm, size:XXL

#3445 chore(main): release core 0.0.23
  .release-please-manifest.json
  core/CHANGELOG.md
  core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, size:S
