Repository QuivrHQ/quivr, pull requests merged in 2024-07, with the labels that each got.

#2788 feat(frontend): disabled searchBar if no remaining credits or no brain selected
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
Labels: area: frontend, size:L

#2791 feat(frontend): remove create brain step in onboarding when share brain
  frontend/app/invitation/[brainId]/hooks/useInvitation.ts
  frontend/lib/components/OnboardingModal/OnboardingModal.tsx
Labels: area: frontend, size:S

#2785 feat: add megaparse
  backend/api/poetry.lock
  backend/api/pyproject.toml
  backend/api/quivr_api/models/files.py
  backend/api/quivr_api/packages/files/parsers/common.py
  backend/api/quivr_api/packages/files/parsers/pdf.py
  backend/poetry.lock
  docker-compose.yml
  frontend/yarn.lock
Labels: area: backend, size:S

#2795 fix: asyncpg pooling config fix
  backend/api/quivr_api/modules/chat/service/chat_service.py
  backend/api/quivr_api/modules/chat/tests/conftest.py
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/dependencies.py
Labels: area: backend, lgtm, size:M

#2796 fix: RAG service bug assertion error
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/packages/quivr_core/rag_service.py
Labels: area: backend, size:M

#2792 chore(main): release 0.0.279
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2798 feat(frontend): add small property to textInput
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainSearchBar.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.tsx
  frontend/lib/components/ui/TextInput/TextInput.module.scss
  frontend/lib/components/ui/TextInput/TextInput.tsx
Labels: area: frontend, size:S

#2800 fix(frontend): brain studio ui audit implem
  frontend/app/globals.css
  frontend/app/studio/BrainsTabs/components/Analytics/Analytics.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/PeopleTab.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/PeopleTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.module.scss
  frontend/app/user/components/Connections/Connections.module.scss
  frontend/app/user/components/Settings/Settings.module.scss
  frontend/lib/components/ui/Tabs/Tabs.module.scss
  frontend/lib/components/ui/TextInput/TextInput.module.scss
Labels: area: frontend, size:L

#2801 fix(frontend): remove quivr assistant for now
  frontend/app/assistants/page.tsx
  frontend/lib/components/Menu/Menu.tsx
Labels: area: frontend, size:S

#2802 feat(frontend): Uniformize brain icon
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
Labels: area: frontend, size:L

#2804 fix(frontend): out of credits when credits null
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
Labels: size:XS

#2805 feat(frontend): better UI for big modals
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromDocuments/FromDocuments.module.scss
  frontend/lib/components/AddBrainModal/AddBrainModal.module.scss
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.module.scss
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.module.scss
  frontend/lib/components/AddBrainModal/components/Stepper/Stepper.module.scss
  frontend/lib/components/ui/FieldHeader/FieldHeader.module.scss
  frontend/lib/components/ui/Modal/Modal.module.scss
  frontend/lib/components/ui/Modal/Modal.tsx
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/components/ui/TextInput/TextInput.module.scss
Labels: area: frontend, size:L

#2806 fix(frontend): better ui modals
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.module.scss
  frontend/lib/components/OnboardingModal/OnboardingModal.module.scss
Labels: area: frontend, size:S

#2807 feat: Improve error handling in acquiring token
  backend/api/quivr_api/modules/sync/controller/azure_sync_routes.py
Labels: area: backend, size:XS

#2799 chore(main): release 0.0.280
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2803 feat: quivr core minimal chat
  .gitignore
  backend/core/examples/pdf_parsing_tika.py
  backend/core/examples/simple_question.py
  backend/core/poetry.lock
  backend/core/pyproject.toml
  backend/core/quivr_core/__init__.py
  backend/core/quivr_core/brain.py
  backend/core/quivr_core/config.py
  backend/core/quivr_core/processor/__init__.py
  backend/core/quivr_core/processor/default_parsers.py
  backend/core/quivr_core/processor/pdf_processor.py
  backend/core/quivr_core/processor/processor_base.py
  backend/core/quivr_core/processor/splitter.py
  backend/core/quivr_core/processor/txt_parser.py
  backend/core/quivr_core/quivr_rag.py
  backend/core/quivr_core/storage/file.py
  backend/core/quivr_core/storage/local_storage.py
  backend/core/quivr_core/storage/storage_base.py
  backend/core/tests/__init__.py
  backend/core/tests/processor/__init__.py
  backend/core/tests/processor/data/dummy.pdf
  backend/core/tests/processor/test_tika_processor.py
  backend/core/tests/test_brain.py
Labels: area: backend, size:XL

#2809 chore: Add release-please-core workflow and configuration files
  .github/workflows/release-please-core.yml
  release-please-config.json
Labels: autorelease: tagged, area: backend, size:M

#2812 chore(main): release core 0.0.2
  backend/core/.release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2813 chore(main): release core 0.0.2
  backend/core/.release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2814 chore(main): release core 0.0.2
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2815 chore(main): release core 0.0.2
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, size:S

#2816 fix(pyproject): fixed to quivr github
  backend/core/pyproject.toml
Labels: area: backend, size:XS

#2817 chore(main): release core 0.0.3
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2818 feat: quivr core minimal chat
  backend/.pre-commit-config.yaml
  backend/core/poetry.lock
  backend/core/pyproject.toml
  backend/core/quivr_core/brain.py
  backend/core/quivr_core/config.py
  backend/core/quivr_core/llm/__init__.py
  backend/core/quivr_core/llm/models.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/quivr_rag.py
  backend/core/quivr_core/utils.py
  backend/core/tests/test_brain.py
  backend/core/tests/test_config.py
  backend/core/tests/test_llm_endpoint.py
Labels: area: backend, lgtm, size:L

#2819 chore(main): release core 0.0.4
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, lgtm, size:S

#2820 feat: Add GitHub Actions workflow for running tests on backend/core
  .github/workflows/backend-core-tests.yml
  backend/core/README.md
Labels: area: backend, size:M

#2822 feat: Add GitHub Actions workflow for running tests on backend/core
  .github/workflows/backend-core-tests.yml
  backend/core/README.md
Labels: area: backend, size:XS

#2823 feat(precommit): Update pre-commit hooks to latest versions
  .pre-commit-config.yaml
Labels: size:S

#2824 feat: quivr core chat history
  backend/core/quivr_core/brain.py
  backend/core/quivr_core/chat.py
  backend/core/quivr_core/config.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/quivr_rag.py
  backend/core/quivr_core/utils.py
  backend/core/tests/conftest.py
  backend/core/tests/test_brain.py
  backend/core/tests/test_chat_history.py
Labels: area: backend, size:L

#2821 chore(main): release core 0.0.5
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2826 feat(frontend): UI / UX Notifications
  frontend/app/App.tsx
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/Notifications/Notification/Notification.module.scss
  frontend/lib/components/Menu/components/Notifications/Notification/Notification.tsx
  frontend/lib/components/Menu/components/Notifications/Notifications.module.scss
  frontend/lib/components/Menu/components/Notifications/Notifications.tsx
  frontend/lib/components/Menu/components/NotificationsButton/NotificationsButton.module.scss
  frontend/lib/components/Menu/components/NotificationsButton/NotificationsButton.tsx
  frontend/lib/components/Menu/components/SocialsButtons/SocialsButtons.module.scss
  frontend/lib/components/Menu/components/SocialsButtons/SocialsButtons.tsx
  frontend/lib/components/Menu/types/types.ts
  frontend/lib/components/PageHeader/Notifications/Notifications.module.scss
  frontend/lib/components/PageHeader/Notifications/Notifications.tsx
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/PageHeader/PageHeader.tsx
  frontend/lib/context/NotificationsProvider/hooks/useNotificationsContext.tsx
  frontend/lib/context/NotificationsProvider/notifications-provider.tsx
  frontend/lib/helpers/iconList.ts
  frontend/styles/_Variables.module.scss
Labels: area: frontend, size:XL

#2829 chore(main): release core 0.0.6
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2830 fix: llm model name
  backend/core/quivr_core/llm/__init__.py
  backend/core/tests/test_llm_endpoint.py
Labels: area: backend, size:S

#2831 chore(main): release core 0.0.7
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, size:S

#2827 feat: Add Quivr chatbot example
  .gitignore
  backend/core/examples/chatbot/README.md
  backend/core/examples/chatbot/chainlit.md
  backend/core/examples/chatbot/main.py
  backend/core/examples/chatbot/requirements.txt
Labels: area: backend, size:L

#2835 feat(renovate): updated configuration
  renovate.json
Labels: size:M

#2834 feat: Update aiofiles dependency to loosen version control
  backend/core/poetry.lock
  backend/core/pyproject.toml
Labels: area: backend, size:XS

#2832 chore(main): release core 0.0.8
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2836 chore: Update quivr-core and chainlit versions in requirements.txt
  backend/core/examples/chatbot/requirements.txt
Labels: area: backend, size:XS

#2825 chore(main): release 0.0.281
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:M

#2839 chore: Update quivr-core and chainlit versions in requirements.txt
  backend/core/examples/chatbot/requirements.txt
Labels: area: backend, size:XS

#2843 fix: fixes duplicate response bug
  backend/api/quivr_api/packages/quivr_core/quivr_rag.py
  backend/api/quivr_api/packages/quivr_core/utils.py
Labels: area: backend, size:M

#2847 fix(frontend): remove possibilities to create brain if max amount
  backend/api/quivr_api/modules/user/controller/user_controller.py
  frontend/app/search/page.tsx
  frontend/app/studio/page.tsx
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/PageHeader/PageHeader.tsx
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
  frontend/lib/components/ui/QuivrButton/QuivrButton.tsx
  frontend/lib/types/QuivrButton.ts
  frontend/lib/types/User.ts
Labels: area: backend, area: frontend, size:L

#2848 fix(frontend): general before connections
  frontend/app/user/page.tsx
Labels: area: frontend, size:S

#2849 fix(backend): thumbs button were broken
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
Labels: area: backend, area: frontend, size:XS

#2840 chore(main): release 0.0.282
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2850 feat: Add bulk_id field to CreateNotification and Notification models
  Makefile
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/modules/knowledge/dto/inputs.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/knowledge/repository/knowledge_interface.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/notification/dto/inputs.py
  backend/api/quivr_api/modules/notification/entity/notification.py
  backend/api/quivr_api/modules/sync/utils/googleutils.py
  backend/api/quivr_api/modules/sync/utils/sharepointutils.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/supabase/migrations/20240711141940_notification_bulk.sql
  backend/supabase/migrations/20240711150140_knowledge-process-status.sql
Labels: area: backend, size:L

#2854 feat: Add bulk_id field to CreateNotification and Notification models
  backend/api/quivr_api/modules/notification/dto/inputs.py
  backend/api/quivr_api/modules/notification/repository/notifications.py
Labels: area: backend, size:XS

#2852 fix: quiv core stream duplicate and quivr-core rag tests
  backend/api/quivr_api/packages/quivr_core/quivr_rag.py
  backend/core/quivr_core/brain.py
  backend/core/quivr_core/llm/__init__.py
  backend/core/quivr_core/llm/llm_endpoint.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/prompts.py
  backend/core/quivr_core/quivr_rag.py
  backend/core/quivr_core/utils.py
  backend/core/tests/chunk_stream_fixture.jsonl
  backend/core/tests/conftest.py
  backend/core/tests/fixture_chunks.py
  backend/core/tests/test_brain.py
  backend/core/tests/test_quivr_rag.py
  backend/core/tests/test_utils.py
Labels: area: backend, size:XL

#2856 feat: Add category and brain_id fields to CreateNotification and Notification models
  backend/api/quivr_api/modules/notification/dto/inputs.py
  backend/api/quivr_api/modules/notification/entity/notification.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/routes/crawl_routes.py
  backend/supabase/migrations/20240712135540_notification_brain_category.sql
Labels: area: backend, size:S

#2857 feat: Update file loading logic in File model
  backend/api/quivr_api/models/files.py
Labels: area: backend, size:XS

#2851 chore(main): release 0.0.283
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2858 chore(cleanup): cleaned up some unused files
  .aws/task_definition.json
  .aws/task_definition_preview.json
  .aws/task_definition_preview_beat.json
  .aws/task_definition_preview_worker.json
  .aws/task_definition_prod_worker.json
  .aws/task_definition_strapi.json
  .devcontainer/devcontainer.json
  Pipfile
  Pipfile.lock
  docker-compose.redis.yml
  project.inlang/.gitignore
  project.inlang/project_id
  project.inlang/settings.json
  scripts/quivr_team_only/theodo_gpt4.sql
Labels: area: scripts, size:XL

#2861 feat: Improve file loading logic in File model
  backend/api/quivr_api/models/files.py
Labels: size:XS

#2862 feat(celery): add retry logic for dcos
  backend/api/quivr_api/celery_worker.py
Labels: area: backend, size:L

#2865 feat: quivr api send notification
  .env.example
  .gitignore
  backend/api/quivr_api/celery_config.py
  backend/api/quivr_api/celery_monitor.py
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/models/files.py
  backend/api/quivr_api/routes/crawl_routes.py
  docker-compose.dev.yml
  docker-compose.yml
Labels: area: backend, size:L

#2866 feat: Update category for sync notification
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/utils/googleutils.py
  backend/api/quivr_api/modules/sync/utils/sharepointutils.py
  backend/api/quivr_api/modules/sync/utils/upload.py
Labels: area: backend, size:L

#2867 feat: Update crawl_endpoint to include knowledge_id in task kwargs
  backend/api/quivr_api/celery_monitor.py
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/routes/crawl_routes.py
Labels: area: backend, size:L

#2853 feat(integrations): Add integration fields to Knowledge and SyncsUser models
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/modules/knowledge/entity/knowledge.py
  backend/api/quivr_api/modules/notification/dto/inputs.py
  backend/api/quivr_api/modules/sync/entity/sync.py
  backend/api/quivr_api/modules/sync/utils/googleutils.py
  backend/api/quivr_api/modules/sync/utils/list_files.py
  backend/api/quivr_api/modules/sync/utils/sharepointutils.py
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/packages/files/processors.py
Labels: area: backend, size:L

#2868 feat: quivr api use quivr core
  backend/api/pyproject.toml
  backend/api/quivr_api/main.py
  backend/api/quivr_api/modules/brain/service/utils/format_chat_history.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat/tests/test_chats.py
  backend/api/quivr_api/modules/knowledge/repository/knowledge_interface.py
  backend/api/quivr_api/modules/knowledge/repository/knowledges.py
  backend/api/quivr_api/modules/knowledge/service/knowledge_service.py
  backend/api/quivr_api/modules/rag_service/__init__.py
  backend/api/quivr_api/modules/rag_service/rag_factory.py
  backend/api/quivr_api/modules/rag_service/rag_service.py
  backend/api/quivr_api/modules/rag_service/utils.py
  backend/api/quivr_api/packages/quivr_core/__init__.py
  backend/api/quivr_api/packages/quivr_core/config.py
  backend/api/quivr_api/packages/quivr_core/models.py
  backend/api/quivr_api/packages/quivr_core/prompts.py
  backend/api/quivr_api/packages/quivr_core/quivr_rag.py
  backend/api/quivr_api/packages/quivr_core/utils.py
  backend/core/poetry.lock
  backend/core/pyproject.toml
  backend/core/quivr_core/brain.py
  backend/core/quivr_core/chat.py
  backend/core/quivr_core/config.py
  backend/core/quivr_core/processor/pdf_processor.py
  backend/core/quivr_core/quivr_rag.py
  backend/core/quivr_core/utils.py
  backend/core/tests/test_config.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: area: backend, size:XL

#2869 feat: Update sync generic bulk
  backend/api/quivr_api/celery_monitor.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/utils/googleutils.py
Labels: area: backend, size:S

#2855 chore(main): release core 0.0.9
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2873 feat: Update sync active notification category
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
Labels: area: backend, size:S

#2874 fix(frontend): delete notifications
  frontend/lib/components/Menu/components/Notifications/Notifications.tsx
Labels: area: frontend, size:S

#2876 feat(frontend): back button
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
Labels: area: frontend, size:M

#2859 chore(main): release 0.0.284
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2879 fix(frontend): select line when click on knowledge option
  frontend/lib/components/ui/OptionsModal/OptionsModal.tsx
Labels: area: frontend, size:XS

#2881 fix(frontend): selected item on mention list
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
Labels: area: frontend, size:S

#2875 fix: Refacto & update dropbox refresh
  backend/api/quivr_api/main.py
  backend/api/quivr_api/modules/sync/controller/dropbox_sync_routes.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/tasks.py
  backend/api/quivr_api/modules/sync/utils/dropboxutils.py
  backend/api/quivr_api/modules/sync/utils/googleutils.py
  backend/api/quivr_api/modules/sync/utils/list_files.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
  backend/core/quivr_core/models.py
  backend/poetry.lock
  frontend/yarn.lock
Labels: area: backend, lgtm, size:XXL

#2877 feat: quivr core brain info + processors registry +
  backend/core/examples/pdf_parsing_tika.py
  backend/core/examples/simple_question.py
  backend/core/poetry.lock
  backend/core/pyproject.toml
  backend/core/quivr_core/__init__.py
  backend/core/quivr_core/brain/__init__.py
  backend/core/quivr_core/brain/brain.py
  backend/core/quivr_core/brain/info.py
  backend/core/quivr_core/llm/llm_endpoint.py
  backend/core/quivr_core/processor/default_parsers.py
  backend/core/quivr_core/processor/processor_base.py
  backend/core/quivr_core/processor/registry.py
  backend/core/quivr_core/processor/simple_txt_processor.py
  backend/core/quivr_core/processor/tika_processor.py
  backend/core/quivr_core/processor/txt_processor.py
  backend/core/quivr_core/storage/file.py
  backend/core/quivr_core/storage/local_storage.py
  backend/core/quivr_core/storage/storage_base.py
  backend/core/tests/conftest.py
  backend/core/tests/processor/test_registry.py
  backend/core/tests/processor/test_simple_txt_processor.py
  backend/core/tests/processor/test_tika_processor.py
  backend/core/tests/processor/test_txt_processor.py
  backend/core/tests/test_brain.py
  backend/core/tests/test_quivr_file.py
Labels: area: backend, lgtm, size:XL

#2872 chore(main): release core 0.0.10
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, area: frontend, lgtm, size:S

#2884 feat: move parsers quivr core
  backend/core/poetry.lock
  backend/core/pyproject.toml
  backend/core/quivr_core/__init__.py
  backend/core/quivr_core/brain/brain.py
  backend/core/quivr_core/brain/brain_defaults.py
  backend/core/quivr_core/files/__init__.py
  backend/core/quivr_core/files/file.py
  backend/core/quivr_core/processor/implementations/__init__.py
  backend/core/quivr_core/processor/implementations/default.py
  backend/core/quivr_core/processor/implementations/simple_txt_processor.py
  backend/core/quivr_core/processor/implementations/tika_processor.py
  backend/core/quivr_core/processor/processor_base.py
  backend/core/quivr_core/processor/registry.py
  backend/core/quivr_core/processor/txt_processor.py
  backend/core/quivr_core/storage/local_storage.py
  backend/core/quivr_core/storage/storage_base.py
  backend/core/tests/conftest.py
  backend/core/tests/processor/test_default_implementations.py
  backend/core/tests/processor/test_registry.py
  backend/core/tests/processor/test_simple_txt_processor.py
  backend/core/tests/processor/test_tika_processor.py
  backend/core/tests/processor/test_txt_processor.py
  backend/core/tests/test_quivr_rag.py
  backend/poetry.lock
Labels: area: backend, size:XL

#2887 fix(frontend): default icon for knowledge without extension
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
Labels: area: frontend, size:XS

#2886 chore(main): release core 0.0.11
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, lgtm, size:S

#2888 feat(frontend): add knowledge icon when integration
  backend/core/quivr_core/models.py
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
  frontend/lib/api/knowledge/knowledge.ts
  frontend/lib/api/sync/types.ts
  frontend/lib/api/sync/useSync.ts
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
  frontend/lib/types/Knowledge.ts
Labels: area: frontend, size:L

#2891 fix: google conversion
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/api/quivr_api/modules/sync/utils/syncutils.py
Labels: area: backend, lgtm, size:S

#2892 fix(frontend): remove thoughts button
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/ui/ThoughtsButton.tsx
Labels: area: frontend, size:S

#2893 feat: add integration and integration link to Sources class
  backend/api/quivr_api/modules/chat/dto/chats.py
  backend/api/quivr_api/modules/rag_service/utils.py
Labels: area: backend, size:XS

#2890 feat(azure): changed auth method
  backend/api/quivr_api/modules/sync/controller/azure_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/dropbox_sync_routes.py
  backend/api/quivr_api/modules/sync/controller/google_sync_routes.py
  backend/api/quivr_api/modules/sync/dto/inputs.py
  backend/api/quivr_api/modules/sync/entity/sync.py
  backend/api/quivr_api/modules/sync/repository/sync_user.py
  backend/api/quivr_api/modules/sync/service/sync_service.py
  backend/api/quivr_api/modules/sync/utils/sync.py
  backend/supabase/migrations/20240722102438_azure_additional_data.sql
Labels: area: backend, size:M

#2895 fix(frontend): menu on mobile
  frontend/app/App.module.scss
  frontend/app/App.tsx
  frontend/lib/components/Menu/Menu.module.scss
Labels: area: frontend, size:M

#2897 feat(api): add logging for inactive subscriptions
  backend/api/quivr_api/celery_worker.py
Labels: size:XS

#2880 chore(main): release 0.0.285
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2896 fix(frontend): remove warning in frontend
  frontend/app/App.tsx
  frontend/app/assistants/AssistantModal/AssistantModal.tsx
  frontend/app/assistants/page.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/SyncElementLine/SyncElementLine.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.tsx
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/invitation/[brainId]/hooks/useInvitation.ts
  frontend/app/search/page.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/DeleteOrUnsubscribeModal/DeleteOrUnsubscribeConfirmationModal.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/hooks/useKnowledge.ts
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/PeopleTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/Prompt/Prompt.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/hooks/usePrompt.ts
  frontend/app/studio/[brainId]/BrainManagementTabs/hooks/useBrainFetcher.ts
  frontend/app/studio/[brainId]/page.tsx
  frontend/app/studio/page.tsx
  frontend/app/user/components/Settings/ApiKeyConfig/ApiKeyConfig.tsx
  frontend/app/user/components/Settings/InfoSection/InfoSection.tsx
  frontend/app/user/components/Settings/Settings.tsx
  frontend/app/user/components/StripePricingOrManageButton.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/AddBrainModal/components/BrainMainInfosStep/BrainMainInfosStep.tsx
  frontend/lib/components/AddBrainModal/components/BrainRecapStep/BrainRecapStep.tsx
  frontend/lib/components/AddBrainModal/components/FeedBrainStep/FeedBrainStep.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionButton/ConnectionButton.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionLine/ConnectionLine.tsx
  frontend/lib/components/ConnectionCards/ConnectionSection/ConnectionSection.tsx
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.tsx
  frontend/lib/components/Menu/components/MenuButton/MenuButton.tsx
  frontend/lib/components/Menu/components/Notifications/FeedingNotification/FeedingNotification.tsx
  frontend/lib/components/Menu/components/Notifications/GenericNotification/GenericNotification.tsx
  frontend/lib/components/Menu/components/Notifications/Notifications.tsx
  frontend/lib/components/Menu/components/ProfileButton/ProfileButton.tsx
  frontend/lib/components/Menu/components/ThreadsButton/ThreadsSection/ThreadItem/ThreadItem.tsx
  frontend/lib/components/ui/CopyButton.tsx
  frontend/lib/components/ui/Modal/Modal.tsx
  frontend/lib/hooks/useShareBrain.ts
Labels: area: frontend, size:M

#2899 feat(frontend): add logo to source when integration
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/Source/Source.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/types/types.ts
  frontend/lib/types/MessageMetadata.ts
Labels: area: frontend, size:M

#2900 feat(premium): add trialing
  backend/api/quivr_api/celery_worker.py
Labels: size:XS

#2901 feat: Remove unused onboarding code
  backend/api/quivr_api/celery_worker.py
  backend/api/quivr_api/modules/onboarding/controller/onboarding_routes.py
  backend/api/quivr_api/modules/onboarding/dto/__init__.py
  backend/api/quivr_api/modules/onboarding/dto/inputs.py
  backend/api/quivr_api/modules/onboarding/entity/__init__.py
  backend/api/quivr_api/modules/onboarding/entity/onboarding.py
  backend/api/quivr_api/modules/onboarding/repository/onboardings.py
  backend/api/quivr_api/modules/onboarding/repository/onboardings_interface.py
  backend/api/quivr_api/modules/onboarding/service/__init__.py
  backend/api/quivr_api/modules/onboarding/service/onboarding_service.py
  backend/api/quivr_api/modules/onboarding/tests/test_onboarding.py
  backend/supabase/migrations/20240722164034_onboarding-removed.sql
Labels: area: backend, size:L

#2902 feat(dead-code): removed composite & api
  backend/api/quivr_api/main.py
  backend/api/quivr_api/models/settings.py
  backend/api/quivr_api/modules/assistant/controller/assistant_routes.py
  backend/api/quivr_api/modules/assistant/ito/audio_transcript.py
  backend/api/quivr_api/modules/assistant/ito/ito.py
  backend/api/quivr_api/modules/brain/api_brain_qa.py
  backend/api/quivr_api/modules/brain/composite_brain_qa.py
  backend/api/quivr_api/modules/brain/controller/brain_routes.py
  backend/api/quivr_api/modules/brain/dto/inputs.py
  backend/api/quivr_api/modules/brain/entity/__init__.py
  backend/api/quivr_api/modules/brain/entity/api_brain_definition_entity.py
  backend/api/quivr_api/modules/brain/entity/brain_entity.py
  backend/api/quivr_api/modules/brain/entity/composite_brain_connection_entity.py
  backend/api/quivr_api/modules/brain/integrations/Multi_Contract/Brain.py
  backend/api/quivr_api/modules/brain/knowledge_brain_qa.py
  backend/api/quivr_api/modules/brain/qa_headless.py
  backend/api/quivr_api/modules/brain/qa_interface.py
  backend/api/quivr_api/modules/brain/rags/quivr_rag.py
  backend/api/quivr_api/modules/brain/repository/api_brain_definitions.py
  backend/api/quivr_api/modules/brain/repository/brains.py
  backend/api/quivr_api/modules/brain/repository/composite_brains_connections.py
  backend/api/quivr_api/modules/brain/repository/external_api_secrets.py
  backend/api/quivr_api/modules/brain/repository/interfaces/__init__.py
  backend/api/quivr_api/modules/brain/repository/interfaces/api_brain_definitions_interface.py
  backend/api/quivr_api/modules/brain/repository/interfaces/brains_interface.py
  backend/api/quivr_api/modules/brain/repository/interfaces/composite_brains_connections_interface.py
  backend/api/quivr_api/modules/brain/repository/interfaces/external_api_secrets_interface.py
  backend/api/quivr_api/modules/brain/service/api_brain_definition_service.py
  backend/api/quivr_api/modules/brain/service/brain_service.py
  backend/api/quivr_api/modules/brain/service/brain_user_service.py
  backend/api/quivr_api/modules/brain/service/call_brain_api.py
  backend/api/quivr_api/modules/brain/service/get_api_brain_definition_as_json_schema.py
  backend/api/quivr_api/modules/brain/service/utils/__init__.py
  backend/api/quivr_api/modules/brain/service/utils/validate_brain.py
  backend/api/quivr_api/modules/chat/controller/chat/brainful_chat.py
  backend/api/quivr_api/modules/chat/controller/chat/brainless_chat.py
  backend/api/quivr_api/modules/chat/controller/chat/factory.py
  backend/api/quivr_api/modules/chat/controller/chat_routes.py
  backend/api/quivr_api/modules/chat/dto/chats.py
  backend/api/quivr_api/modules/contact_support/__init__.py
  backend/api/quivr_api/modules/contact_support/controller/__init__.py
  backend/api/quivr_api/modules/contact_support/controller/contact_routes.py
  backend/api/quivr_api/modules/contact_support/controller/settings.py
  backend/api/quivr_api/modules/onboarding/__init__.py
  backend/api/quivr_api/modules/onboarding/dto/__init__.py
  backend/api/quivr_api/modules/onboarding/entity/__init__.py
  backend/api/quivr_api/modules/onboarding/repository/__init__.py
  backend/api/quivr_api/modules/onboarding/service/__init__.py
  backend/api/quivr_api/modules/tools/email_sender.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
  backend/api/quivr_api/modules/user/repository/users.py
  backend/api/quivr_api/playground/auth-azure.py
  backend/api/quivr_api/playground/auth.py
  backend/api/quivr_api/routes/subscription_routes.py
  backend/api/tests/ragas_evaluation/run_evaluation.py
  backend/core/quivr_core/models.py
  backend/core/quivr_core/utils.py
  backend/core/tests/test_quivr_rag.py
Labels: area: backend, size:XXL

#2903 feat(frontend): add a loader when processing files
  frontend/app/studio/[brainId]/page.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
Labels: area: frontend, size:S

#2905 feat(frontend): loader icon for integrations
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromConnections/FromConnections.tsx
Labels: size:M

#2906 fix(frontend): remove current brain id when click on create brain
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
Labels: area: frontend, size:XS

#2898 chore(main): release 0.0.286
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2907 feat: Update AzureDriveSync name to "Share Point"
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:XS

#2908 chore(main): release 0.0.287
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2909 fix(sync): folder upload to Google Drive
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:XS

#2910 chore(main): release 0.0.288
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2889 chore(main): release core 0.0.12
  .release-please-manifest.json
  backend/core/CHANGELOG.md
  backend/core/pyproject.toml
Labels: autorelease: pending, autorelease: tagged, area: backend, area: frontend, size:S

#2912 fix: error dict google drive
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:XS

#2911 chore(main): release 0.0.289
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2916 fix(frontend): remove latence for delete notifications
  frontend/lib/components/Menu/components/Notifications/FeedingNotification/FeedingNotification.tsx
  frontend/lib/components/Menu/components/Notifications/GenericNotification/GenericNotification.tsx
  frontend/lib/components/Menu/components/Notifications/Notifications.tsx
Labels: area: frontend, size:M

#2917 fix(backend): fix error messages
  backend/api/quivr_api/modules/sync/utils/upload.py
  backend/api/quivr_api/modules/upload/controller/upload_routes.py
Labels: area: backend, size:M

#2915 feat(notifications): improved requirements
  backend/api/quivr_api/modules/notification/service/notification_service.py
  backend/api/quivr_api/modules/sync/controller/sync_routes.py
  backend/api/quivr_api/modules/sync/dto/inputs.py
  backend/api/quivr_api/modules/sync/entity/sync.py
  backend/api/quivr_api/modules/sync/tasks.py
  backend/supabase/migrations/20240726142945_notifications-sync-update.sql
Labels: area: backend, size:M

#2914 chore(main): release 0.0.290
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2921 Feat/handle_azure_sites
  backend/api/quivr_api/modules/sync/utils/sync.py
Labels: area: backend, size:M

#2923 chore(main): release 0.0.292
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2924 feat(frontend): brain carousel
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/Editor.tsx
  frontend/app/search/BrainButton/BrainButton.module.scss
  frontend/app/search/BrainButton/BrainButton.tsx
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
  frontend/styles/_ScreenSizes.module.scss
  frontend/styles/_Variables.module.scss
Labels: area: frontend, size:L

#2926 fix(frontend): feedback for brain carousel
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/styles/_ScreenSizes.module.scss
Labels: area: frontend, size:M

#2925 chore(main): release 0.0.293
  .release-please-manifest.json
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2932 feat(frontend): handle no brain selection
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useCreateEditorState.ts
Labels: area: frontend, size:S

#2934 fix: processor quivr version
  backend/core/quivr_core/processor/processor_base.py
  backend/core/tox.ini
Labels: area: backend, lgtm, size:S
