Repository QuivrHQ/quivr, pull requests merged in 2024-03, with the labels that each got.

#2277 fix(frontend): message info box
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/BrainUsers/BrainUsers.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/CustomBrainList/CustomBrainList.tsx
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/CreateBrainStep.module.scss
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/CreateBrainStep.tsx
  frontend/lib/components/ui/MessageInfoBox/MessageInfoBox.tsx
  frontend/lib/components/ui/QuivrButton/QuivrButton.module.scss
Labels: area: frontend, lgtm, size:M

#2278 fix(frontend): see knowledge in custom brains
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/lib/context/BrainProvider/types.ts
Labels: area: frontend, lgtm, size:XS

#2280 fix(frontend): fix disabled knwoledge tab
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
Labels: area: frontend, lgtm, size:XS

#2279 chore(main): release 0.0.215
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2281 feat: Update chunk_size in File model
  backend/models/files.py
Labels: area: backend, size:XS

#2284 fix(frontend): double file upload on drag and drop
  frontend/app/chat/[chatId]/__tests__/page.test.tsx
  frontend/app/chat/[chatId]/page.tsx
Labels: area: frontend, size:L

#2285 fix(frontend): click anywhere on drop zone to upload file
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromDocuments/FromDocuments.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/KnowledgeToFeed/components/FromDocuments/FromDocuments.tsx
Labels: area: frontend, size:XS

#2286 fix(frontend): smalls on thread section
  frontend/lib/components/Menu/components/ThreadsButton/ThreadsSection/ThreadItem/ThreadItem.module.scss
  frontend/lib/components/Menu/components/ThreadsButton/ThreadsSection/ThreadItem/ThreadItem.tsx
  frontend/lib/components/Menu/components/ThreadsButton/ThreadsSection/ThreadsSection.module.scss
Labels: area: frontend, size:S

#2288 feat(frontend): better UI/UX on select brain
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/ChatEditor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/hooks/useMentionList.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useBrainMention.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useChatStateUpdater.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useEditor.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useMentionConfig.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/styles.css
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/types.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/utils/getChatInputAttributesFromEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/utils/removeExistingMentionFromEditor.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/AddNewPromptButton.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/MentionItem/MentionItem.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/components/MentionItem/hooks/useMentionItemIcon.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/components/MentionsList/hooks/useSuggestionsOverflowHandler.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/usePromptSuggestionsConfig.ts
  frontend/app/chat/[chatId]/components/ActionsBar/types.ts
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
Labels: area: frontend, size:L

#2292 feat(frontend): add brain icon on brain list
  frontend/app/studio/components/BrainsTabs/components/BrainItem/BrainItem.module.scss
  frontend/app/studio/components/BrainsTabs/components/BrainItem/BrainItem.tsx
  frontend/app/studio/components/BrainsTabs/components/BrainsList/BrainsList.module.scss
Labels: area: frontend, size:S

#2293 fix(frontend): whitespace on firefox
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useCreateEditorState.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/styles.css
Labels: area: frontend, size:XS

#2282 fix(frontend): remove unused stuff
  frontend/app/(home)/components/HomeHeader/HomeHeader.module.css
  frontend/app/(home)/components/HomeHeader/HomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/components/HomeHeaderBackground.tsx
  frontend/app/(home)/components/HomeHeader/components/PopoverMenuMobile.tsx
  frontend/app/(home)/components/HomeHeader/hooks/useHomeHeader.tsx
  frontend/app/(home)/components/HomeHeader/styles.ts
  frontend/app/(home)/components/HomeHeader/types.ts
  frontend/app/(home)/components/HomeSection/HomeSection.module.css
  frontend/app/(home)/components/HomeSection/HomeSection.tsx
  frontend/app/(home)/components/Sections/DemoSection/DemoSection.tsx
  frontend/app/(home)/components/Sections/DemoSection/components/VideoPlayer.tsx
  frontend/app/(home)/components/Sections/FooterSection.tsx
  frontend/app/(home)/components/Sections/IntroSection.tsx
  frontend/app/(home)/components/Sections/index.ts
  frontend/app/(home)/components/SecuritySection/SecuritySection.tsx
  frontend/app/(home)/components/SecuritySection/index.ts
  frontend/app/(home)/components/TestimonialsSection/TestimonialsSection.tsx
  frontend/app/(home)/components/TestimonialsSection/components/TestimonialCard.tsx
  frontend/app/(home)/components/TestimonialsSection/index.ts
  frontend/app/(home)/components/TestimonialsSection/utils/socialMediaToIcon.tsx
  frontend/app/(home)/components/UseCases/UseCases.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/UseCasesListing.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/components/UseCaseComponent.tsx
  frontend/app/(home)/components/UseCases/components/UseCasesListing/index.ts
  frontend/app/(home)/components/UseCases/components/index.ts
  frontend/app/(home)/components/index.ts
  frontend/app/(home)/hooks/useHomepageTracking.ts
  frontend/app/(home)/page.tsx
  frontend/app/contact/components/ContactForm.tsx
  frontend/app/contact/components/index.ts
  frontend/app/contact/hooks/usePostContactSales.ts
  frontend/app/contact/page.tsx
  frontend/app/pricing/page.tsx
  frontend/app/studio/BrainsTabs/components/BrainItem/BrainItem.module.scss
  frontend/app/studio/BrainsTabs/components/BrainItem/BrainItem.tsx
  frontend/app/studio/BrainsTabs/components/BrainSearchBar.tsx
  frontend/app/studio/BrainsTabs/components/BrainsList/BrainsList.module.scss
  frontend/app/studio/BrainsTabs/components/BrainsList/BrainsList.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/ManageBrains.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/ManageBrains.tsx
  frontend/app/studio/BrainsTabs/hooks/useBrainsTabs.ts
  frontend/app/studio/BrainsTabs/types.ts
  frontend/app/studio/components/StyledTabsTrigger.tsx
  frontend/app/studio/page.tsx
  frontend/lib/api/brain/__tests__/useBrainApi.test.ts
  frontend/lib/components/ui/Accordion.tsx
  frontend/lib/components/ui/Avatar.tsx
  frontend/lib/components/ui/Checkbox.tsx
  frontend/lib/components/ui/Chip.tsx
  frontend/lib/components/ui/Ellipsis.tsx
  frontend/lib/components/ui/Tabs.tsx
Labels: area: frontend, size:XXL

#2283 chore(main): release 0.0.216
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2295 fix(frontend): fix home page redirection
  frontend/app/(home)/page.tsx
Labels: area: frontend, lgtm, size:S

#2296 chore(main): release 0.0.217
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2297 feat: doc as integration
  backend/modules/brain/entity/integration_brain.py
  backend/modules/chat/controller/chat/brainful_chat.py
  supabase/migrations/20240304223646_integrations-all.sql
Labels: area: backend, area: scripts, size:S

#2289 fix(rag): add api_base
  backend/modules/brain/integrations/Big/Brain.py
  backend/modules/brain/integrations/SQL/Brain.py
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, lgtm, size:S

#2300 fix(frontend): login bug
  frontend/app/(home)/page.tsx
Labels: area: frontend, lgtm, size:M

#2298 chore(main): release 0.0.218
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2307 feat: Update to newest version of litellm
  Pipfile.lock
  backend/requirements.txt
Labels: area: backend, size:M

#2306 fix(frontend): small renaiming chat to thread
  frontend/app/chat/[chatId]/page.tsx
Labels: area: frontend, lgtm, size:XS

#2303 feat(frontend): brain Catalogue
  backend/modules/brain/entity/integration_brain.py
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
  frontend/lib/api/brain/types.ts
  frontend/lib/api/brain/utils/mapBackendMinimalBrainToMinimalBrain.ts
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/AddBrainModal/brainCreation-provider.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainCatalogue/BrainCatalogue.module.scss
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainCatalogue/BrainCatalogue.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainTypeSelection/BrainTypeSelection.module.scss
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainTypeSelection/BrainTypeSelection.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainTypeSelectionStep.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/CustomBrainList/CustomBrainList.module.scss
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/CreateBrainStep.module.scss
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/CreateBrainStep.tsx
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/hooks/useBrainCreationApi.ts
  frontend/lib/components/AddBrainModal/hooks/useBrainCreationSteps.ts
  frontend/lib/components/ui/Tag/Tag.module.scss
  frontend/lib/components/ui/Tag/Tag.tsx
  frontend/lib/context/BrainProvider/types.ts
  supabase/migrations/20240305225452_tags-integration.sql
  supabase/migrations/20240306013910_allow_model_change.sql
Labels: area: backend, area: frontend, area: scripts, lgtm, size:XL

#2309 feat(frontend): 404 redirection
  frontend/app/not-found.tsx
Labels: area: frontend, lgtm, size:S

#2310 fix(frontend): old brain legacy
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
Labels: area: frontend, size:S

#2308 chore(main): release 0.0.219
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2311 fix(frontend): brain name
  backend/modules/brain/entity/integration_brain.py
  frontend/lib/api/brain/types.ts
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainCatalogue/BrainCatalogue.tsx
  frontend/lib/context/BrainProvider/types.ts
  supabase/migrations/20240306205133_integration_display_name.sql
Labels: area: backend, area: frontend, area: scripts, lgtm, size:XS

#2312 chore(main): release 0.0.220
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2313 feat: seed updated
  supabase/seed.sql
Labels: area: scripts, size:XS

#2317 fix(frontend): allow model change
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/SettingsTab.tsx
Labels: area: frontend, lgtm, size:S

#2315 fix(frontend): mention list
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionItem/MentionItem.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/MentionsList/MentionsList.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/Editor/hooks/useMentionConfig.ts
Labels: area: frontend, lgtm, size:S

#2316 fix(frontend): studio to brain studio
  frontend/lib/components/Menu/components/StudioButton/StudioButton.tsx
Labels: area: frontend, lgtm, size:XS

#2318 feat(frontend): add help tooltip for model selection
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/lib/components/ui/FieldHeader/FieldHeader.tsx
Labels: area: frontend, lgtm, size:S

#2319 fix(frontend): page header studio to brain studio
  frontend/app/studio/page.tsx
Labels: area: frontend, lgtm, size:XS

#2314 chore(main): release 0.0.221
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2326 feat: Update langchain.prompts and langchain_core.messages modules
  backend/modules/brain/rags/quivr_rag.py
  backend/packages/files/parsers/common.py
  supabase/config.toml
Labels: area: backend, size:M

#2325 feat(frontend): social buttons
  frontend/lib/components/Menu/Menu.module.scss
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/SocialsButtons/SocialsButtons.module.scss
  frontend/lib/components/Menu/components/SocialsButtons/SocialsButtons.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, size:M

#2324 fix(frontend): upgrade to plus button
  frontend/app/layout.tsx
  frontend/lib/context/FeatureFlagProvider/FeatureFlagsProvider.tsx
  frontend/lib/context/FeatureFlagProvider/index.ts
  frontend/lib/context/index.tsx
Labels: area: frontend, size:M

#2323 fix(frontend): maximum amount of brains reached
  frontend/lib/components/AddBrainModal/components/CreateBrainStep/hooks/useBrainCreationApi.ts
Labels: area: frontend, lgtm, size:S

#2327 chore(main): release 0.0.222
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2339 chore: update packages backend
  Pipfile
  Pipfile.lock
  backend/requirements.txt
Labels: area: backend, size:L

#2341 feat: Add optional fields to UserIdentity and UserUpdatableProperties
  backend/modules/user/dto/inputs.py
  backend/modules/user/entity/user_identity.py
  backend/modules/user/repository/users.py
  supabase/migrations/20240313024244_onboarding-user.sql
Labels: area: backend, area: scripts, size:M

#2340 chore(main): release 0.0.223
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#2343 feat(frontend): add discord link
  frontend/lib/components/Menu/components/SocialsButtons/SocialsButtons.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: frontend, lgtm, size:XS

#2346 fix(frontend): upgrade to plus
  frontend/lib/components/Menu/components/UpgradeToPlusButton/UpgradeToPlusButton.tsx
Labels: area: frontend, size:S

#2344 chore(main): release 0.0.224
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2345 fix(frontend): bigger icon on message row
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/user/components/ApiKeyConfig/ApiKeyConfig.tsx
  frontend/lib/components/ui/CopyButton.tsx
Labels: area: frontend, size:S

#2347 chore(main): release 0.0.225
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2363 feat: Add Mistral models to defineMaxTokens and BrainConfig
  frontend/lib/helpers/defineMaxTokens.ts
  frontend/lib/types/BrainConfig.ts
Labels: area: frontend, size:XS

#2365 feat: mistral
  backend/modules/brain/integrations/Big/Brain.py
  frontend/lib/helpers/defineMaxTokens.ts
  frontend/lib/types/BrainConfig.ts
Labels: area: backend, area: frontend, size:S

#2367 fix(retriever): Update match_vectors sql function to rank chunks in correct order
  supabase/migrations/20240320215813_fix_match_vector_function.sql
Labels: area: scripts, lgtm, size:M

#2368 feat(docker image): Docker image Optimized for CPU-only env
  backend/requirements.txt
Labels: area: backend, size:XS

#2360 feat(frontend & backend): thumbs for message feedback
  .gitignore
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/dto/inputs.py
  backend/modules/chat/dto/outputs.py
  backend/modules/chat/entity/chat.py
  backend/modules/chat/repository/chats.py
  backend/modules/chat/repository/chats_interface.py
  backend/modules/chat/service/chat_service.py
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/lib/api/chat/chat.ts
  frontend/lib/api/chat/useChatApi.ts
  frontend/lib/components/ui/Icon/Icon.tsx
  frontend/lib/helpers/iconList.ts
  supabase/migrations/20240318024425_rename_feedback_to_thumbs.sql
Labels: area: backend, area: frontend, area: scripts, size:L

#2371 fix(frontend): type stripe casing
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/types/Types.ts
  frontend/lib/components/Stripe/PricingModal/components/PricingTable/types/types.d.ts
Labels: area: frontend, size:S

#2373 fix(backend): unsubscribe from brain
  backend/routes/subscription_routes.py
  frontend/app/studio/[brainId]/page.tsx
Labels: area: backend, area: frontend, size:XS

#2374 fix(frontend): onBoarding issue
  frontend/lib/context/OnboardingProvider/Onboarding-provider.tsx
  frontend/lib/hooks/useUserData.ts
Labels: area: frontend, size:S

#2364 chore(main): release 0.0.226
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2380 fix(backend): invitation brain bugs
  backend/modules/brain/integrations/Notion/Notion_connector.py
  backend/modules/brain/integrations/SQL/SQL_connector.py
  backend/modules/brain/repository/integration_brains.py
  backend/modules/brain/repository/interfaces/brains_interface.py
  backend/modules/brain/repository/interfaces/integration_brains_interface.py
  backend/modules/brain/service/brain_service.py
Labels: area: backend, size:M

#2381 fix(frontend): disable knowledge tab
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/hooks/usePermissionsController.ts
  frontend/app/studio/[brainId]/BrainManagementTabs/hooks/useBrainManagementTabs.ts
  frontend/app/studio/[brainId]/BrainManagementTabs/utils/getBrainPermissions.ts
Labels: area: frontend, size:M

#2382 fix(frontend): dark mode issues
  frontend/app/(auth)/login/components/EmailLogin/components/EmailInput.tsx
  frontend/app/(auth)/login/components/EmailLogin/components/PasswordLogin/PasswordLogin.tsx
  frontend/app/(auth)/login/page.module.scss
  frontend/app/(auth)/login/page.tsx
  frontend/app/(home)/page.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainCatalogue/BrainCatalogue.module.scss
  frontend/lib/components/ui/Tag/Tag.module.scss
  frontend/lib/components/ui/TextInput/TextInput.tsx
  frontend/lib/context/UserSettingsProvider/User-settings.provider.tsx
Labels: size:L

#2377 feat(frontend): show icons only on hover except for last message
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatItem.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatNotification/ChatNotification.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatNotification/components/NotificationDisplayer/NotificationDisplayer.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatNotification/components/NotificationDisplayer/types.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatNotification/components/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/MessageContent/MessageContent.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionBrain/QuestionBrain.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPompt.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/components/QuestionPrompt/QuestionPrompt.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/hooks/useMessageRow.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/MessageRow/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/components/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/QADisplay/styles.css
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/Onboarding.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/styles/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/Onboarding/types.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/index.ts
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/index.tsx
Labels: area: frontend, size:L

#2379 chore(main): release 0.0.227
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:S

#2386 fix(frontend): phone display issues
  frontend/app/studio/[brainId]/BrainManagementTabs/components/DeleteOrUnsubscribeModal/DeleteOrUnsubscribeConfirmationModal.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.module.scss
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeItem/KnowledgeItem.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/PeopleTab/BrainUsers/components/BrainUser/BrainUser.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/AddBrainModal/AddBrainModal.tsx
  frontend/lib/components/UploadDocumentModal/UploadDocumentModal.tsx
  frontend/lib/components/ui/Modal/Modal.module.scss
  frontend/lib/components/ui/Modal/Modal.tsx
  frontend/lib/components/ui/TextInput/TextInput.tsx
Labels: area: frontend, size:M

#2388 Patch 1
  .env.example
Labels: area: backend, lgtm, size:XS

#2391 fix: typo in README.md
  README.md
Labels: area: frontend, lgtm, size:XS
