Repository QuivrHQ/quivr, pull requests merged in 2024-02, with the labels that each got.

#2132 fix(frontend): no sources repetition in data panel
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:XS

#2133 fix(frontend): don't show copy icon when thinking
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
Labels: autorelease: pending, area: frontend, size:XS

#2134 chore(main): release 0.0.191
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2137 feat(frontend): display which brain you are talking to
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/Editor.tsx
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useChatStateUpdater.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/hooks/useMentionConfig.ts
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/components/ChatEditor/components/Editor/styles.css
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.module.scss
  frontend/app/chat/[chatId]/components/ActionsBar/components/ChatInput/index.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/lib/components/CurrentBrain/CurrentBrain.module.scss
  frontend/lib/components/CurrentBrain/CurrentBrain.tsx
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.module.scss
  frontend/lib/components/Menu/components/HistoryButton/ChatsSection/ChatHistoryItem/ChatHistoryItem.module.scss
  frontend/lib/components/Menu/components/MenuButton/MenuButton.module.scss
  frontend/lib/components/SearchModal/SearchModal.tsx
  frontend/lib/components/ui/FoldableSection/FoldableSection.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.tsx
  frontend/lib/helpers/iconList.ts
  frontend/styles/_Radius.module.scss
Labels: autorelease: pending, area: frontend, size:L

#2139 chore(main): release 0.0.192
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2140 feat(frontend): design changes on user profile
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/components/CopyButton.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/hooks/useMessageRow.ts
  frontend/app/user/components/ApiKeyConfig/ApiKeyConfig.module.scss
  frontend/app/user/components/ApiKeyConfig/ApiKeyConfig.tsx
  frontend/app/user/components/ApiKeyConfig/hooks/useApiKeyConfig.ts
  frontend/app/user/components/BrainsUsage/BrainsUsage.module.scss
  frontend/app/user/components/BrainsUsage/BrainsUsage.tsx
  frontend/app/user/components/LanguageSelect/LanguageSelect.tsx
  frontend/app/user/components/LanguageSelect/hooks/useLanguageHook.ts
  frontend/app/user/components/LogoutModal/LogoutModal.tsx
  frontend/app/user/components/LogoutModal/hooks/__tests__/useLogoutModal.ts
  frontend/app/user/components/LogoutModal/hooks/useLogoutModal.ts
  frontend/app/user/components/Plan/Plan.module.scss
  frontend/app/user/components/Plan/Plan.tsx
  frontend/app/user/components/Settings/Settings.module.scss
  frontend/app/user/components/Settings/Settings.tsx
  frontend/app/user/components/UserMenuCard/UserMenuCard.module.scss
  frontend/app/user/components/UserMenuCard/UserMenuCard.tsx
  frontend/app/user/components/types/types.ts
  frontend/app/user/page.module.scss
  frontend/app/user/page.tsx
  frontend/lib/components/Menu/Menu.tsx
  frontend/lib/components/Menu/components/DiscussionButton/DiscussionButton.tsx
  frontend/lib/components/ui/CopyButton.tsx
  frontend/lib/components/ui/CountrySelector/CountrySelector.module.scss
  frontend/lib/components/ui/CountrySelector/CountrySelector.tsx
  frontend/lib/components/ui/FieldHeader/FieldHeader.module.scss
  frontend/lib/components/ui/FieldHeader/FieldHeader.tsx
  frontend/lib/components/ui/Icon/Icon.module.scss
  frontend/lib/components/ui/Icon/Icon.tsx
  frontend/lib/components/ui/InfoDisplayer/InfoDisplayer.module.scss
  frontend/lib/components/ui/InfoDisplayer/InfoDisplayer.tsx
  frontend/lib/components/ui/TextButton/TextButton.module.scss
  frontend/lib/components/ui/TextInput/TextInput.module.scss
  frontend/lib/components/ui/TextInput/TextInput.tsx
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/Colors.ts
  frontend/styles/_Colors.module.scss
Labels: autorelease: pending, area: frontend, lgtm, size:XL

#2141 fix(frontend): rename upgrade to plus to upgrade
  frontend/public/locales/en/monetization.json
  frontend/public/locales/es/monetization.json
  frontend/public/locales/fr/monetization.json
  frontend/public/locales/pt-br/monetization.json
  frontend/public/locales/ru/monetization.json
  frontend/public/locales/zh-cn/monetization.json
Labels: autorelease: pending, area: frontend, size:S

#2143 chore(main): release 0.0.193
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2144 feat(frontend): add a chatbot for users
  frontend/app/App.tsx
  frontend/lib/helpers/intercom/IntercomProvider.ts
  frontend/lib/helpers/intercom/intercom.ts
  frontend/next.config.js
Labels: autorelease: pending, area: frontend, lgtm, size:M

#2145 chore(main): release 0.0.194
  CHANGELOG.md
  package.json
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2147 chore(main): release 0.0.195
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#2153 fix(frontend): overflow brain item
  frontend/app/App.tsx
Labels: autorelease: pending, area: frontend, lgtm, size:XS

#2152 chore(main): release 0.0.196
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS

#2154 fix(prompts): can now be removed
  backend/modules/brain/controller/brain_routes.py
  backend/modules/brain/service/brain_service.py
  backend/modules/prompt/repository/prompts.py
Labels: area: backend, type: dependencies, size:S

#2156 tests: Add tests for deleting prompts by ID
  backend/modules/prompt/tests/test_prompt.py
Labels: size:M

#2157 fix(related): removed public brains
  supabase/migrations/20240207034043_related.sql
Labels: area: scripts, size:M

#2159 perf: ⚡️ signed_url
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, type: dependencies, size:S

#2158 fix(backend): typo in word response
  backend/modules/chat/repository/chats.py
Labels: autorelease: pending, area: backend, size:S

#2160 fix(frontend): better UI for phone device
  frontend/app/studio/page.tsx
  frontend/app/user/page.tsx
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/ui/Icon/Icon.module.scss
  frontend/lib/components/ui/Tabs/Tabs.module.scss
  frontend/lib/components/ui/Tabs/Tabs.tsx
  frontend/lib/types/Colors.ts
  frontend/lib/types/Tab.ts
Labels: autorelease: pending, area: frontend, size:M

#2161 fix(frontend): add knwoledge from create brain
  frontend/lib/hooks/useDropzone.ts
Labels: autorelease: pending, area: frontend, lgtm, size:XS

#2164 feat(chunks): now chunk size is saved in database dynamically and not just 500
  backend/models/databases/supabase/user_usage.py
  backend/models/files.py
  backend/models/user_usage.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/prompt/tests/test_prompt.py
  backend/packages/embeddings/vectors.py
  backend/packages/files/parsers/common.py
  backend/vectorstore/supabase.py
  docker-compose.dev.yml
  supabase/migrations/20240207034043_related.sql
  supabase/migrations/20240207071108_chunk.sql
Labels: autorelease: pending, area: backend, type: dependencies, size:L

#2162 fix(frontend): remove related brains for now
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
Labels: autorelease: pending, area: frontend, size:XS

#2163 fix(frontend): can"t choose private or public brains
  frontend/app/studio/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/GeneralInformation.tsx
  frontend/app/studio/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/BrainAccess/BrainAccess.tsx
  frontend/app/studio/[brainId]/components/BrainManagementTabs/components/SettingsTab/components/GeneralInformation/components/BrainAccess/components/BrainAccessRadio.tsx
  frontend/lib/components/AddBrainModal/components/AddBrainSteps/components/BrainParamsStep/BrainParamsStep.tsx
Labels: area: frontend, type: dependencies, size:M

#2167 fix(frontend): upgrade my plan
  frontend/public/locales/en/monetization.json
Labels: area: frontend, size:XS

#2155 chore(main): release 0.0.197
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2170 chore(main): release 0.0.199
  CHANGELOG.md
Labels: autorelease: pending

#2172 chore(main): release 0.0.200
  CHANGELOG.md
Labels: autorelease: pending

#2175 chore(main): release 0.0.201
  CHANGELOG.md
Labels: autorelease: pending

#2179 chore(main): release 0.0.202
  CHANGELOG.md
Labels: autorelease: pending

#2188 chore(main): release 0.0.203
  CHANGELOG.md
Labels: autorelease: pending

#2200 chore(main): release 0.0.205
  CHANGELOG.md
Labels: autorelease: pending

#2211 chore(main): release 0.0.206
  CHANGELOG.md
Labels: autorelease: pending

#2218 chore(main): release 0.0.208
  CHANGELOG.md
Labels: autorelease: pending

#2240 chore(main): release 0.0.209
  CHANGELOG.md
Labels: autorelease: pending

#2245 Reduce sampling rate for Sentry traces
  backend/main.py
  frontend/sentry.client.config.ts
Labels: area: backend, area: frontend, size:XS

#2246 Revert "feat(chat): Add follow up questions functionality"
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/dto/chats.py
Labels: area: backend, size:M

#2247 Add max_input and max_tokens parameters to KnowledgeBrainQA constructor
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, size:XS

#2244 chore(main): release 0.0.210
  CHANGELOG.md
Labels: autorelease: pending, size:S

#2248 fix: ollama migration documentation
  docs/developers/contribution/llm/ollama.mdx
Labels: area: scripts, lgtm, size:XS

#2250 Update Sentry configuration and ignore file
  frontend/.gitignore
  frontend/app/global-error.jsx
  frontend/next.config.js
  frontend/package.json
  frontend/pages/_error.jsx
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
  frontend/yarn.lock
Labels: area: frontend, size:M

#2251 Fix Sentry DSN environment variable
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Labels: area: frontend, size:XS

#2254 fix: Update Sentry configuration to use NEXT_PUBLIC_SENTRY_DSN
  frontend/.gitignore
  frontend/sentry.client.config.ts
  frontend/sentry.edge.config.ts
  frontend/sentry.server.config.ts
Labels: area: frontend, size:XS

#2256 feat(frontend): integrate octolane
  frontend/app/App.tsx
Labels: area: frontend, lgtm, size:M

#2255 fix(frontend): better search bar and chat box
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/lib/components/ui/SearchBar/SearchBar.module.scss
Labels: area: frontend, lgtm, size:XS

#2253 feat(frontend): sources per messages
  frontend/.eslintrc.js
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/ChatItem/ChatItem.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/QADisplay.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.tsx
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/index.tsx
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/DataPanel.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/RelatedBrains/RelatedBrains.tsx
  frontend/app/chat/[chatId]/components/DataPanel/components/Sources/Sources.module.scss
  frontend/app/chat/[chatId]/components/DataPanel/components/Sources/Sources.tsx
  frontend/app/chat/[chatId]/components/Sources/Sources.module.scss
  frontend/app/chat/[chatId]/components/Sources/Sources.tsx
  frontend/app/chat/[chatId]/hooks/useQuestion.ts
  frontend/app/chat/[chatId]/page.module.scss
  frontend/app/chat/[chatId]/page.tsx
  frontend/app/chat/[chatId]/types/index.ts
  frontend/lib/context/ChatProvider/ChatProvider.tsx
  frontend/lib/context/ChatProvider/mocks/ChatProviderMock.tsx
  frontend/lib/context/ChatProvider/types.ts
  frontend/lib/helpers/iconList.ts
  frontend/lib/types/MessageMetadata.ts
Labels: area: frontend, size:L

#2257 feat(sentry): remove health endpoint
  backend/main.py
Labels: area: backend, size:S

#2258 Add octolane.com to Content Security Policy
  frontend/next.config.js
Labels: area: frontend, size:XS

#2260 fix(frontend): ui chat box & sources small bug
  frontend/app/chat/[chatId]/components/ChatDialogueArea/components/ChatDialogue/components/QADisplay/components/MessageRow/MessageRow.module.scss
  frontend/app/chat/[chatId]/components/Sources/Sources.module.scss
  frontend/app/chat/[chatId]/components/Sources/Sources.tsx
  frontend/app/chat/[chatId]/page.tsx
Labels: area: frontend, size:M

#2261 Refactor GitHub workflows
  .github/workflows/backend-tests.yml
  .github/workflows/porter_stack_preview-quivr.yml
  .github/workflows/porter_stack_prod-quivr.yml
Labels: area: backend, size:L

#2249 chore(main): release 0.0.211
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2264 feat: new landing page
  backend/middlewares/cors.py
  backend/repository/brain_subscription/resend_invitation_email.py
  backend/supabase/functions/add-new-email/index.ts
  frontend/app/(home)/page.tsx
  frontend/next.config.js
Labels: area: backend, area: frontend, size:L

#2265 chore(main): release 0.0.212
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2268 feat(notion): added custom integration
  .aws/task_definition_preview_beat.json
  .github/workflows/aws-preview.yml
  backend/.dockerignore
  backend/celery_worker.py
  backend/modules/brain/entity/integration_brain.py
  backend/modules/brain/integrations/Notion/Notion_connector.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/repository/brains_vectors.py
  backend/modules/brain/repository/integration_brains.py
  backend/modules/brain/service/brain_vector_service.py
  backend/modules/knowledge/repository/knowledges.py
  backend/repository/files/upload_file.py
Labels: area: backend, size:L

#2273 feat: Remove constraints and add foreign key references to brain tables
  supabase/migrations/20240228182948_notion.sql
Labels: area: scripts, size:M

#2271 chore(main): release 0.0.213
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2276 fix(frontend): zindex and radius on single selector component
  frontend/lib/components/ui/SingleSelector/SingleSelector.module.scss
Labels: area: frontend, lgtm, size:XS

#2275 chore(main): release 0.0.214
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:XS
