Repository QuivrHQ/quivr, pull requests merged in 2024-04, with the labels that each got.

#2393 feat(ingestion): Add ingestion module and routes
  backend/celery_worker.py
  backend/main.py
  backend/modules/ingestion/__init__.py
  backend/modules/ingestion/controller/__init__.py
  backend/modules/ingestion/controller/ingestion_routes.py
  backend/modules/ingestion/dto/__init__.py
  backend/modules/ingestion/dto/inputs.py
  backend/modules/ingestion/dto/outputs.py
  backend/modules/ingestion/entity/__init__.py
  backend/modules/ingestion/entity/ingestion.py
  backend/modules/ingestion/ito/__init__.py
  backend/modules/ingestion/ito/audio_transcript.py
  backend/modules/ingestion/ito/crawler.py
  backend/modules/ingestion/ito/ito.py
  backend/modules/ingestion/ito/summary.py
  backend/modules/ingestion/repository/__init__.py
  backend/modules/ingestion/repository/ingestion_interface.py
  backend/modules/ingestion/service/__init__.py
  backend/modules/ingestion/service/ingestion.py
  backend/modules/upload/controller/upload_routes.py
  backend/packages/files/file.py
  supabase/migrations/20240330233534_ingestion.sql
  supabase/migrations/20240402005455_ingestion.sql
  supabase/migrations/20240402013303_ingestion_url.sql
  supabase/seed.sql
Labels: area: backend, size:XL

#2399 feat: Add seed ingestions to supabase migrations
  supabase/migrations/20240402015128_seed-ingestions.sql
  supabase/seed.sql
Labels: area: scripts, size:M

#2400 feat: Add url_required field to IngestionEntity
  backend/modules/ingestion/entity/ingestion.py
Labels: area: backend, size:XS

#2398 Feat: Bibtex file uploads
  backend/modules/upload/tests/test_files/test.bib
  backend/modules/upload/tests/test_upload.py
  backend/packages/files/parsers/bibtex.py
  backend/packages/files/processors.py
  frontend/lib/helpers/acceptedFormats.ts
  frontend/lib/helpers/getFileIcon.tsx
  frontend/lib/types/SupportedFileExtensions.ts
Labels: area: backend, area: frontend, size:M

#2409 fix: logger level and telemetry function calls
  .vscode/settings.json
  backend/Dockerfile.dev
  backend/celery_worker.py
  backend/logger.py
  backend/main.py
  backend/models/databases/supabase/supabase.py
  backend/models/databases/supabase/user_usage.py
  backend/models/settings.py
  backend/modules/brain/controller/brain_routes.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/upload/controller/upload_routes.py
  backend/packages/utils/telemetry.py
  docker-compose.dev.yml
  frontend/app/App.tsx
  frontend/next.config.js
Labels: area: backend, area: frontend, size:M

#2410 fix: Add integration brain to subscription route
  backend/routes/subscription_routes.py
Labels: area: backend, size:S

#2415 fix(frontend): cleaner fix for onboarding
  frontend/app/search/page.tsx
Labels: area: frontend, size:S

#2416 feat(analytics): added analytics page
  backend/main.py
  backend/modules/analytics/__init__.py
  backend/modules/analytics/controller/__init__.py
  backend/modules/analytics/controller/analytics_routes.py
  backend/modules/analytics/entity/__init__.py
  backend/modules/analytics/entity/analytics.py
  backend/modules/analytics/repository/analytics.py
  backend/modules/analytics/repository/analytics_interface.py
  backend/modules/analytics/service/__init__.py
  backend/modules/analytics/service/analytics_service.py
  backend/modules/knowledge/repository/storage.py
  frontend/app/studio/BrainsTabs/components/Analytics/Analytics.module.scss
  frontend/app/studio/BrainsTabs/components/Analytics/Analytics.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainSearchBar.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainItem/BrainItem.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainsList.module.scss
  frontend/app/studio/BrainsTabs/components/ManageBrains/BrainsList/BrainsList.tsx
  frontend/app/studio/BrainsTabs/components/ManageBrains/ManageBrains.tsx
  frontend/app/studio/page.tsx
  frontend/lib/api/analytics/analytics.ts
  frontend/lib/api/analytics/types.ts
  frontend/lib/api/analytics/useAnalyticsApi.ts
  frontend/lib/components/ui/SingleSelector/SingleSelector.tsx
  frontend/lib/helpers/iconList.ts
  frontend/package.json
  frontend/yarn.lock
Labels: area: backend, area: frontend, lgtm, size:L

#2387 chore(main): release 0.0.228
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: frontend, size:S

#2417 feat: optimization calls
  backend/modules/brain/entity/integration_brain.py
  backend/modules/brain/service/brain_service.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/user/controller/user_controller.py
  frontend/app/App.tsx
Labels: area: backend, area: frontend, size:M

#2420 feat: Add assistant module and remove ingestion module
  backend/main.py
  backend/modules/assistant/__init__.py
  backend/modules/assistant/controller/__init__.py
  backend/modules/assistant/controller/assistant_routes.py
  backend/modules/assistant/dto/__init__.py
  backend/modules/assistant/dto/inputs.py
  backend/modules/assistant/dto/outputs.py
  backend/modules/assistant/entity/__init__.py
  backend/modules/assistant/entity/assistant.py
  backend/modules/assistant/ito/__init__.py
  backend/modules/assistant/ito/audio_transcript.py
  backend/modules/assistant/ito/crawler.py
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
  backend/modules/assistant/repository/__init__.py
  backend/modules/assistant/repository/assistant_interface.py
  backend/modules/assistant/service/__init__.py
  backend/modules/assistant/service/assistant.py
  backend/modules/ingestion/controller/__init__.py
  backend/modules/ingestion/dto/__init__.py
  backend/modules/ingestion/dto/inputs.py
  backend/modules/ingestion/dto/outputs.py
  backend/modules/ingestion/entity/__init__.py
  backend/modules/ingestion/repository/__init__.py
  backend/modules/ingestion/service/ingestion.py
  supabase/migrations/20240410112108_assistant.sql
Labels: area: backend, size:L

#2421 feat: assistants
  backend/modules/assistant/controller/assistant_routes.py
  backend/modules/assistant/dto/inputs.py
  backend/modules/assistant/dto/outputs.py
  backend/modules/assistant/ito/audio_transcript.py
  backend/modules/assistant/ito/crawler.py
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:L

#2425 feat: Add tags to AssistantOutput classes
  backend/modules/assistant/dto/outputs.py
  backend/modules/assistant/ito/audio_transcript.py
  backend/modules/assistant/ito/crawler.py
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:XS

#2426 feat: Add icon and description to assistant
  backend/modules/assistant/controller/assistant_routes.py
  backend/modules/assistant/dto/outputs.py
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:S

#2419 chore(main): release 0.0.229
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2432 feat(assistants): Add new input models for boolean, number, select text, and select number
  backend/modules/assistant/dto/inputs.py
  backend/modules/assistant/dto/outputs.py
Labels: area: backend, size:M

#2433 feat(assistants): Add user usage update and pricing calculation to ITO assistant
  backend/modules/assistant/dto/outputs.py
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:M

#2435 feat(assistant): improve prompt summary
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:S

#2436 feat(assistants): Add PDF generation functionality and nice emails
  .env.example
  .gitignore
  Pipfile
  Pipfile.lock
  backend/modules/assistant/ito/ito.py
  backend/modules/assistant/ito/summary.py
  backend/modules/assistant/ito/utils/__init__.py
  backend/modules/assistant/ito/utils/font/DejaVuSansCondensed-Bold.ttf
  backend/modules/assistant/ito/utils/font/DejaVuSansCondensed-Oblique.ttf
  backend/modules/assistant/ito/utils/font/DejaVuSansCondensed.ttf
  backend/modules/assistant/ito/utils/logo.png
  backend/modules/assistant/ito/utils/pdf_generator.py
  backend/requirements.txt
  docker-compose.dev.yml
Labels: area: backend, size:L

#2440 fix(assistant): summary now can output 2000 tokens
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:XS

#2439 feat(assistant): check if key of file is same as filename uploaded
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:XS

#2441 feat: Update Docker build commands and dependencies
  Makefile
  Pipfile.lock
  backend/requirements.txt
  docker-compose.dev.yml
Labels: area: backend, size:M

#2442 feat(rag): Refactor DEFAULT_DOCUMENT_PROMPT in quivr_rag.py
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, size:XS

#2445 fix(assistants): brain id is null
  backend/modules/assistant/dto/inputs.py
Labels: area: backend, size:S

#2446 feat(summary): improve prompt to get more insights
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:S

#2447 feat(aws): Update CPU and memory configurations for task definitions
  .aws/task_definition.json
  .aws/task_definition_preview.json
  .aws/task_definition_preview_beat.json
  .aws/task_definition_preview_worker.json
  .aws/task_definition_prod_worker.json
Labels: area: backend, size:M

#2434 chore(main): release 0.0.231
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2450 Update CPU and memory settings in task definition files
  .aws/task_definition.json
  .aws/task_definition_preview.json
Labels: area: backend, size:S

#2453 fix: Fix error message in SummaryAssistant class
  backend/modules/assistant/ito/summary.py
Labels: area: backend, size:XS

#2452 chore(main): release 0.0.232
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2456 Revert "refactor: reorg files in backend"
  backend/llm/__init__.py
  backend/llm/prompts/CONDENSE_PROMPT.py
  backend/llm/tests/test_knowledge_brain_qa.py
  backend/llm/utils/call_brain_api.py
  backend/llm/utils/extract_api_brain_definition_values_from_llm_output.py
  backend/llm/utils/extract_api_definition.py
  backend/llm/utils/format_chat_history.py
  backend/llm/utils/get_api_brain_definition_as_json_schema.py
  backend/llm/utils/get_prompt_to_use.py
  backend/llm/utils/get_prompt_to_use_id.py
  backend/llm/utils/make_api_request.py
  backend/llm/utils/sanitize_function_name.py
  backend/models/__init__.py
  backend/models/databases/entity.py
  backend/models/databases/repository.py
  backend/models/databases/supabase/user_usage.py
  backend/models/user_usage.py
  backend/modules/assistant/ito/ito.py
  backend/modules/brain/api_brain_qa.py
  backend/modules/brain/controller/brain_routes.py
  backend/modules/brain/integrations/Notion/Notion_connector.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/qa_headless.py
  backend/modules/brain/rags/new_quivr_rag.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/controller/chat/utils.py
  backend/modules/chat/controller/chat_routes.py
  backend/modules/knowledge/controller/knowledge_routes.py
  backend/modules/upload/controller/upload_routes.py
  backend/modules/upload/service/__init__.py
  backend/packages/files/parsers/common.py
  backend/repository/__init__.py
  backend/repository/brain/__init__.py
  backend/repository/brain/get_question_context_from_brain.py
  backend/repository/brain_subscription/__init__.py
  backend/repository/brain_subscription/get_brain_url.py
  backend/repository/brain_subscription/resend_invitation_email.py
  backend/repository/brain_subscription/subscription_invitation_service.py
  backend/repository/files/__init__.py
  backend/repository/files/generate_file_signed_url.py
  backend/repository/files/list_files.py
  backend/repository/files/upload_file.py
  backend/routes/subscription_routes.py
  backend/tests/ragas_evaluation/run_evaluation.py
Labels: size:M

#2457 refactor: reorg the files #2
  backend/modules/brain/api_brain_qa.py
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/qa_headless.py
  backend/modules/brain/rags/new_quivr_rag.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/brain/service/call_brain_api.py
  backend/modules/brain/service/get_api_brain_definition_as_json_schema.py
  backend/modules/brain/service/utils/format_chat_history.py
  backend/modules/brain/service/utils/get_prompt_to_use_id.py
  backend/modules/prompt/service/get_prompt_to_use.py
  backend/utils/call_brain_api.py
  backend/utils/extract_api_brain_definition_values_from_llm_output.py
  backend/utils/extract_api_definition.py
  backend/utils/make_api_request.py
  backend/utils/sanitize_function_name.py
Labels: area: backend, size:L

#2459 feat(gpt4): Add chat service and generate answer method to GPT4Brain class
  backend/modules/brain/integrations/GPT4/Brain.py
Labels: area: backend, size:M

#2455 chore(main): release 0.0.233
  CHANGELOG.md
Labels: autorelease: pending, area: backend, size:S

#2460 fix(gpt4): Refactor GPT4Brain and KnowledgeBrainQA classes to add non-streaming-saving-answer
  backend/modules/brain/integrations/GPT4/Brain.py
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, size:M

#2461 chore(main): release 0.0.234
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2462 fix(sources): Remove duplicate sources and add metadata to model response
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, size:S

#2463 chore(main): release 0.0.235
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, area: backend, size:XS

#2467 feat(docs): Add new brain files and update navigation
  docs/agents/summary.mdx
  docs/brains/docs-and-urls.mdx
  docs/brains/gpt4.mdx
  docs/brains/sql.mdx
  docs/deployment/aws.mdx
  docs/deployment/digital_ocean.mdx
  docs/deployment/porter.mdx
  docs/getting-started/brain.mdx
  docs/getting-started/sharing-brains.mdx
  docs/mint.json
Labels: area: cms, size:L

#2469 Feat/docs category brains agents
  docker-compose.yml
Labels: area: cms, size:S

#2470 fix(docs): update doc
  docs/features/analytics.mdx
  docs/features/brain-creation.mdx
  docs/features/brain-customisation.mdx
  docs/features/brain-sharing.mdx
  docs/features/chat.mdx
  docs/features/quivr-assistants.mdx
  docs/intro.mdx
  docs/mint.json
  docs/tech-design.mdx
  docs/use-cases/content-generation.mdx
  docs/use-cases/customer-support.mdx
  docs/use-cases/entreprise-gpt.mdx
  docs/use-cases/hr.mdx
  docs/use-cases/market-analysis.mdx
  docs/use-cases/project-management.mdx
Labels: area: cms, size:XL

#2472 feat(digital-ocean): Update deployment instructions for Digital Ocean
  docs/deployment/digital_ocean.mdx
Labels: area: backend, size:M

#2473 docs(digital-ocean): added missing photo
  docs/images/2024-04-22-21-49-27.png
Labels: area: cms, size:XS

#2475 docs: Update brain documentation and images
  docs/brains/docs-and-urls.mdx
  docs/brains/gpt4.mdx
  docs/images/brain-name-description.png
  docs/images/create-brain-doc.png
  docs/images/upload-docs-urls.png
  docs/intro.mdx
  docs/mint.json
Labels: area: cms, size:M

#2481 docs: Add environment variables, increase user usage, and add new models
  docs/configuring/environment-variables.mdx
  docs/configuring/increase-user-usage.mdx
  docs/configuring/new-model.mdx
  docs/images/supabase-table.png
  docs/images/supabase-user-settings-models.png
  docs/images/supabase-user-settings.png
  docs/mint.json
Labels: size:M

#2479 fix(frontend): Warning for Quivr Assistants
  frontend/app/assistants/page.module.scss
  frontend/app/assistants/page.tsx
Labels: area: frontend, size:M

#2477 fix(frontend): better UI for Onboarding
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
Labels: area: frontend, size:M

#2485 Revert "fix(frontend): better UI for Onboarding"
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
Labels: size:M

#2480 feat(reranker): Add flashrank and contextual compression retriever
  .env.example
  Pipfile
  Pipfile.lock
  backend/models/files.py
  backend/modules/brain/rags/quivr_rag.py
  backend/requirements.txt
  backend/tests/ragas_evaluation/run_evaluation.py
Labels: area: backend, size:L

#2487 feat(history): max tokens in the history provided
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, size:M

#2488 feat: Update chunk overlap to 200
  backend/models/files.py
Labels: size:XS

#2489 docs: Add reranking configuration guide
  docs/configuring/reranking.mdx
  docs/mint.json
Labels: size:M

#2490 docs: Update telemetry configuration in Quivr
  docs/configuring/telemetry.mdx
Labels: size:XS

#2482 chore(main): release 0.0.237
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2494 feat: Add telemetry ping task to celery worker and main.py
  backend/celery_worker.py
  backend/main.py
  backend/tests/ragas_evaluation/run_evaluation.py
Labels: area: backend, size:S

#2497 fix(backend): compute history only if needed and put some cache to remove some call…
  backend/modules/chat/controller/chat_routes.py
  backend/modules/chat/service/chat_service.py
Labels: area: backend, lgtm, size:S

#2491 chore(main): release 0.0.238
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2498 feat(citations): system added
  backend/modules/brain/knowledge_brain_qa.py
  backend/modules/brain/qa_interface.py
  backend/modules/brain/rags/quivr_rag.py
  backend/modules/chat/dto/chats.py
  backend/modules/chat/dto/inputs.py
  backend/modules/chat/repository/chats.py
Labels: area: backend, size:L

#2502 feat(frontend): add nb of knowledges per brain
  frontend/app/studio/[brainId]/BrainManagementTabs/BrainManagementTabs.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
Labels: area: frontend, size:S

#2504 docs: Update links in mint.json to add api
  docs/mint.json
Labels: size:XS

#2505 feat(docker): Update Dockerfile to install Supabase CLI
  backend/Dockerfile
Labels: area: backend, size:M

#2503 fix(frontend): fix some next errors
  frontend/app/assistants/page.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTab.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/KnowledgeTab/KnowledgeTable/KnowledgeTable.tsx
  frontend/app/studio/[brainId]/BrainManagementTabs/components/SettingsTab/components/ModelSelection/ModelSelection.tsx
  frontend/lib/components/AddBrainModal/components/BrainTypeSelectionStep/BrainCatalogue/BrainCatalogue.tsx
  frontend/lib/components/AddBrainModal/components/Stepper/Stepper.tsx
  frontend/lib/components/ui/BrainCard/BrainCard.tsx
Labels: area: frontend, lgtm, size:M

#2495 feat(frontend): show remaining credits
  backend/modules/chat/controller/chat/utils.py
  backend/modules/user/controller/user_controller.py
  backend/modules/user/repository/users.py
  backend/modules/user/repository/users_interface.py
  backend/modules/user/service/user_usage.py
  frontend/app/chat/[chatId]/hooks/useChat.ts
  frontend/app/search/page.module.scss
  frontend/app/search/page.tsx
  frontend/lib/api/user/useUserApi.ts
  frontend/lib/api/user/user.ts
  frontend/lib/components/PageHeader/PageHeader.module.scss
  frontend/lib/components/PageHeader/PageHeader.tsx
  frontend/lib/context/UserSettingsProvider/User-settings.provider.tsx
  frontend/lib/helpers/iconList.ts
Labels: area: backend, area: frontend, size:L

#2506 feat(embedding): keeping citations
  backend/models/files.py
  backend/modules/brain/rags/quivr_rag.py
  backend/packages/files/parsers/common.py
Labels: area: backend, size:S

#2507 fix(metadata): Removed citation from metadata
  backend/modules/brain/knowledge_brain_qa.py
Labels: area: backend, size:XS

#2508 Add ci-migration script
  backend/ci-migration.sh
Labels: size:S

#2509 Feat/migration ci 2
  backend/ci-migration.sh
Labels: area: backend, size:XS

#2512 feat(profiler): Add pyinstrument package and update Makefile and backend code
  Makefile
  Pipfile
  Pipfile.lock
  backend/main.py
  backend/packages/files/parsers/common.py
  backend/requirements.txt
Labels: area: backend, size:M

#2513 feat(db): Add Supabase client and database instances caching
  backend/models/settings.py
Labels: area: backend, size:S

#2501 chore(main): release 0.0.239
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:S

#2514 feat(supabase): Add logging statements and refactor Supabase client creation
  backend/models/settings.py
  backend/modules/brain/rags/new_quivr_rag.py
  backend/modules/brain/rags/quivr_rag.py
Labels: area: backend, size:L

#2516 feat(backend): use SQLAlchemy instead od supabase API
  backend/models/settings.py
  backend/modules/brain/entity/brain_entity.py
  backend/modules/brain/repository/brains.py
Labels: area: backend, lgtm, size:M

#2515 chore(main): release 0.0.240
  CHANGELOG.md
Labels: autorelease: pending, autorelease: tagged, size:XS

#2517 feat(llamaparse): Add Llama Parse integration for complex document parsing
  backend/packages/files/parsers/common.py
  docs/configuring/llamaparse.mdx
  docs/mint.json
Labels: area: backend, size:M
